{% spaceless %}

    {# получаем обороты #}
    {% set norms_day = jobdesc__get_norms( db, sp_now, date_start, date_finish ) %}
    {% if 1 == 2 %}
        norms_day
        {{ pa(norms_day) }}
    {% endif %}

    <div class="trow" onclick="$('#tr{{sp_now}}norms').toggle('slow');" style="cursor: pointer; ">

        <div class="tcell stick-left bg-white" >
            <nobr>
                <a href="#" onclick="return false;" >
                    <b>Параметры нормы дня</b>
                    {#скрыть/показать#}</a>
            </nobr>
        </div>

        {% for i in range(low=0, high=35, step=1) %}  

            {% set now_date = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
            {% if date_finish >= now_date %}
                {% if norms_day[now_date]['vuruchka_on_1_hand'] is defined or norms_day[now_date]['time_wait_norm_cold'] is defined or norms_day[now_date]['kolvo_hour_in1smena'] is defined %} 
                    <div class="tcell" >
                    </div>         
                {% else %}
                    <div class="tcell text-center" style="background-color: rgba(255,0,0,0.4);"  >
                        не&nbsp;заполнено
                    </div>         
                {% endif %}  

            {%  endif %}

        {%  endfor %}

    </div>         

    <div class="trow" id="tr{{sp_now}}norms" style="display:none;">

        <div class="tcell stick-left bg-white" style="line-height: 26px;" >
            <nobr>
                выручка на 1 руки
                <br/>
                время ожидания хол. цех
                <br/>
                время ожидания гор. цех
                <br/>
                время ожидания доставка
                <br/>
                % в ЗП от оборота
                <br/>
                кол-во час. в 1 смене
            </nobr>
        </div>         

        {% for i in range(low=0, high=35, step=1) %}  

            {% set now_date = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
            {% if date_finish >= now_date %}

                <div class="tcell" >
                    <div class='text-center' style="line-height: 22px;">
                            <nobr1>
                                {#{ session.now_user_di.access }#}
                                {% if 1 == 2 and session.now_user_di.access == 'moder' %}

                                    <input class="input-norms on_change_show_block" 
                                           {% if norms_day[now_date]['vuruchka_on_1_hand'] is defined %}
                                               value="{{ norms_day[now_date]['vuruchka_on_1_hand'] }}" 
                                           {% endif %}
                                           readonly="readonly"
                                           >

                                    <br/>

                                    <input class="input-norms on_change_show_block" 
                                           {% if norms_day[now_date]['time_wait_norm_cold'] is defined %}
                                               value="{{ norms_day[now_date]['time_wait_norm_cold'] }}"
                                           {% endif %}
                                           readonly="readonly"
                                           >

                                    <br/>

                                    <input class="input-norms on_change_show_block" 
                                           {% if norms_day[now_date]['time_wait_norm_hot'] is defined %}
                                               value="{{ norms_day[now_date]['time_wait_norm_hot'] }}"
                                           {% endif %}
                                           readonly="readonly"
                                           >

                                    <br/>

                                    <input class="input-norms on_change_show_block" 
                                           {% if norms_day[now_date]['time_wait_norm_delivery'] is defined %}
                                               value="{{ norms_day[now_date]['time_wait_norm_delivery'] }}"
                                           {% endif %}
                                           readonly="readonly"
                                           >

                                    <br/>

                                    <input class="input-norms on_change_show_block" 
                                           {% if norms_day[now_date]['procent_oplata_truda_on_oborota'] is defined %}
                                               value="{{ norms_day[now_date]['procent_oplata_truda_on_oborota'] }}"
                                           {% endif %}
                                           readonly="readonly"
                                           >

                                    {% if norms_day[now_date]['kolvo_hour_in1smena'] is defined %}
                                        <br/>
                                        <input class="input-norms on_change_show_block" 
                                               value="{{ norms_day[now_date]['kolvo_hour_in1smena'] }}"
                                               readonly="readonly"
                                               >

                                    {% endif %}


                                {% elseif 1 == 1 or session.now_user_di.access == 'admin' %}

                                    <form action="" method="POST" class="send_form_to_ajax" 

                                          {# показываем блок после отправки запроса #}
                                          after_send_show="#res{{sp_now}}{{ now_date }}"

                                          {# результат сюда #}
                                          resto="#res{{sp_now}}{{ now_date }}"

                                          {# что скрыть после успешного выполнения #}
                                          hide_before_job_ok="#form{{sp_now}}{{ now_date }}"

                                          ajax_action="/vendor/didrive_mod/jobdesc/1/didrive/ajax.php"
                                          >

                                        <input type="hidden" name="action" value="edit_norms" >
                                        <input type="hidden" name="sp" value="{{ sp_now }}" >
                                        <input type="hidden" name="date" value="{{ now_date }}" >
                                        <input type="hidden" name="id" value="{{ sp_now }}{{ now_date }}" >
                                        <input type="hidden" name="s" value="{{ creatSecret(sp_now~now_date) }}" >

                                        {#
                                        <input class="input-norms on_change_show_block" 
                                               on_change_show_block="#form{{sp_now}}{{ now_date }}"
                                               type="number" min="1" max="200000" step="1"
                                               name="vuruchka"
                                               {% if norms_day[now_date]['vuruchka'] is defined %}
                                                   value="{{ norms_day[now_date]['vuruchka'] }}" 
                                               {% else %}
                                               {% endif %}
                                               >
                                        <br/>
                                        #}

                                        <input class="input-norms on_change_show_block" 
                                               on_change_show_block="#form{{sp_now}}{{ now_date }}"
                                               type="number" min="1" max="200000" step="1"
                                               name="vuruchka_on_1_hand"
                                               {% if norms_day[now_date]['vuruchka_on_1_hand'] is defined %}
                                                   value="{{ norms_day[now_date]['vuruchka_on_1_hand'] }}" 
                                               {% else %}
                                               {% endif %}
                                               >

                                        <br/>

                                        <input class="input-norms on_change_show_block" 
                                               on_change_show_block="#form{{sp_now}}{{ now_date }}"
                                               type="number" min="1" max="200" step="1"
                                               name="time_wait_norm_cold"
                                               {% if norms_day[now_date]['time_wait_norm_cold'] is defined %}
                                                   value="{{ norms_day[now_date]['time_wait_norm_cold'] }}"
                                               {% else %}
                                               {% endif %}
                                               >

                                        <br/>

                                        <input class="input-norms on_change_show_block" 
                                               on_change_show_block="#form{{sp_now}}{{ now_date }}" 
                                               type="number" min="1" max="200" step="1"
                                               name="time_wait_norm_hot"
                                               {% if norms_day[now_date]['time_wait_norm_hot'] is defined %}
                                                   value="{{ norms_day[now_date]['time_wait_norm_hot'] }}"
                                               {% else %}
                                               {% endif %}
                                               >

                                        <br/>

                                        <input class="input-norms on_change_show_block" 
                                               on_change_show_block="#form{{sp_now}}{{ now_date }}"
                                               type="number" min="1" max="200" step="1"
                                               name="time_wait_norm_delivery"
                                               {% if norms_day[now_date]['time_wait_norm_delivery'] is defined %}
                                                   value="{{ norms_day[now_date]['time_wait_norm_delivery'] }}"
                                               {% else %}
                                               {% endif %}
                                               >

                                        <br/>

                                        <input class="input-norms on_change_show_block" 
                                               on_change_show_block="#form{{sp_now}}{{ now_date }}"
                                               type="number" min="1" max="50" step="0.5"
                                               name="procent_oplata_truda_on_oborota"
                                               {% if norms_day[now_date]['procent_oplata_truda_on_oborota'] is defined %}
                                                   value="{{ norms_day[now_date]['procent_oplata_truda_on_oborota'] }}"
                                               {% else %}
                                               {% endif %}
                                               >

                                        <br/>
                                        <input class="input-norms on_change_show_block" 
                                               on_change_show_block="#form{{sp_now}}{{ now_date }}"
                                               type="number" min="1" max="44" step="0.5"
                                               name="kolvo_hour_in1smena"
                                               {% if norms_day[now_date]['kolvo_hour_in1smena'] is defined %}
                                                   value="{{ norms_day[now_date]['kolvo_hour_in1smena'] }}"
                                               {% endif %}
                                               >

                                        {% if norms_day[now_date]['type'] is defined and norms_day[now_date]['type'] == 'copy' %}
                                            <br/>
                                            <abbr style="color:gray" title="значения от дня с лева, от {{ norms_day[now_date]['date'] }}">copy</abbr>
                                        {% endif %}



                                        <span id="form{{sp_now}}{{ now_date }}" style="display:none;">

                                            </br>
                                            </br>

                                            сохранить 
                                            <br/>
                                            и скопировать
                                            <br/>
                                            значения
                                            <br/>
                                            на <abbr title=" в этом месяце " >дни недели</abbr>

                                            <div class="list_day_ned" >
                                                <label><input type="checkbox" name="copyto[1]" value="1" >Пн</label> 
                                                <br/>
                                                <label><input type="checkbox" name="copyto[2]" value="1" >Вт</label> 
                                                <label><input type="checkbox" name="copyto[3]" value="1" >Ср</label> 
                                                <br/>
                                                <label><input type="checkbox" name="copyto[4]" value="1" >Чт</label> 
                                                <label><input type="checkbox" name="copyto[5]" value="1" >Пт</label> 
                                                <br/>
                                                <label><input type="checkbox" name="copyto[6]" value="1" >Сб</label> 
                                                <label><input type="checkbox" name="copyto[0]" value="1" >Вс</label> 
                                            </div>

                                            <input type="submit" class="btn btn-xs btn-success" value="сохранить" style="margin-bottom:2px;">
                                            <br/>
                                            <input type="button" class="btn btn-xs btn-light" value="скрыть форму" onclick="$('#form{{sp_now}}{{ now_date }}').hide('slow');" >

                                        </span>

                                        <div id="res{{sp_now}}{{ now_date }}" style="display:none;padding:5px; background-color: yellow; text-align: left;"  >
                                            <img src="/img/load.gif" alt="" border="" style="width: 80%;" />
                                        </div>

                                    </form>
                                {% endif %}
                            </nobr1>

                    </div>
                </div>
            {% endif %}

        {% endfor %}

    </div>

{% endspaceless %}