{% spaceless %}
    
    {#{{ pa(i) }}#}
    {#{{ pa(auto_bonus) }}#}
    
    <div class="xtext-center show_down_hiden plus {{ i.status }}" >
        <b>+{{ i.summa|number_format(0, '.', '`') }}</b> &nbsp;
        <small>{{ i.text }}</small>

        {% if i.status == 'hide' %}
            <br/>отменено<br/>
        {% endif %}

        <span class="hide_down" >
            {#{ pa(plus) }#}

            {% if i.status == 'hide' %}

                {#
                <a href="#" class="act act_smena btn3" action="recover_smena" 
                   go_answer="Хотите восстановить смену ?"
                   id2="{{ k1 }}" s2="{{ creatSecret( k1 ) }}" resto="ares{{ k1 }}" show_id="ares{{ k1 }}" hidethis="da" >восстановить</a>
                #}

                <a href="#" class="btn3 edit_items_dop_values drop2_{{ k1 }} btn btn-xs btn-light" 
                   xstyle='display:none;'
                   {# действие после вопроса #}
                   comit_answer="Отменить премию ?"

                   {# замена доп параметра #}
                   action="edit_dop_item"

                   {# модуль итемов #}
                   itemsmod="072.plus"
                   {# id итема #}
                   item_id="{{ i.id }}"

                   {# новое значение статуса записи #}
                   new_status="show"
                   {# секрет #}
                   s3="{{ creatSecret( '072.plus-'~i.id~'-show' ) }}" 

                   {# скрыть ссылку после клика #}
                   hidethis="da" 
                   {# сделать видимым блок по id #}
                   show_id="ares{{ i.id }}" 
                   {# id куда печатаем результат #}
                   res_to_id="ares{{ i.id }}" 
                   {# сообщение печатаем если всё ок #}
                   msg_to_success="Восстановлено"

                   >восстановить</a>

            {% elseif i.status == 'show' %}

                {#
                <a href="#" class="act act_smena btn3" 
                   go_answer="Хотите удалить минус ?"
                   action="delete_plus" id2="{{ mk }}" s2="{{ creatSecret( mk ) }}" resto="ares{{ k1 }}" show_id="ares{{ k1 }}" hidethis="da" 
                   
                   >отменить взыскание</a>
                #}

                <a href="#" class="btn3 edit_items_dop_values drop2_{{ k1 }} btn btn-xs btn-light" 
                   xstyle='display:none;'
                   {# действие после вопроса #}
                   comit_answer="Отменить премию ?"

                   {# замена доп параметра #}
                   action="edit_dop_item"

                   {# модуль итемов #}
                   itemsmod="072.plus"
                   {# id итема #}
                   item_id="{{ i.id }}"

                   {# название доп параметра #}
                   {# dop_name="pay_check" #}
                   {# новое значение параметра #}
                   {# dop_new_value="no" #}
                   {# секрет #}
                   {# s3="{{ creatSecret( '050.chekin_checkout-'~i.id~'-pay_check-no' ) }}"  #}

                   {# новое значение статуса записи #}
                   new_status="hide"
                   
                   {# секрет #}
                   s3="{{ creatSecret( '072.plus-'~i.id~'-hide' ) }}" 

                   {# скрыть ссылку после клика #}
                   hidethis="da" 
                   
                   {# сделать видимым блок по id #}
                   show_id="ares{{ i.id }}" 
                   
                   {# id куда печатаем результат #}
                   res_to_id="ares{{ i.id }}" 
                   
                   {# сообщение печатаем если всё ок #}
                   msg_to_success="Отменено"

                   {# print_res_to_id="ares{{ k1 }}" #}

                   >Отменить премию</a>

            {% endif %}

        </span>
        <div id="ares{{ i.id }}" style="display:none;"></div>
    </div>

{% endspaceless %}