{% spaceless %}

    {# итого за день #}

    <div class="trow" >

        <div class="tcell stick-left bg-white" >
            <b>Отработано часов</b>
            <div style="text-align:right;" >
                Для ЗП:
                <br/>
                Всего:
            </div>
        </div>         

        {% for i in range(low=0, high=35, step=1) %}  

            {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
            {% if date_finish >= now_date2 %}

                <div class="tcell text-center" id="hoursday_{{ now_date2 }}" >

                    {% if 2 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}

                    {% set hours_a = jobdesc__calculateHoursOnJob( db, sp_now, now_date2 ) %}
                    &nbsp;
                    <br/>
                    {{ hours_a.data.hours_calc_auto ?? '-' }}
                    <br/>
                    {{ hours_a.data.hours_all ?? '-' }}

                    {% if 2 == 1 or timer_show == 'on' %} <br/>время timeo - {{ didrive_f__timer_stop(5) }} {% endif %}

                </div>

            {% endif %}


        {% endfor %}

    </div>

{% endspaceless %}