{% spaceless %}

    <div class="trow" >
        <div class="tcell stick-left bg-white" >

            <div class="btn-group" style="float:right;" >

                <div style="float:right; display:inline-block;" 
                     class="option_img" 
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                     ><i xonclick='$(".sp_{{ sp_now }} .show_2div").toggle("slow"); return false;' 
                    class="fa fa-cog"></i></div>

                <div class="dropdown-menu">

                    {# модальные окошки, само окошко в самом низу #}
                    <a href="/vendor/didrive_mod/jobdesc/1/ajax.php?action=calc_mont_sp&sp={{ sp_now }}&2return=html&goto={{ server.REQUEST_URI|url_encode }}" class="dropdown-item btn-light" >просчитать оценки месяца</a>

                </div>
            </div>


            <nobr>

                <a href="#" onclick="$('.tr{{sp_now}}ras').toggle('slow');
                        return false;" >
                    <b>Расчёт оценки дня</b>
                    {# скрыть/показать #}
                </a>

            </nobr>

            {% set ocenki_day = jobdesc__get_ocenki_days( db, sp_now, date_start, date_finish ) %}

        </div>

        {% for i in range(low=0, high=35, step=1) %}  

            {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}

            {# получаем массив в стартовом body - ocenki_day #}

            {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}

            {% if now_date2|date("U") < "now"|date_modify("-1 day")|date("U") %}

                <div class="tcell tr{{sp_now}}ras" >

                    {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                        {#
                        {{ i }} - {{ now_date2 }} <Br/>
                        #}

                        <div class='text-center'>
                            <a href="#" class="jobdesc__calc_full_ocenka_day" style="display:block;"

                               forajax_action="calc_full_ocenka_day" 

                               forajax_id="{{ sp_now }}_{{ i }}" 
                               forajax_id2="{{ sp_now }}" 
                               forajax_s="{{ creatSecret(  sp_now ~ '_' ~ i ) }}" 
                               forajax_s2="{{ creatSecret(  sp_now ) }}" 

                               forajax_show_timer="da" 

                               forajax_sp="{{ sp_now }}" 

                               forajaxx_jobman="{{ man.id }}" 
                               forajaxx_date_start="{{ date_start }}"  
                               forajaxx_date_fin="{{ date_finish }}" 

                               forajax_date="{{ now_date2 }}" 
                               res_to_id="ocenka_{{ sp_now }}_{{ i }}"

                               xanswer="Грузим данные времени ожидания ?"

                               onclick="$('#ocenka_info_{{ sp_now }}_{{ i }}').hide('slow');"

                               >расчитать оценку</a>


                            <div id="ocenka_{{ sp_now }}_{{ i }}" style="text-align:left; xmin-width: 250px;"></div>


                            {#
                            {% if oborots[now_date2]['oborot_server'] is defined %}
                                {{ oborots[now_date2]['oborot_server']|number_format(0, '.', '`') }} <sup><abbr title="Авто значение с сервера">А</abbr></sup>
                            {% elseif oborots[now_date2]['oborot_hand'] is defined %}
                                {{ oborots[now_date2]['oborot_hand']|number_format(0, '.', '`') }}  <sup><abbr title="значение руками">Р</abbr></sup>
                            {% else %}
                                нет данных <sup><a href="" title="добавить" onclick="$('#{{sp_now}}_{{nd}}').toggle('slow');
                                        return false;">++</a></sup>
    
                                <form action="" method="post" id="{{sp_now}}_{{nd}}" style="display:none;">
                                    <input type="number" value="" min="0" max="900000" step="1" />
                                    <button class="btn btn-xs btn-success" xtype="number" name="" value="" >добавить</button>
                                </form>
    
                            {% endif %}
                            #}

                        </div>


                        <div id="a_price_{{ sp_now }}_{{ now_date2 }}" >


                            <div id="ocenka_info_{{ sp_now }}_{{ i }}" style="text-align:left;">
                                {% if ocenki_day[now_date2] is defined %}
                                    {#{ pa(ocenki_day[sp_now][now_date2]) }#}

                                    {% set now_ocenka = ocenki_day[now_date2] %}

                                    {#{ pa(now_ocenka) }#}

                                    <div class="text-center">
                                        <nobr>
                                            <div class="ocenka_show all{{ now_ocenka['ocenka'] }}" >
                                                Оценка дня: {{ now_ocenka['ocenka'] }}
                                            </div>
                                            <br/>
                                            <abbr title="Оценка по обороту" class="ocenka_show ob{{ now_ocenka['ocenka_oborot'] }}">{{ now_ocenka['ocenka_oborot'] }}</abbr>
                                            <abbr title="Оценка по времени ожидания" class="ocenka_show time{{ now_ocenka['ocenka_time'] }}">{{ now_ocenka['ocenka_time'] }}</abbr>
                                            <abbr title="На 1 руки" class="ocenka_show naruki{{ now_ocenka['ocenka_naruki'] }}">{{ now_ocenka['ocenka_naruki'] }}</abbr>
                                        </nobr>
                                    </div>

                                    {#{  pa(ocenki_day[now_date2]['txt']) }#}

                                {% endif %}
                            </div>

                        </div>

                    {% endif %}
                </div>

            {% endif %}

        {% endfor %}

        {#
    </span>
        #}

    </div>

{% endspaceless %}