{% spaceless %}

    {#
    {{ pa(spoint) }}
    {{ pa(date) }}
    {{ pa(man) }}
    #}
    
    {% set now_spec_nazn = false %}

    {% if 
        spec_jobs_on_sp[now_job.jobman][now_job.d1]['sale_point'] is defined 
        and spec_jobs_on_sp[now_job.jobman][now_job.d1]['sale_point'] != now_job.sale_point %}

        {#{ pa(spec_jobs_on_sp[now_job.jobman][now_job.d1]) }#}
        {#{ pa(now_job) }#}
        {#{ pa(sps) }#}

        <div class="alert-warning text-center" style="padding: 5px 2px;" >
            спец.назначение Отправлен на работу в {{ sp.data[spec_jobs_on_sp[now_job.jobman][now_job.d1]['sale_point']]['head'] }}
        </div>
        {% set now_spec_nazn = true %}

    {% endif %}

    
    
    
    
    
    {% if checki[date][man.id] is defined %}
        
        {% for k1, v1 in checki[date][man.id] if v1.status != 'delete' %} 

            {#{ pa(v1) }#}
            
            {#% if payed[v1.id ] #}
            

            {# смена #}
            {% include dir_mod_now_mod_ditpl~'body.mans.item.smena.htm' %}

        {% endfor %}
    {% endif %}

    {% if comments.data is defined %}
        
    {#{ pa(comments.data ) }#}
        {% for k1, v1 in comments.data if v1.dop.sale_point == sp_now and v1.dop.date_to == date and v1.dop.jobman == man.id and v1.status == 'show' %} 

            <div class="show_1comment" >
                        <a href="#" class="act act_smena btn3" 
                           style="float:right;"
                       go_answer="удалить комментарий ?"
                       action="delete_comment" id2="{{ v1.id }}" s2="{{ creatSecret( v1.id ) }}" resto="ares{{ v1.id }}" show_id="ares{{ v1.id }}" hidethis="da" ><i class="fa fa-times"></i></a>
                {{ v1.dop.comment }}</div>
                
            <div id="ares{{ k1 }}" style="display:none;"></div>
                
            {#{ pa(v1) }#}

        {% endfor %}
    {% endif %}
    
    <a href="" class="put_var_in_modal btn btn-xs btn-light" 

       data-toggle2="modal" 
       data-target2="#add_jobday_for_jobman" 

       jobman="{{ man.id }}"
       salepoint="{{ spoint.id }}"

       toform_sp="{{ spoint.id }}"
       toform_sp_name="{{ spoint.head }}"

       toform_jobman="{{ man.id }}"
       toform_jobman_name="{{ man.head }}"

       date="{{ date }}"
       print_res_to_id="res{{ spoint.id }}{{ man.id }}{{ date }}"

       {% set ss = spoint.id ~ man.id %}
       id2="{{ ss }}"
       s2="{{ creatSecret( ss ) }}"

       ><nobr><span class="fa fa-plus" ></span> смену</nobr></a>

       

    <div id="res{{ spoint.id }}{{ man.id }}{{ date }}" ></div>

    <a href="" class="put_var_in_modal btn btn-xs btn-light"

       data-toggle2="modal" 
       data-target2="#add_comment" 

       jobman="{{ man.id }}"
       sale_point="{{ spoint.id }}"

       date_to="{{ date }}"
       print_res_to_id="res{{ spoint.id }}{{ man.id }}{{ date }}comment"

       creator="{{ session.now_user_di.id }}"
       
       toform_sp="{{ spoint.id }}"
       toform_sp_name="{{ spoint.head }}"

       toform_jobman="{{ man.id }}"
       toform_jobman_name="{{ man.head }}"


       {% set ss = spoint.id ~ man.id %}
       id2="{{ ss }}"
       s2="{{ creatSecret( ss ) }}"

       ><nobr><span class="fa fa-plus" ></span> комментарий</nobr></a>

    <div id="res{{ spoint.id }}{{ man.id }}{{ date }}comment" ></div>    
    

{% endspaceless %}