{% spaceless %}

    {#% set timer_show = 'on' %#}

    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% set time_ex = ApiYadom_time_ex_get_timer_on_sp( db, sp_now, date_start, date_finish ) %}
    {% if timer_show == 'on' %} <br/>время 06 ApiYadom_time_ex_get_timer_on_sp - {{ didrive_f__timer_stop(5) }} {% endif %}

    {#
    time_ex
    {{ pa(time_ex,2) }}
    #}

    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% set time_ex_default = get_timers_on_sp_default( db ) %}
    {% if timer_show == 'on' %} <br/>время get_timers_on_sp_default - {{ didrive_f__timer_stop(5) }} {% endif %}

    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% set norms_day = jobdesc__get_norms( db, sp_now, date_start, date_finish ) %}
    {% if timer_show == 'on' %} <br/>время norms_day - {{ didrive_f__timer_stop(5) }} {% endif %}

    {#% set timer_show = 'on1' %#}

    <div class="trow" onclick="$('#tr{{sp_now}}times').toggle('slow');" style="cursor:pointer;">

        <div class="tcell stick-left bg-white"   >

            <nobr>
                <b style="color:blue;">Время ожидания</b>
            </nobr>

        </div>

        {% for i in range(low=0, high=35, step=1) %}  

            {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
            {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}
            {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                <div class="tcell" >

                    {% if norms_day[now_date2]['time_wait_norm_cold'] is not defined %}
                        
                        <center style="color:gray" >заполните нормы&nbsp;дня</center>
                        
                    {% else %}
                    
                    {% if now_date2|date("U") < "now"|date_modify("-1 day")|date("U") %}                    

                        {#{ pa(norms_day) }#}
                        {#{ pa(norms_day[now_date2]) }#}

                        <div class='text-center' xstyle="color:gray;">

                            {% if time_ex[now_date2]['cold_hand'] is defined and time_ex[now_date2]['cold_hand'] > 0 %}
                                {{ time_ex[now_date2]['cold_hand'] }}
                            {% elseif time_ex[now_date2]['cold'] is defined and time_ex[now_date2]['cold'] > 0 %}
                                {{ time_ex[now_date2]['cold'] }}
                            {% elseif time_ex_default['cold'] is defined %}<font color="gray" >{{ time_ex_default['cold'] }}</font>
                            {% else %}-{% endif %}

                            /

                            {% if norms_day[now_date2]['time_wait_norm_hot'] is not defined %}
                                -
                            {% else %}

                                {% if time_ex[now_date2]['hot_hand'] is defined and time_ex[now_date2]['hot_hand'] > 0 %}
                                    {{ time_ex[now_date2]['hot_hand'] }}
                                {% elseif time_ex[now_date2]['hot'] is defined and time_ex[now_date2]['hot'] > 0 %}
                                    {{ time_ex[now_date2]['hot'] }}
                                {% elseif time_ex_default['hot'] is defined %}<font color="gray" >{{ time_ex_default['hot'] }}</font>
                                {% else %}-{% endif %}

                            {% endif %}

                            /

                            {% if norms_day[now_date2]['time_wait_norm_delivery'] is not defined %}
                                -
                            {% else %}

                                {% if time_ex[now_date2]['delivery_hand'] is defined and time_ex[now_date2]['delivery_hand'] > 0 %}
                                    {{ time_ex[now_date2]['delivery_hand'] }}
                                {% elseif time_ex[now_date2]['delivery'] is defined and time_ex[now_date2]['delivery'] > 0 %}
                                    {{ time_ex[now_date2]['delivery'] }}
                                {% elseif time_ex_default['delivery'] is defined %}<font color="gray" >{{ time_ex_default['delivery'] }}</font>
                                {% else %}-{% endif %}

                            {% endif %}

                        </div>
                    {% endif %}

                    {% endif %}

                    {#{ pa(norms_day[now_date2]) }#}

                </div>
            {% endif %}
        {% endfor %}

    </div>

    <div class="trow timeo_tr" id="tr{{sp_now}}times" style="display:none;">
        <div class="tcell stick-left bg-white" >

            <div style="float:right; display:inline-block;" class="option_img" ><i onclick='$("body .timeo_{{ sp_now }}_{{ man.id }}").toggle("slow");
                    return false;' class="fa fa-cog"></i></div>

            Холодный цех

            <br/>
            Горячий цех

            <br/>
            Доставка

            <div class="timeo_{{ sp_now }}_{{ man.id }} " style="display:none;" > 
                <a href="#" class="yadom_time_expectation__get_timeo_for_sp" 
                   style="display:block;"

                   forajax_action="load_data_from_server" 
                   forajax_s="{{ creatSecret('load_checks_for_1jobman') }}" 
                   forajax_show_timer="da" 

                   forajax_sp="{{ sp_now }}" 
                   {#forajax_jobman="{{ man.id }}" #}
                   forajax_date_start="{{ date_start }}"  
                   forajax_date_fin="{{ date_finish }}" 
                   res_to_id="timeo_{{ sp_now }}"
                   answer="Грузим данные времени ожидания ?"
                   >загрузить время ожидания</a>
            </div>

            <div id="timeo_{{ sp_now }}" ></div>

        </div>         

        {% for i in range(low=0, high=35, step=1) %}  

            {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
            {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}
            {% if date_finish|date("d.m.Y")|date("U") >= nd %}


                <div class="tcell timeo_td" >
                    
            {% if 1 == 1 %}

                <div style="float:right; display:inline-block;" class="option_img" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                    <i xonclick='$(".sp_{{ sp_now }} .show_2div").toggle("slow"); return false;' class="fa fa-cog"></i>
                </div>

                <div class="dropdown-menu">
                    
                    {# универсальное модальное окошко используем #}
                    {#
                    <a 
                        href="#" 
                        class="dropdown-item btn-light base_modal_go"
                        data-toggle="modal" data-target="#di_modal" 

                        modal_header='считаем среднее время ожидания за день'
                        ajax_link='/vendor/didrive_api/yadom_time_expectation/ajax.php'
                        ajax_vars='action=get_times_noajax&sp={{ sp_now }}&date_start={{ now_date2 }}&date_finish={{ now_date2 }}&view=html&show_dop_info=12'

                        >
                        грузим и считаем время за день
                    </a>
                    #}
                    
                    <a 
                        href="#" 
                        class="dropdown-item btn-light base_modal_go"
                        data-toggle="modal" data-target="#di_modal" 

                        modal_header='считаем среднее время ожидания за день'
                        ajax_link='/vendor/didrive_api/yadom_time_expectation/ajax.php'
                        ajax_vars='action=get_times_noajax&sp={{ sp_now }}&date_start={{ now_date2 }}&date_finish={{ now_date2 }}&resave_res=da&xview=html&xshow_dop_info=12'

                        >
                        считаем время и записываем если отличается
                    </a>
                        
                </div>
            {% endif %}
                    
                    {% if now_date2|date("U") < "now"|date_modify("-1 day")|date("U") %}                    
                        <div class='text-center'>

                            {% if time_ex[now_date2]['cold_hand'] is defined and time_ex[now_date2]['cold_hand'] > 0 %}

                                {% if time_ex[now_date2]['cold'] is defined and time_ex[now_date2]['cold'] > 0 %}
                                    <strike style="color:gray;">
                                        {{ time_ex[now_date2]['cold'] }}
                                    </strike>
                                {% endif %} 

                                {#
                                {{ time_ex[now_date2]['cold_hand'] }}
                                #}

                            {% elseif time_ex[now_date2]['cold'] is defined and time_ex[now_date2]['cold'] > 0 %}
                                {{ time_ex[now_date2]['cold'] }}
                            {% elseif time_ex_default['cold'] is defined %}
                                <font color="gray" >{{ time_ex_default['cold'] }}</font>
                            {% else %}
                                -
                            {% endif %}



                            {% set pole7 = 'cold_hand' %}
                            <input type="number" max="300" min="0" 

                                   placeholder=".."
                                   title="холодный цех"

                                   value="{% if time_ex[now_date2][ pole7 ] is defined 
                                            and time_ex[now_date2][ pole7 ] > 0 %}{{ time_ex[now_date2][ pole7 ] }}{% endif %}"

                                   class="form-control didrive__edit_items_dop_pole"

                                   edit_item_id="{{ time_ex[now_date2]['id'] }}"
                                   edit_dop_name="{{ pole7 }}"
                                   edit_s="{{ creatSecret( time_ex[now_date2]['id']~ pole7 ) }}"

                                   pole_price_id="a_timeo_{{ sp_now }}_{{ now_date2 }}"
                                   text_in_pole_price_id="<br/><center>время ожидания изменили, текущая автооценка удалена</center>"

                                   delete_ocenka_sp="{{ sp_now }}"
                                   delete_ocenka_date="{{ now_date2 }}"
                                   delete_ocenka_s="{{ creatSecret( sp_now~now_date2 ) }}"

                                   />                            



                            <Br/>

                            {% if norms_day[now_date2]['time_wait_norm_hot'] is not defined %}
                                -
                            {% else %}


                                {% if time_ex[now_date2]['hot_hand'] is defined and time_ex[now_date2]['hot_hand'] > 0 %}


                                    {% if time_ex[now_date2]['hot'] is defined and time_ex[now_date2]['hot'] > 0 %}
                                        <strike style="color:gray;">
                                            {{ time_ex[now_date2]['hot'] }}
                                        </strike>
                                    {% endif %} 

                                    {#
                                    {{ time_ex[now_date2]['hot_hand'] }}
                                    #}

                                {% elseif time_ex[now_date2]['hot'] > 0 %}
                                    {{ time_ex[now_date2]['hot'] }}
                                {% elseif time_ex_default['hot'] is defined %}<font color="gray" >{{ time_ex_default['hot'] }}</font>
                                {% else %}-{% endif %}



                                {% set pole7 = 'hot_hand' %}
                                <input type="number" max="300" min="0" 

                                       placeholder=".."
                                       title="горячий цех"

                                       value="{% if time_ex[now_date2][ pole7 ] is defined 
                                            and time_ex[now_date2][ pole7 ] > 0 %}{{ time_ex[now_date2][ pole7 ] }}{% endif %}"

                                       class="form-control didrive__edit_items_dop_pole"

                                       edit_item_id="{{ time_ex[now_date2]['id'] }}"
                                       edit_dop_name="{{ pole7 }}"
                                       edit_s="{{ creatSecret( time_ex[now_date2]['id']~ pole7 ) }}"

                                       pole_price_id="a_timeo_{{ sp_now }}_{{ now_date2 }}"
                                       text_in_pole_price_id="<br/><center>время ожидания изменили, текущая автооценка удалена</center>"

                                       delete_ocenka_sp="{{ sp_now }}"
                                       delete_ocenka_date="{{ now_date2 }}"
                                       delete_ocenka_s="{{ creatSecret( sp_now~now_date2 ) }}"

                                       />

                            {% endif %}

                            
                            
                            <Br/>




                            {% if norms_day[now_date2]['time_wait_norm_delivery'] is not defined %}
                                -
                            {% else %}



                                {% if time_ex[now_date2]['delivery_hand'] is defined %}

                                    {% if time_ex[now_date2]['delivery'] is defined and time_ex[now_date2]['delivery'] > 0 %}
                                        <strike style="color:gray;">
                                            {{ time_ex[now_date2]['delivery'] }}
                                        </strike>
                                    {% endif %} 

                                    {#
                                    {{ time_ex[now_date2]['delivery_hand'] }}
                                    #}

                                {% elseif time_ex[now_date2]['delivery'] > 0 %}
                                    {{ time_ex[now_date2]['delivery'] }}
                                {% elseif time_ex_default['delivery'] is defined %}<font color="gray" >{{ time_ex_default['delivery'] }}</font>
                                {% else %}-{% endif %}



                                {% set pole7 = 'delivery_hand' %}
                                <input type="number" max="300" min="0" 

                                       placeholder=".."
                                       title="доставка"

                                       value="{% if time_ex[now_date2][ pole7 ] is defined 
                                            and time_ex[now_date2][ pole7 ] > 0 %}{{ time_ex[now_date2][ pole7 ] }}{% endif %}"

                                       class="form-control didrive__edit_items_dop_pole"

                                       edit_item_id="{{ time_ex[now_date2]['id'] }}"
                                       edit_dop_name="{{ pole7 }}"
                                       edit_s="{{ creatSecret( time_ex[now_date2]['id']~ pole7 ) }}"

                                       pole_price_id="a_timeo_{{ sp_now }}_{{ now_date2 }}"
                                       text_in_pole_price_id="<br/><center>время ожидания изменили, текущая автооценка удалена</center>"

                                       delete_ocenka_sp="{{ sp_now }}"
                                       delete_ocenka_date="{{ now_date2 }}"
                                       delete_ocenka_s="{{ creatSecret( sp_now~now_date2 ) }}"

                                       />

                            {% endif %}

                        </div>
                    {% endif %}


                    {#% if session.now_user_di.access == 'admin' and time_ex[now_date2] is defined %}
                    {% endif %#}

                    <div id="a_timeo_{{ sp_now }}_{{ now_date2 }}"></div>


                </div>
            {% endif %}
        {% endfor %}

    </div>

{% endspaceless %}