{% spaceless %}


    {# если было новое назначение #}
    {#
    {% if getListJobsPeriodAll.data.norm.data[user_v['jobman']][date] is defined %}
        {% set now_dolgn = getListJobsPeriodAll.data.norm.data[user_v['jobman']][date] %}
    {% endif %}
    #}

    <div class="tcell graph_cell graph_cell_1sp_man_day" id="sp_man_day_d{{ date }}_sp{{sp_now}}_u{{ user_id }}" >

        <div class="btn-group" style="text-align:right;display:block;xfloat:right;" >

            <div class="option_img" 
                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                 ><i 
                    xonclick='
                    $(".c{{ user_id }}_{{sp_now}}_{{ date }} .put_var_in_modal").toggle("slow");
                    //$(".dopmenu{{ user_id }}_{{sp_now}}_{{ date }}").toggle("slow");
                    return false;' 
                    class="fa fa-cog"
                    ></i></div>

            <div class="dropdown-menu">

                {% if 1 == 2 %}

                    {% if metkis is not defined %}
                        {% set metkis = site__get_metki() %}
                    {% endif %}

                    {% for k,v in metkis %}

                        <a href="" 

                           xclass="put_var_in_modal btn btn-xs btn-light" 
                           class="xput_var_in_modal2 dropdown-item btn-light base_modal_go"

                           {#
                           data-toggle2="modal" 
                           data-target2="#add_jobday_for_jobman" 

                           jobman="{{ man }}"
                           salepoint="{{ sp_now }}"

                           toform_sp="{{ sp_now }}"
                           toform_sp_name="{{ sps[sp_now]['head'] }}"

                           toform_jobman="{{ man }}"
                           toform_jobman_name="{{ mans[man]['head'] }}"

                           date="{{ date }}"
                           print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}"

                           {% set ss = sp_now ~ man %}
                           id2="{{ ss }}"
                           s2="{{ creatSecret( ss ) }}"
#}

                           data-toggle="modal" data-target="#di_modal" 

                           modal_header='Добавляем метку'
                           ajax_link='/vendor/didrive_mod/items/1/ajax.php'
                           ajax_vars='action=add_new&id={{ user_v['jobman']~k~date }}&s={{ creatSecret(user_v['jobman']~k~date) }}&add_module=072.metki&add[type]={{ k }}&add[head]={{ v }}&add[jobman]={{ user_v['jobman'] }}&add[sale_point]={{ sp_now }}&add[date]={{ date }}{% if session.now_user_di.id is defined %}&add[creatman]={{ session.now_user_di.id }}{% endif %}&remove_cash[]=metki&remove_cash[]={{ date }}'

                           reload_page_after_ok="da"

                           ><nobr><span class="fa fa-plus" ></span> метку <span class="jobdesc_metka" >{{ v }}</span> {#{ k }#}</nobr></a>

                    {% endfor %}

                {% endif %}

                <a href="" 

                   xclass="put_var_in_modal btn btn-xs btn-light" 
                   class="put_var_in_modal2 dropdown-item btn-light"

                   data-toggle2="modal" 
                   data-target2="#add_jobday_for_jobman" 

                   jobman="{{ user_id }}"
                   salepoint="{{ sp_now }}"

                   toform_sp="{{ sp_now }}"
                   toform_sp_name="{{ sps[sp_now]['head'] }}"

                   toform_jobman="{{ user_id }}"
                   toform_jobman_name="{{ mans[man]['head'] }}"

                   date="{{ date }}"
                   print_res_to_id="res{{ sp_now }}{{ user_id }}{{ date }}"

                   {% set ss = sp_now ~ user_id %}
                   id2="{{ ss }}"
                   s2="{{ creatSecret( ss ) }}"

                   ><nobr><span class="fa fa-plus" ></span> смену</nobr></a>

                <a href="" 

                   xclass="put_var_in_modal btn btn-xs btn-light"
                   class="put_var_in_modal2 dropdown-item btn-light"

                   data-toggle2="modal" 
                   data-target2="#add_comment" 

                   jobman="{{ user_id }}"
                   sale_point="{{ sp_now }}"

                   date_to="{{ date }}"
                   print_res_to_id="res{{ sp_now }}{{ user_id }}{{ date }}comment"

                   creator="{{ session.now_user_di.id }}"

                   toform_sp="{{ sp_now }}"
                   toform_sp_name="{{ sps[sp_now]['head'] }}"

                   toform_jobman="{{ user_id }}"
                   toform_jobman_name="{{ mans[user_id]['head'] }}"


                   {% set ss = sp_now ~ user_id %}
                   id2="{{ ss }}"
                   s2="{{ creatSecret( ss ) }}"

                   delete_cash_start_date="{{ date_start }}"

                   ><nobr><span class="fa fa-plus" ></span> комментарий</nobr></a>

                <a href=""

                   xclass="put_var_in_modal btn btn-xs btn-light" 
                   class="put_var_in_modal2 dropdown-item btn-light"

                   jobman="{{ user_id }}"
                   {# salepoint="{{ sp_oint.id }}" #}
                   salepoint="{{ sp_now }}"

                   {# toform_sp="{{ sp_now }}" #}
                   toform_sp="{{ sp_now }}"
                   toform_sp_name="{{ sps[sp_now]['head'] }}"

                   toform_jobman="{{ user_id }}"
                   toform_jobman_name="{{ mans[user_id]['head'] }}"

                   date="{{ date }}"
                   print_res_to_id="res{{ sp_now }}{{ user_id }}{{ date }}{{ rr }}"

                   {% set ss = sp_now ~ pv.id %}
                   id2="{{ ss }}"
                   s2="{{ creatSecret( ss ) }}"

                   data-target2="#add_minus_for_jobman"

                   ><span class="fa fa-minus" ></span> взыскание</a>

                <a href=""

                   xclass="put_var_in_modal btn btn-xs btn-light" 
                   class="put_var_in_modal2 dropdown-item btn-light"

                   jobman="{{ user_id }}"
                   salepoint="{{ sp_now }}"

                   toform_sp="{{ sp_now }}"
                   toform_sp_name="{{ sps[sp_now]['head'] }}"

                   toform_jobman="{{ user_id }}"
                   toform_jobman_name="{{ mans[user_id]['head'] }}"

                   date="{{ date }}"
                   print_res_to_id="res{{ sp_now }}{{ user_id }}{{ date }}{{ rr }}plus"

                   {% set ss = sp_now ~ pv.id %}
                   id2="{{ ss }}"
                   s2="{{ creatSecret( ss ) }}"

                   data-target2="#add_plus_for_jobman"

                   ><span class="fa fa-plus" ></span> премия</a>        

                <a href="#"

                   class="set_end_now_jobs dropdown-item btn-light"

                   need_answer="Последний день работы (увольняем) сотрудника в данной должности ?"

                   xwork_id="{{ now_dolgn.id }}{{ i }}"
                   xwm_s="{{ creatSecret( now_dolgn.id ~ i ) }}"

                   work_id="{{ now_dolgn.id }}"
                   wm_s="{{ creatSecret( now_dolgn.id ) }}"

                   date_finish="{{ date }}"
                   res_to="res{{ sp_now }}{{ user_id }}{{ date }}remove_job"

                   {#                                                         
                    jobman="{{ man }}"
                    salepoint="{{ sp_now }}"
    
                    id_set ="{{ now_dolgn.id }}"
    
                    toform_sp="{{ sp_now }}"
                    toform_sp_name="{{ sps[sp_now]['head'] }}"
    
                    toform_jobman="{{ man }}"
                    toform_jobman_name="{{ mans[man]['head'] }}"
    
                    date="{{ date }}"
                    print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}plus"
    
                    {% set ss = sp_now ~ pv.id %}
                    id2="{{ ss }}"
                    s2="{{ creatSecret( ss ) }}"
    
                    data-target2="#add_plus_for_jobman"
                    #}

                   ><span class="fa fa-window-close" ></span> уволен c завтрашнего дня<br/>
                    <small>сегодня последний день в этой должности</small></a>

            </div>

        </div>





        {% if 1 == 2 %}





            {# 
            <Br/>
            date - {{ date }} 
            <Br/>
            avtor - jm - {{ session.now_user_di.id }}
            <Br/>
            jm - {{ user_v['jobman'] }}
            <Br/>
            sp - {{ sp_now }}
            <Br/>
            #}

            {# глобальный большой массив #}
            {#{ pa(getListJobsPeriodAll.data.norm.data[user_v['jobman']]) }#}

            {# если было новое назначение #}
            {% if getListJobsPeriodAll.data.norm.data[user_v['jobman']][date] is defined %}
                {% set now_dolgn = getListJobsPeriodAll.data.norm.data[user_v['jobman']][date] %}
            {% endif %}

            {# всякие глобальные штуки - спец назначение#}    
            {% if 1 == 1 %}

                {#% include dir_mod_now_mod_ditpl~'body.1sp.1worker.1day.spec.htm' %#}

                {% set spec_out = null %}
                {% set spec_in = null %}

                {% for k, spec0 in getListJobsPeriodAll.data.spec.data if spec0.jobman == man and spec0.sale_point == sp_now and spec0.date == date %}

                    {% set spec_in = spec0 %}

                    {#
                    спец
                    {{ pa(spec) }}
                    #}

                    <div class="alert-warning text-center" style="padding: 5px 2px;" >
                        основная работа: {{ sps[now_dolgn.sale_point]['head'] }} {{ dolgn.data[now_dolgn.dolgnost]['head'] }}
                        <br/>
                        спец. назначение в {{ sps[spec_in.sale_point]['head'] }} {{ dolgn.data[spec_in.dolgnost]['head'] }}
                    </div>

                    {#{ pa(spec) }#}

                {% endfor %}

                {% for k, spec0 in getListJobsPeriodAll.data.spec.data if spec0.jobman == man and spec0.sale_point != sp_now and spec0.date == date %}

                    {% set spec_out = spec0 %}

                    <div class="alert-warning text-center" style="padding: 5px 2px;" >
                        спец. назначение сегодня <u>работает на {{ sps[spec_out.sale_point]['head'] }}</u>
                    </div>

                {% endfor %}

                {% if spec != 0 %}
                    ++++ спец ++++
                    {{ pa(spec) }}
                {% endif %}

                {% if spec_out.id is not defined and spec_in.id is not defined and now_dolgn.sale_point != sp_now %}

                    {# pa(now_dolgn) 
                   {{ pa(now_dolgn) } #}

                    <div class="text-center on_hover_opacity05green"  >
                        работает: {{ sps[now_dolgn.sale_point]['head'] }} {{ dolgn.data[now_dolgn.dolgnost]['head'] }}
                    </div>

                {% endif %}


            {% endif %}


            {# проверяем работает или нет #}
            {# если был уволен вчера или дальше #}
            {% if ( now_dolgn['date_finish'] is defined and date is defined and date > now_dolgn['date_finish'] ) or ( now_dolgn['sale_point'] is defined and now_dolgn['sale_point'] != sp_now ) %}
                {# не работает #}
                {% set job_today = 0 %}
                {# если не уволен #}
            {% else %}
                {% set job_today = 1 %}
            {% endif %}


            {#% if spec != 0  %}
                111110000
            {% endif %}
            
            {% if job_today == 1 %}
                222222200
            {% endif %#}


            {#
            1 {{ pa(spec_out) }}
            2 {{ pa(spec_in) }}
            #}

            {# если спец назначение или работает сегодня то что либо показываем #}
            {% if spec_in.id is defined or ( spec_out.id is not defined and job_today == 1 ) %}

                {# шестерёнка дня #}
                {% if 1 == 1 %}
                    <div class="btn-group" style="text-align:right;display:block;xfloat:right;" >

                        <div class="option_img" 
                             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                             ><i 
                                xonclick='
                                $(".c{{ man }}_{{sp_now}}_{{ date }} .put_var_in_modal").toggle("slow");
                                //$(".dopmenu{{ man }}_{{sp_now}}_{{ date }}").toggle("slow");
                                return false;' 
                                class="fa fa-cog"
                                ></i></div>

                        <div class="dropdown-menu">


                            {% if metkis is not defined %}
                                {% set metkis = site__get_metki() %}
                            {% endif %}

                            {% for k,v in metkis %}

                                <a href="" 

                                   xclass="put_var_in_modal btn btn-xs btn-light" 
                                   class="xput_var_in_modal2 dropdown-item btn-light base_modal_go"

                                   {#
                                   data-toggle2="modal" 
                                   data-target2="#add_jobday_for_jobman" 
        
                                   jobman="{{ man }}"
                                   salepoint="{{ sp_now }}"
        
                                   toform_sp="{{ sp_now }}"
                                   toform_sp_name="{{ sps[sp_now]['head'] }}"
        
                                   toform_jobman="{{ man }}"
                                   toform_jobman_name="{{ mans[man]['head'] }}"
        
                                   date="{{ date }}"
                                   print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}"
        
                                   {% set ss = sp_now ~ man %}
                                   id2="{{ ss }}"
                                   s2="{{ creatSecret( ss ) }}"
        #}

                                   data-toggle="modal" data-target="#di_modal" 

                                   modal_header='Добавляем метку'
                                   ajax_link='/vendor/didrive_mod/items/1/ajax.php'
                                   ajax_vars='action=add_new&id={{ user_v['jobman']~k~date }}&s={{ creatSecret(user_v['jobman']~k~date) }}&add_module=072.metki&add[type]={{ k }}&add[head]={{ v }}&add[jobman]={{ user_v['jobman'] }}&add[sale_point]={{ sp_now }}&add[date]={{ date }}{% if session.now_user_di.id is defined %}&add[creatman]={{ session.now_user_di.id }}{% endif %}&remove_cash[]=metki&remove_cash[]={{ date }}'

                                   reload_page_after_ok="da"

                                   ><nobr><span class="fa fa-plus" ></span> метку <span class="jobdesc_metka" >{{ v }}</span> {#{ k }#}</nobr></a>

                            {% endfor %}

                            <a href="" 

                               xclass="put_var_in_modal btn btn-xs btn-light" 
                               class="put_var_in_modal2 dropdown-item btn-light"

                               data-toggle2="modal" 
                               data-target2="#add_jobday_for_jobman" 

                               jobman="{{ man }}"
                               salepoint="{{ sp_now }}"

                               toform_sp="{{ sp_now }}"
                               toform_sp_name="{{ sps[sp_now]['head'] }}"

                               toform_jobman="{{ man }}"
                               toform_jobman_name="{{ mans[man]['head'] }}"

                               date="{{ date }}"
                               print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}"

                               {% set ss = sp_now ~ man %}
                               id2="{{ ss }}"
                               s2="{{ creatSecret( ss ) }}"

                               ><nobr><span class="fa fa-plus" ></span> смену</nobr></a>

                            <a href="" 

                               xclass="put_var_in_modal btn btn-xs btn-light"
                               class="put_var_in_modal2 dropdown-item btn-light"

                               data-toggle2="modal" 
                               data-target2="#add_comment" 

                               jobman="{{ man }}"
                               sale_point="{{ sp_now }}"

                               date_to="{{ date }}"
                               print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}comment"

                               creator="{{ session.now_user_di.id }}"

                               toform_sp="{{ sp_now }}"
                               toform_sp_name="{{ sps[sp_now]['head'] }}"

                               toform_jobman="{{ man }}"
                               toform_jobman_name="{{ mans[man]['head'] }}"


                               {% set ss = sp_now ~ man %}
                               id2="{{ ss }}"
                               s2="{{ creatSecret( ss ) }}"

                               delete_cash_start_date="{{ date_start }}"

                               ><nobr><span class="fa fa-plus" ></span> комментарий</nobr></a>

                            <a href=""

                               xclass="put_var_in_modal btn btn-xs btn-light" 
                               class="put_var_in_modal2 dropdown-item btn-light"

                               jobman="{{ man }}"
                               {# salepoint="{{ sp_oint.id }}" #}
                               salepoint="{{ sp_now }}"

                               {# toform_sp="{{ sp_now }}" #}
                               toform_sp="{{ sp_now }}"
                               toform_sp_name="{{ sps[sp_now]['head'] }}"

                               toform_jobman="{{ man }}"
                               toform_jobman_name="{{ mans[man]['head'] }}"

                               date="{{ date }}"
                               print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}"

                               {% set ss = sp_now ~ pv.id %}
                               id2="{{ ss }}"
                               s2="{{ creatSecret( ss ) }}"

                               data-target2="#add_minus_for_jobman"

                               ><span class="fa fa-minus" ></span> взыскание</a>

                            <a href=""

                               xclass="put_var_in_modal btn btn-xs btn-light" 
                               class="put_var_in_modal2 dropdown-item btn-light"

                               jobman="{{ man }}"
                               salepoint="{{ sp_now }}"

                               toform_sp="{{ sp_now }}"
                               toform_sp_name="{{ sps[sp_now]['head'] }}"

                               toform_jobman="{{ man }}"
                               toform_jobman_name="{{ mans[man]['head'] }}"

                               date="{{ date }}"
                               print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}plus"

                               {% set ss = sp_now ~ pv.id %}
                               id2="{{ ss }}"
                               s2="{{ creatSecret( ss ) }}"

                               data-target2="#add_plus_for_jobman"

                               ><span class="fa fa-plus" ></span> премия</a>        

                            <a href="#"

                               class="set_end_now_jobs dropdown-item btn-light"

                               need_answer="Последний день работы (увольняем) сотрудника в данной должности ?"

                               xwork_id="{{ now_dolgn.id }}{{ i }}"
                               xwm_s="{{ creatSecret( now_dolgn.id ~ i ) }}"

                               work_id="{{ now_dolgn.id }}"
                               wm_s="{{ creatSecret( now_dolgn.id ) }}"

                               date_finish="{{ date }}"
                               res_to="res{{ sp_now }}{{ man }}{{ date }}remove_job"

                               {#                                                         
                                jobman="{{ man }}"
                                salepoint="{{ sp_now }}"
                
                                id_set ="{{ now_dolgn.id }}"
                
                                toform_sp="{{ sp_now }}"
                                toform_sp_name="{{ sps[sp_now]['head'] }}"
                
                                toform_jobman="{{ man }}"
                                toform_jobman_name="{{ mans[man]['head'] }}"
                
                                date="{{ date }}"
                                print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}plus"
                
                                {% set ss = sp_now ~ pv.id %}
                                id2="{{ ss }}"
                                s2="{{ creatSecret( ss ) }}"
                
                                data-target2="#add_plus_for_jobman"
                                #}

                               ><span class="fa fa-window-close" ></span> уволен c завтрашнего дня<br/>
                                <small>сегодня последний день в этой должности</small></a>

                        </div>

                    </div>

                    <div id="res{{ sp_now }}{{ man }}{{ date }}" ></div>
                    <div id="res{{ sp_now }}{{ man }}{{ date }}comment" ></div>    

                    <div id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}" xstyle="display:none;"></div>
                    <div id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}plus" xstyle="display:none;"></div>

                    <div id="res{{ sp_now }}{{ man }}{{ date }}remove_job" ></div>    

                {% endif %}

                {#
                    {% set now_job_cfg = jobdesc__getDayNaznachJobman( db, user5, date ) %}
                
                    <br/> pa(now_job_cfg) }}
                    {{ pa(now_job_cfg) }}
                #}

                {# всякие глобальные штуки - назначение, конец работы, спец назначение#}    
                {% include dir_mod_now_mod_ditpl~'body.1sp.1worker.1day.dolgnost.htm' %}

                {% include dir_mod_now_mod_ditpl~'body.1sp.1worker.1day.metki.htm' %}

                {% if 1 == 2 %}
                    pa(now_dolgn) должность сегодня
                    {{ pa(now_dolgn) }}
                    {{ pa(i) }}
                {% endif %}

                {# смены работы #}

                {# используем для отсечения старых смен от новых #}
                {% set day_nnow = "now"|date("Y-m-d 05:00:00") %}

                {% set day_start = date|date("Y-m-d 08:00:00") %}
                {% set day_end = date|date_modify("+1 day")|date("Y-m-d 03:00:00") %}

                {% for ckeck_id, check in getListJobsPeriodAll.data.checks if check.jobman == user_v['jobman'] and check.start is defined and check.start >= day_start and check.start <= day_end %}

                    {% if 1 == 2 %}
                        pa(check) 
                        {{ pa(check) }}
                    {% endif %}

                    {# не показываем не закрытые смены что были вчера и раньше а если сегодня то показываем незакрытые #}
                    {% if check.start < day_nnow and check.fin is not defined %}
                    {% else %}
                        {% include dir_mod_now_mod_ditpl~'body.1sp.1worker.1day.smena.htm' %}
                    {% endif %}

                {% endfor %}

                {# плюсы #}
                {% for k, item in getListJobsPeriodAll.data.money_bonus if item.jobman == man and item.date_now == date and item.sale_point == sp_now %}
                    {% include dir_mod_now_mod_ditpl~'body.1sp.1worker.1day.plus.htm' %}
                {% endfor %}


                {# минусы #}
                {% for k, item in getListJobsPeriodAll.data.money_minus if item.jobman == man and item.date_now == date %}
                    {% include dir_mod_now_mod_ditpl~'body.1sp.1worker.1day.minus.htm' %}
                {% endfor %}


                {# комментарии #}
                {#{ pa( getListJobsPeriodAll.data.comments ) }#}
                {% for k, item in getListJobsPeriodAll.data.comments if item.jobman == man and item.date_to == date %}
                    {#% for k, item in getListJobsPeriodAll.data.comments if item.jobman == man %#}

                    {#{ pa( item ) }#}
                    {% include dir_mod_now_mod_ditpl~'body.1sp.1worker.1day.comment.htm' %}

                {% endfor %}

                {#% for k, plus in getListJobsPeriodAll.data.minusa if plus.jobman == man %}    
                    {% include dir_mod_now_mod_ditpl~'body.1sp.1worker.1day.plus.htm' %}
                {% endfor %#}














                {% if 1 == 2 %}

                    {% if 1 == 2 %}

                        <br/>  pa(now_job) }}
                        {{  pa(now_job) }}

                    {% endif %}



                    {% if checki[date][man] is defined %}
                        {% for k1, v1 in checki[date][man] if v1.status != 'delete' %} 

                            {{ pa(k1) }}
                            {{ pa(v1) }}
                            {#% if payed[v1.id ] #}

                            {# смена #}
                            {% include dir_mod_now_mod_ditpl~'body.mans.item.smena.htm' %}

                        {% endfor %}
                    {% endif %}











                    {% set now_job = jobdesc__where_now_dolgn( jobs_on_sp, sp_now, man, date ) %}
                    {{ pa(now_job) }}

                    {% set skip_smens_iiko = false %}

                    {% if now_job.type2 is defined and now_job.type2 == 'spec' and now_job.d1 == now_job.d2 %}

                        <div class="alert-warning text-center" style="padding: 5px 2px;" >
                            спец.назначение
                            <br/>
                            <abbr title="должность на оригинальной точке продаж" >
                                {{ spec_jobs_on_sp[now_job.jobman][now_job.d1]['dolgnost_from'] }}
                            </abbr>
                            с 
                            <abbr title="произведён перевод сотрудника с указанной точка продаж " >
                                {{ sp.data[spec_jobs_on_sp[now_job.jobman][now_job.d1]['sale_point_from']]['head'] }}
                            </abbr>
                        </div>

                        {#{ pa(now_job) }#}
                        {#{ pa(spec_jobs_on_sp[now_job.jobman][now_job.d1]) }#}

                    {% endif %}

                    {% if now_job == false %}

                    {% elseif ( now_job.date_finish is not defined or now_job.date_finish >= now_job.d1 ) and  now_job.type2 is not defined or ( now_job.type2 is defined and now_job.type2 == 'spec' and now_job.d1 == now_job.d2 ) %}


                        <div class="btn-group" style="text-align:right;display:block;xfloat:right;" >

                            <div class="option_img" 
                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                 ><i 
                                    xonclick='
                                    $(".c{{ man }}_{{sp_now}}_{{ date }} .put_var_in_modal").toggle("slow");
                                    //$(".dopmenu{{ man }}_{{sp_now}}_{{ date }}").toggle("slow");
                                    return false;' 
                                    class="fa fa-cog"
                                    ></i></div>

                            <div class="dropdown-menu">

                                <a href="" 

                                   xclass="put_var_in_modal btn btn-xs btn-light" 
                                   class="put_var_in_modal2 dropdown-item btn-light"

                                   data-toggle2="modal" 
                                   data-target2="#add_jobday_for_jobman" 

                                   jobman="{{ man }}"
                                   salepoint="{{ sp_now }}"

                                   toform_sp="{{ sp_now }}"
                                   toform_sp_name="{{ sps[sp_now]['head'] }}"

                                   toform_jobman="{{ man }}"
                                   toform_jobman_name="{{ mans[man]['head'] }}"

                                   date="{{ date }}"
                                   print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}"

                                   {% set ss = sp_now ~ man %}
                                   id2="{{ ss }}"
                                   s2="{{ creatSecret( ss ) }}"

                                   ><nobr><span class="fa fa-plus" ></span> смену</nobr></a>

                                <a href="" 

                                   xclass="put_var_in_modal btn btn-xs btn-light"
                                   class="put_var_in_modal2 dropdown-item btn-light"

                                   data-toggle2="modal" 
                                   data-target2="#add_comment" 

                                   jobman="{{ man }}"
                                   sale_point="{{ sp_now }}"

                                   date_to="{{ date }}"
                                   print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}comment"

                                   creator="{{ session.now_user_di.id }}"

                                   toform_sp="{{ sp_now }}"
                                   toform_sp_name="{{ sps[sp_now]['head'] }}"

                                   toform_jobman="{{ man }}"
                                   toform_jobman_name="{{ mans[man]['head'] }}"


                                   {% set ss = sp_now ~ man %}
                                   id2="{{ ss }}"
                                   s2="{{ creatSecret( ss ) }}"

                                   ><nobr><span class="fa fa-plus" ></span> комментарий</nobr></a>

                                <a href=""

                                   xclass="put_var_in_modal btn btn-xs btn-light" 
                                   class="put_var_in_modal2 dropdown-item btn-light"

                                   jobman="{{ man }}"
                                   {# salepoint="{{ sp_oint.id }}" #}
                                   salepoint="{{ sp_now }}"

                                   {# toform_sp="{{ sp_now }}" #}
                                   toform_sp="{{ sp_now }}"
                                   toform_sp_name="{{ sps[sp_now]['head'] }}"

                                   toform_jobman="{{ man }}"
                                   toform_jobman_name="{{ mans[man]['head'] }}"

                                   date="{{ date }}"
                                   print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}"

                                   {% set ss = sp_now ~ pv.id %}
                                   id2="{{ ss }}"
                                   s2="{{ creatSecret( ss ) }}"

                                   data-target2="#add_minus_for_jobman"

                                   ><span class="fa fa-minus" ></span> взыскание 33</a>        

                                <a href=""

                                   xclass="put_var_in_modal btn btn-xs btn-light" 
                                   class="put_var_in_modal2 dropdown-item btn-light"

                                   jobman="{{ man }}"
                                   salepoint="{{ sp_now }}"

                                   toform_sp="{{ sp_now }}"
                                   toform_sp_name="{{ sps[sp_now]['head'] }}"

                                   toform_jobman="{{ man }}"
                                   toform_jobman_name="{{ mans[man]['head'] }}"

                                   date="{{ date }}"
                                   print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}plus"

                                   {% set ss = sp_now ~ pv.id %}
                                   id2="{{ ss }}"
                                   s2="{{ creatSecret( ss ) }}"

                                   data-target2="#add_plus_for_jobman"

                                   ><span class="fa fa-plus" ></span> премия</a>        

                                <a href="#"

                                   class="set_end_now_jobs dropdown-item btn-light"

                                   need_answer="Последний день работы сотрудника в данной должности ?"

                                   work_id="{{ now_job.id }}"
                                   wm_s="{{ creatSecret( now_job.id ) }}"

                                   date_finish="{{ date }}"

                                   res_to="res{{ sp_now }}{{ man }}{{ date }}remove_job"

                                   {#                                                         
                                    jobman="{{ man }}"
                                    salepoint="{{ sp_now }}"
                
                                    id_set ="{{ now_dolgn.id }}"
                
                                    toform_sp="{{ sp_now }}"
                                    toform_sp_name="{{ sps[sp_now]['head'] }}"
                
                                    toform_jobman="{{ man }}"
                                    toform_jobman_name="{{ mans[man]['head'] }}"
                
                                    date="{{ date }}"
                                    print_res_to_id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}plus"
                
                                    {% set ss = sp_now ~ pv.id %}
                                    id2="{{ ss }}"
                                    s2="{{ creatSecret( ss ) }}"
                
                                    data-target2="#add_plus_for_jobman"
                                    #}

                                   ><span class="fa fa-window-close" ></span> уволен c завтрашнего дня<br/>
                                    <small>сегодня последний день в этой должности</small></a>

                            </div>
                        </div>

                        <div id="res{{ sp_now }}{{ man }}{{ date }}" ></div>
                        <div id="res{{ sp_now }}{{ man }}{{ date }}comment" ></div>    

                        <div id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}" xstyle="display:none;"></div>
                        <div id="res{{ sp_now }}{{ man }}{{ date }}{{ rr }}plus" xstyle="display:none;"></div>

                        <div id="res{{ sp_now }}{{ man }}{{ date }}remove_job" ></div>    

                        {#{ pa(now_job) }#}


                        {#{ pa(now_job) }#}

                        {# date #}

                        {# % if last_jobday != now_job.d2 %}
                            новая: {{ now_job.dolgnost }}
                            <br/>
                            {% set last_jobday = now_job.d2 %}
                        {% endif % #}

                        {#{ pa(now_job) }#}



                        {#
                        {{ pa(spoint) }}
                        {{ pa(date) }}
                        {{ pa(man) }}
                        #}

                        {% set now_spec_nazn = false %}

                        {% if spec_jobs_on_sp[now_job.jobman][now_job.d1]['sale_point'] is defined and spec_jobs_on_sp[now_job.jobman][now_job.d1]['sale_point'] != now_job.sale_point %}

                            {#{ pa(spec_jobs_on_sp[now_job.jobman][now_job.d1]) }#}
                            {#{ pa(now_job) }#}
                            {#{ pa(sps) }#}

                            <div class="alert-warning text-center" style="padding: 5px 2px;" >
                                спец.назначение Отправлен на работу в {{ sp.data[spec_jobs_on_sp[now_job.jobman][now_job.d1]['sale_point']]['head'] }}
                            </div>
                            {% set now_spec_nazn = true %}

                        {% endif %}















                        {# comments.data #}
                        {% if comments.data is defined %}

                            {#{ pa(comments.data ) }#}

                            {% for k1, v1 in comments.data if v1.dop.sale_point == sp_now and v1.dop.date_to == date and v1.dop.jobman == man and v1.status == 'show' %} 

                                <div class="show_1comment" >
                                    <a href="#" class="act act_smena btn3" 
                                       style="float:right;"
                                       go_answer="удалить комментарий ?"
                                       action="delete_comment" id2="{{ v1.id }}" s2="{{ creatSecret( v1.id ) }}" resto="ares{{ v1.id }}" show_id="ares{{ v1.id }}" hidethis="da" ><i class="fa fa-times"></i></a>
                                    {{ v1.dop.comment }}</div>

                                <div id="ares{{ k1 }}" style="display:none;"></div>

                                {#{ pa(v1) }#}

                            {% endfor %}

                        {% endif %}



                        {# money_dops #}
                        {% if money_dops[now_job.sale_point][now_job.jobman][date] is defined %}
                            {% for k,money in money_dops[now_job.sale_point][now_job.jobman][date] %}
                                {% if money.type2 == 'plus' %}
                                    {% include dir_mod_now_mod_ditpl~'body.mans.item.bonus.htm' %}
                                {% elseif money.type2 == 'minus' %}
                                    {% include dir_mod_now_mod_ditpl~'body.mans.item.minusa.htm' %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}

                        {#{ pa(now_job) }#}

                    {% endif %}

                {% endif %}

            {% endif %}

        {% endif %}


        <div class="dolgn" ></div>
        <div class="smens{# xajax_loaded #}" >&nbsp;</div>
        <div class="in_bonus" ></div>
        <div class="in_minus" ></div>
        <div class="in_comments" ></div>

    </div>


{% endspaceless %}