{% spaceless %}

    <div class="trow" 
         xdata-aos="fade-up"
         xdata-aos-anchor-placement="bottom-bottom" 
         >

        <div class="tcell stick-left bg-white" >

            <nobr>
                <b>Оборот</b>
            </nobr>

            {% set oborots = iiko_oborot__get_oborots_on_sp( db, sp_now, date_start, date_finish ) %}
            {#{ sp_now }#}
            {#{ pa(oborots) }#}

            <abbr title="суммарный оборот за месяц" class="oborot_all_summ" >{{ (oborots.summa/1000)|number_format(0,'','`') }}тр</abbr>

        </div>

        {% for i in range(low=0, high=35, step=1) %}  

            {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
            {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}
            {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                {% if now_date2|date("U") < "now"|date_modify("-1 day")|date("U") %}

                    <div class="tcell " >

                        <div class='text-center'>

                            {#{ pa(oborots[now_date2]) }#}

                            {% if oborots[now_date2]['oborot_server'] is defined %}

                                <span 
                                    {% if oborots[now_date2]['oborot_hand'] is defined and oborots[now_date2]['oborot_hand'] > 0 %}
                                        class="oborot-gray" 
                                    {% endif %}
                                    >
                                    {{ oborots[now_date2]['oborot_server']|number_format(0, '.', '`') }} <sup><abbr title="Авто значение с сервера">
                                            <a href="/vendor/didrive_mod/iiko_oborot/1/didrive/ajax.php" 
                                               vars="date={{ now_date2 }}&hide_form=da&action=get_oborot_for_sps&get_sp_load={{ sp_now }}" 
                                               res_to="{{ sp_now }}_{{ i }}_res_ob2"
                                               xtarget="_blank"
                                               class="load_ajaxjson_to_id"
                                               >
                                                А
                                            </a>
                                        </abbr></sup>
                                </span>

                                <div id="{{ sp_now }}_{{ i }}_res_ob2" ></div>

                                <input type="number" max="1000000" min="0" 

                                       placeholder="уточнить"
                                       title="укажите точную сумму оборота"

                                       {% if oborots[now_date2]['oborot_hand'] is defined and oborots[now_date2]['oborot_hand'] > 0 %}
                                           value="{{ oborots[now_date2]['oborot_hand'] }}" 
                                       {% else %}
                                           value="" 
                                       {% endif %}

                                       class="form-control didrive__edit_items_dop_pole oborot_edit_pole"

                                       edit_item_id="{{ oborots[now_date2]['id'] }}"
                                       edit_dop_name="oborot_hand"
                                       edit_s="{{ creatSecret( oborots[now_date2]['id']~"oborot_hand") }}"

                                       pole_price_id="a_price_{{ sp_now }}_{{ now_date2 }}"
                                       text_in_pole_price_id="<br/><center>оборот изменился, текущая автооценка удалена</center>"

                                       delete_ocenka_sp="{{ sp_now }}"
                                       delete_ocenka_date="{{ now_date2 }}"
                                       delete_ocenka_s="{{ creatSecret( sp_now~now_date2 ) }}"

                                       />



                            {% else %}

                                <sup><a href="/vendor/didrive_mod/iiko_oborot/1/didrive/ajax.php" 
                                        vars="date={{ now_date2 }}&hide_form=da&action=get_oborot_for_sps&get_sp_load={{ sp_now }}" 
                                        res_to="{{ sp_now }}_{{ i }}_res_ob2"
                                        xtarget="_blank"
                                        class="load_ajaxjson_to_id"
                                        >загрузить с ИИКО</a></sup>                        

                                <div id="{{ sp_now }}_{{ i }}_res_ob2" ></div>

                            {% endif %}

                        </div>

                    </div>

                {% endif %}

            {% endif %}

        {% endfor %}

    </span>
</div>

{% endspaceless %}