{% spaceless %}
    <div class="trow" id="user_tr_{{ sp_now }}_{{ jobman_id }}" >
        <div class="tcell stick-left bg-white">
            <div class="stick-top-jobman" >
                {#{ pa(constant('\\Nyos\\Nyos::$menu')) }#}
                {#{ pa(menu_all) }#}
                {#{ pa(level_all) }}
                {{ pa(now_level) }#}
                {#{ pa(site__get_metki()) }#}

                {# шестерёнка у сотрудника #}

                {% if 1 == 1 %}

                    <div style="float:right; display:inline-block;" class="option_img" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                        <i xonclick='$(".sp_{{ sp_now }} .show_2div").toggle("slow"); return false;' class="fa fa-cog"></i>
                    </div>

                    <div class="dropdown-menu">

                        {# универсальное модальное окошко используем #}
                        <a
                            href="#"
                            class="dropdown-item btn-light base_modal_go"
                            data-toggle="modal" data-target="#di_modal"

                            modal_header='назначения сотрудника'
                            ajax_link='/vendor/didrive_mod/jobdesc/1/didrive/ajax.php'
                            ajax_vars='action=show_naznach&view=html&user={{ user_v['jobman'] }}&s={{ creatSecret( user_v['jobman'] ) }}'

                            >
                            список назначений сотрудника
                        </a>

                        {# универсальное модальное окошко используем #}
                        <a
                            href="#"
                            class="dropdown-item btn-light base_modal_go"
                            data-toggle="modal" data-target="#di_modal"

                            modal_header='назначения сотрудника'
                            ajax_link='/vendor/didrive_mod/jobdesc/1/didrive/ajax.php'
                            {# ajax_vars='action=show_smens&date_start={{ date_start }}&view=html&user={{ user_v['jobman'] }}&s={{ creatSecret( user_v['jobman'] ) }}' #}
                            {# ajax_vars='{{  { 'action':'show_smens', 'date_start': date_start , 'view' : 'html' , 'user' : user_v['jobman'] , 's' : creatSecret( user_v['jobman'] ) }|url_encode }}' #}
                            ajax_vars='{{  { 'action':'ajax_in_smens_jm', 'date_start': date_start , 'view' : 'html' , 'jobman' : user_v['jobman'], 'user' : user_v['jobman'] , 's' : creatSecret( user_v['jobman'] ) }|url_encode }}'

                            >
                            смены в этом месяце
                        </a>

                    </div>
                {% endif %}


                {#            
                <div style="color:gray;">{{ user_v['dolgnost_name'] }}</div>
                <nobr title="#{{ user_v['jobman'] }}">
                    {{ user_v['fio'] }}
                </nobr>
                {% if user_v['type_job'] is defined and user_v['type_job'] == 'spec' %}
                    <abbr class="alert-danger" style="padding:1px 5px;" title="был СПЕЦ назначен с другой точки">S</abbr>
                {% endif %}
                #}

                {% set jobman = user_v[0]['jobman'] %}
                {% set jobman_fio = user_v[0]['fio'] %}
                <abbr title="#{{ jobman }}">{{ user_v[0]['fio'] }}</abbr>
                <div style="color:gray;">{{ user_v[0]['dolgnost_name'] }}</div>

            </div>
        </div>

        {#
          pa(now_dolgn) }}
        {{  pa(now_dolgn) }}
          #}



        {#        {% if 1 == 2 %}
        
                    {% set man = user_v['jobman'] %}
                    { # проход по датам по человеку # }
                    {% set last_jobday = 0 %}
                    {% set now_dolgn = '' %}
                    { #{ pa(getListJobsPeriodAll.data.norm.data[user_v['jobman']]) }# }
                    {% for k,v in getListJobsPeriodAll.data.norm.data[man] if now_dolgn == '' %}
                        {% set now_dolgn = v %}
                    {% endfor %}
                    { #{ pa(now_dolgn) }# }
        
                {% endif %}
        #}


        {#{{  pa(user_v) }}#}

        {% set no_job = false %}

        {% for i in range(low=0, high=31, step=1) %}

            {% set date = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
            {% if date <= date_finish %}

                <div class="tcell c{{ user_id }}_{{sp_now}}_{{ date }}">

                    {#{{ date }} / {{ date_finish }}#}
                    {#{{ pa(user_v,2) }}#}

                    {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.day_option.htm' %}

                    {% for k3,i in user_v if i['date'] == date %}
                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.new_dolgnost.htm' %}
                        {#{{ pa(i) }}#}
                    {% endfor %}

                    {% if jobmans.data.spec[jobman_id][date] is defined %}
                        {% for k3,i in jobmans.data.spec[jobman_id][date] %}
                            {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.new_spec.htm' %}
                            {#{{ pa(i) }}#}
                        {% endfor %}
                    {% endif %}

                    {% for p, i in actions.data.actions if i.jobman == jobman_id and i.date == date and i.type == 'metki' %}
                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.'~i.type~'.htm' %}
                        {#{{  pa(i) }}#}
                    {% endfor %}

                    {% set i2 = 0 %}

                    {% for p, i in actions.data.actions if i.jobman == jobman_id and i.date == date and i.type == 'check' %}

                        {% if i.sale_point == '' or i.sale_point == get.sp %}
                            {% set i2 = i %}
                        {% endif %}

                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.'~i.type~'.htm' %}
                        {#{{  pa(i) }}#}

                    {% endfor %}
                    {#{{ pa(i2) }}#}

                    {% if i2 != 0 %}
                        {#<br/> --- bonus -- <br/>#}
                        {#{{  pa(i2) }}#}
                        {% set auto_bonus = jobdesc__calcAutoBonus( db, get.sp, i2 ) %}
                        {#{{ pa(auto_bonus) }}#}
                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.plus.auto.htm' %}
                        {% set auto_bonus = [] %}
                    {% endif %}


                    {#{% for p, i in actions.data.actions if i.jobman == jobman_id and i.date == date and i.type == 'minus' %}#}
                    {#                    {% for p, i in actions.data.actions if i.jobman == jobman_id and i.date == date and i.type == 'minus' %}
                                                {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.'~i.type~'.htm' %}
                                                minus
                                                { #{{  pa(i) }}# }
                                        {% endfor %}
                    #}
                    {% for p, i in actions.data.actions if i.jobman == jobman_id and i.date == date and ( i.type == 'minus' or i.type == 'plus' or i.type == 'comment' ) %}
                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.1worker.'~i.type~'.htm' %}
                    {% endfor %}

                </div>

            {% endif %}

        {% endfor %}

    </div>

{% endspaceless %}