{% spaceless %}

    {# { now_date } #}

    {% set r2 = random() %}

    {#{ pa(checki) }#}
    {#{ pa(checki[now_date]) }#}
    {#{ pa(jobs) } #}
    {#{ pa(mans) }#}
    {#{ pa(jobs[spoint.id]) }#}

    {% set array_job_people = [] %}

    {#{ pa(jobs[spoint.id]) }#}

    {#% for type_select, job_list_mans in jobs[spoint.id] if type_select == 'def' or type_select == now_date %#}
    {% for type_select, job_list_mans in jobs[spoint.id] %}

        {#
        job_list_mans
        {{ pa(job_list_mans) }}
        #}

        {% for user_id, v123 in job_list_mans if mans.data[user_id] is defined %}

            {#{ pa(user_id) }#}
            {#{ pa(mans.data[user_id]) }#}

            {% set jobman = mans.data[user_id] %}

            {% set nowjob = 0 %}

            {# проверяем работает в этот день или нет #}
            {% if
              (
              jobman['dop']['stagirovka_start']|date('U') <= now_date|date('U')
              or jobman['dop']['fulljob_start']|date('U') <= now_date|date('U')
              )
              and
              (
              jobman['dop']['job_end']|date('U') >= now_date|date('U')
              or jobman['dop']['job_end'] == ''
              ) %}

                {% set nowjob = 1 %}

            {% endif %}

            {# если работает в этот день #}

            {% if nowjob == 1 %}

                {#{ jobman['head'] }#}
                {#{ pa(jobman) }#}

                {% set array_job_people = array_job_people|merge([man1.id]) %}

                {% set type = '' %}

                {% if type_select == now_date %}

                    {% set type = 'spec' %}

                {% elseif jobman['dop']['job_end'] is defined and jobman['dop']['job_end']|length > 1  and now_date|date('U') > jobman['dop']['job_end']|date('U') %}

                {% elseif jobman['dop']['fulljob_start'] is defined and jobman['dop']['fulljob_start']|length > 1 and jobman['dop']['fulljob_start']|date('U') <= now_date|date('U') %}

                    {% set type = 'norm' %}

                {% elseif jobman['dop']['stagirovka_start'] is defined and jobman['dop']['stagirovka_start']|length > 1 and now_date|date('U') >= jobman['dop']['stagirovka_start']|date('U') %}

                    {% set type = 'stag' %}

                {% endif %}

                [{{ type }}]

                {% include dir_mod_now_mod_ditpl~'body.mans.item.htm' %}

            {% endif %}

        {% endfor %}
    {% endfor %}

    {#{ pa(checki[now_date]) }#}

    {# { pa(array_job_people) } #}

    <span class="list_otrezki" >

        {% for user_id, checki2 in checki[now_date] %}
            {% for check_id, check in checki2 if check.dop.sale_point == spoint.id and check.dop.jobman not in array_job_people %}

                {#
                check
                {{ pa(check) }}
                #}


                {% set v1 = check %}
                {% set k1 = check.id %}
                {#% set man1 = check.dop.jobman %#}
                {#{ check.dop.jobman }#}

                {#
                {{ pa(man) }}
                #}

                {% set man1 = man['data'][v1.dop.jobman] %}

                {% if man1.head is defined %}

                    {#
                    man1
                    {{ pa(man1) }}
                    #}


                    {# <a href="#" xclass="job_man_in_graph" onclick="$('#j{{ r2 }}_{{ man1.id }}').toggle('slow'); return false;"> #}
                    <div class="job_man_in_graph {% if msg == '' %}{{ type }}{% else %}job_other{% endif %}">
                        <nobr>
                            {{ man1.head }}
                            <sup title="{{ dolgn.data[man1['dop']['dolgnost']]['head'] }}">{{ dolgn.data[man1['dop']['dolgnost']]['head'][:3] }}.</sup>
                            {% if msg != '' %}
                                <br/>
                                {{ msg|raw }}
                            {% endif %}
                        </nobr>
                    </div>
                    {# </a> #}

                    {# смена #}
                    {% include dir_mod_now_mod_ditpl~'body.mans.item.smena.htm' %}

                {% endif %}

            {% endfor %}
        {% endfor %}

    </span>




    {% if 1 == 2 %}

        {% if list_time1[spoint.id][nowd] is defined %}

            {% for k6, v6 in list_time1[spoint.id][nowd] %}

                <nobr>
                    <div class="job_man_in_graph">
                        {{ people.data[k6]['head'] }}
                        <sup title="{{ dolgn.data[people['data'][k6]['dop']['dolgnost']]['head'] }}">{{ dolgn.data[people['data'][k6]['dop']['dolgnost']]['head'][:3] }}.</sup>
                    </div>
                </nobr>

                {# { pa(v6) } #}

                {% for k7, v7 in v6 %}

                    <abbr data-toggle="tooltip" data-placement="bottom" title="отработано часов: {{ v7.hours }} с {{ v7.start }} до {{ v7.fin }}" >Отработано {{ v7.hours }} ч.</abbr>

                    {# { pa(k7) } #}
                    {{ pa(v7)|raw }}

                    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                        <div class="btn-group action" role="group">
                            <b class="btn btn-xs btn-light" style="font-weight: bold;">
                                Платим
                            </b>

                            <a class="btn btn-xs act{{ k7 }} {% if v7.status == 'show' %} btn-success {% else%} btn-light {% endif %} save_edit_item"
                               onclick="$('.act{{ k7 }}').removeClass('btn-success');
                                       $(this).removeClass('btn-light').addClass('btn-success');"

                               act="replace"
                               table="mitems-dops"

                               where_1_k="id_item"
                               where_1_v="{{ k7 }}"

                               where_2_k="name"
                               where_2_v="item1"

                               set_1_k="value"
                               set_1_v="item1"

                               s='{{ creatSecret( k7 ) }}'

                               for_res2="show2s{{ k7 }}"
                               for_res2_text="ok"

                               >
                                рано
                            </a>

                            <a class="btn btn-xs act{{ k7 }} {% if v7.status == 'hide' %} btn-success {% else%} btn-light {% endif %} edit_item"
                               onclick="$('.act{{ k7 }}').removeClass('btn-success');
                                       $(this).removeClass('btn-light').addClass('btn-success');"

                               alt="pay_check"
                               rev="item2"
                               rel="{{ k7 }}"
                               s='{{ creatSecret( k7 ) }}'

                               for_res2="show2s{{ k7 }}"
                               for_res2_text="ok"

                               >
                                ок
                            </a>
                            <b id="show2s{{ k7 }}" class="btn btn-xs btn-light" style="font-weight: bold;"></b>

                        </div>
                    </div>

                {% endfor %}



            {% endfor %}

        {% endif %}




        {# добавляем тех кого не было, чтобы добавим им смены, переводы, взыскания #}

        {% for pk, pv in people.data if pv.dop.sale_point == spoint.id %}

            {# { pa(pv) } #}
            <nobr>
                <a href="#" class="job_man_in_graph def" onclick="$('#jobman{{ pk }}_{{ r2 }}').toggle('slow');
                        return false;">
                    {{ people.data[pk]['head'] }}
                    <sup title="{{ dolgn.data[people['data'][pk]['dop']['dolgnost']]['head'] }}">{{ dolgn.data[people['data'][pk]['dop']['dolgnost']]['head'][:3] }}.</sup>
                </a>
            </nobr>

            <div id="res{{ spoint.id }}{{ pv.id }}{{ nowd }}" ></div>

            <div class="act_personal_def" id="jobman{{ pk }}_{{ r2 }}">
                <a href="" class="put_var_in_modal"

                   data-toggle2="modal"
                   data-target2="#add_jobday_for_jobman"

                   jobman="{{ pv.id }}"
                   salepoint="{{ spoint.id }}"

                   toform_sp="{{ spoint.id }}"
                   toform_sp_name="{{ spoint.head }}"

                   toform_jobman="{{ pv.id }}"
                   toform_jobman_name="{{ pv.head }}"

                   date="{{ nowd }}"
                   print_res_to_id="res{{ spoint.id }}{{ pv.id }}{{ nowd }}"

                   {% set ss = spoint.id ~ pv.id %}
                   id2="{{ ss }}"
                   s2="{{ creatSecret( ss ) }}"

                   ><span class="fa fa-plus" ></span> смену</a>
                <a href=""><span class="fa fa-minus" ></span> взыскание</a>
                <a href=""><span class="fa fa-arrow-left" ></span> отправить на работу в другую точку</a>

            </div>

        {% endfor %}

        {# % for k1, v1 in job_in.data if v1.dop.sale_point == spoint_id % #}

        {# { people.data[v1.jobman]['head'] }}
        {{ pa(v1.dop)|raw }}
        {{ pa(people.data)|raw } #}

        {# % endfor % #}

    {% endif %}

{% endspaceless %}









{#


        if (1 == 2) {


// alert('2323');
            $(this).removeClass("show_job_tab");
            $(this).addClass("show_job_tab2");
            var $uri_query = '';
            var $vars = [];
            $.each(this.attributes, function () {

                if (this.specified) {
                    // console.log(this.name, this.value);
                    $uri_query = $uri_query + '&' + this.name + '=' + this.value.replace(' ', '..')

                    if (this.name == 'res_to') {
                        $vars['resto'] = '#' + this.value + ' tbody';
                        console.log($vars['resto']);
                        // alert($res_to);
                    }

                    if (this.name == 'show_on_click') {
                        $('#' + this.value).show('slow');
                    }

                }

            });
            console.log($vars['resto']);
            console.log($uri_query);
            //$(this).html("тут список");
            var $th = $(this);

            //return false;
        }


#}
