{% spaceless %}



    <a href="#" 

       class="base__send_to_ajax" 
       style="float:right;" 

       href_to_ajax="/vendor/didrive_mod/jobdesc/1/didrive/micro-service/calculate_rating_day.php" 

       {#xhidethis="da" #}
       {#xanswer="удалить комментарий ?" #}

       {#action="remove_item" #}
       {#aj_id="{{ v.item_id }}" #}

       sp="{{ get.sp }}" 
       date="{{ now_date2 }}" 
       s="{{ creatSecret( get.sp~now_date2 ) }}" 

       res_to_id="com{{ nd }}" 
       after_click_showid="com{{ nd }}" 
       {#xmsg_to_success="Комментарий удалён" #}

       onclick="$('#a_price_{{ sp_now }}_{{ now_date2 }}').html('...');"
       
       >
        {# расчитать оценку #}
        <span class="fa fa-refresh" ></span>
    </a>

    <div id="com{{ nd }}" style="display:none;"></div>



    {#{{ pa(get.sp) }}
    <br/> 30 
    <br/> 
    {{ pa(v) }}
    <br/> 30 
    <br/> 
    {{ pa(nd) }}
    <br/> 32 
    <br/> 
    {{ pa(now_date2) }}
    <br/> 34 
    <br/> 
    {{ pa(now_date) }}
    #}    


    <div class='text-center'>
        {% if 1 == 2 %}
            <a href="#" class="jobdesc__calc_full_ocenka_day" style="display:block; float:right;"

               forajax_microservice="calculate_rating_day" 
               forajax_action="calc_full_ocenka_day" 

               forajax_id="{{ sp_now }}_{{ v.item_id }}" 
               forajax_id2="{{ sp_now }}" 
               forajax_s="{{ creatSecret(  sp_now ~ '_' ~ i ) }}" 
               forajax_s2="{{ creatSecret(  sp_now ) }}" 

               forajax_show_timer="da" 

               forajax_sp="{{ sp_now }}" 

               forajaxx_jobman="{{ man.id }}" 
               forajaxx_date_start="{{ date_start }}"  
               forajaxx_date_fin="{{ date_finish }}" 

               forajax_date="{{ now_date2 }}" 
               res_to_id="ocenka_{{ sp_now }}_{{ v.item_id }}"

               xanswer="Грузим данные времени ожидания ?"

               onclick="$('#ocenka_info_{{ sp_now }}_{{ v.item_id }}').hide('slow');"

               title="расчитать оценку дня"

               >
                {# расчитать оценку #}
                <span class="fa fa-refresh" ></span>
            </a>

            <div id="ocenka_{{ sp_now }}_{{ v.item_id }}" style="text-align:left; xmin-width: 250px;"></div>
        {% endif %}
        
        {#
        {% if oborots[now_date2]['oborot_server'] is defined %}
            {{ oborots[now_date2]['oborot_server']|number_format(0, '.', '`') }} <sup><abbr title="Авто значение с сервера">А</abbr></sup>
        {% elseif oborots[now_date2]['oborot_hand'] is defined %}
            {{ oborots[now_date2]['oborot_hand']|number_format(0, '.', '`') }}  <sup><abbr title="значение руками">Р</abbr></sup>
        {% else %}
            нет данных <sup><a href="" title="добавить" onclick="$('#{{sp_now}}_{{nd}}').toggle('slow');
                    return false;">++</a></sup>

            <form action="" method="post" id="{{sp_now}}_{{nd}}" style="display:none;">
                <input type="number" value="" min="0" max="900000" step="1" />
                <button class="btn btn-xs btn-success" xtype="number" name="" value="" >добавить</button>
            </form>

        {% endif %}
        #}

    </div>

    <div id="a_price_{{ sp_now }}_{{ now_date2 }}" >

        <div id="ocenka_info_{{ sp_now }}_{{ v.item_id }}" style="text-align:left;">
            {% if v is defined %}

                {#{{ pa(ocenki_day[sp_now][now_date2]) }}#}
                {#{% set now_ocenka = ocenki_day[now_date2] %}#}
                {% set now_ocenka = v %}

                {#{ pa(now_ocenka) }#}

                <div class="text-center">
                    <nobr>
                        <div class="ocenka_show all{{ now_ocenka['ocenka'] }}" >
                            Оценка дня: {{ now_ocenka['ocenka'] }}
                        </div>
                        <br/>
                        <abbr title="Оценка по обороту" class="ocenka_show ob{{ now_ocenka['ocenka_oborot'] }}">{{ now_ocenka['ocenka_oborot'] }}</abbr>
                        <abbr title="Оценка по времени ожидания" class="ocenka_show time{{ now_ocenka['ocenka_time'] }}">{{ now_ocenka['ocenka_time'] }}</abbr>
                        <abbr title="На 1 руки" class="ocenka_show naruki{{ now_ocenka['ocenka_naruki'] }}">{{ now_ocenka['ocenka_naruki'] }}</abbr>
                        {% if now_ocenka['ocenka_naruki_ot_oborota'] is defined %}
                            <abbr title="Оценка по % от оборота на руки" 
                                  class="ocenka_show ob{{ now_ocenka['ocenka_naruki_ot_oborota'] }}">
                                {{ now_ocenka['ocenka_naruki_ot_oborota'] }}
                            </abbr>
                        {% endif %}
                    </nobr>
                </div>

                {#{{  pa(now_ocenka) }}#}

                {#{  pa(ocenki_day[now_date2]['txt']) }#}

            {% endif %}
        </div>

    </div>

{% endspaceless %}