{% spaceless %}

            <div class="jobdesc_metka hide_in_sup hover_show_sup" >
                <a href="#"
                   class='base_modal_go'

                   data-toggle="modal" data-target="#di_modal"

                   modal_header='Удалить метку'
                   xajax_link='/vendor/didrive_mod/items/1/ajax.php'
                   ajax_link='/vendor/didrive_mod/items/2/ajax.php'
                   xajax_vars='action=remove_item&id={{ i.id }}&s={{ creatSecret( i.id ) }}&remove_cash[]=metki&remove_cash[]={{ date }}'
                   ajax_vars='action=remove_item&id={{ i.id }}&s={{ creatSecret( i.id ) }}&r_module=072.metki&remove[type2]={{ i.var }}&remove[date]={{ date }}&remove[jobman]={{ jobman }}&remove_cash[]=metki&remove_cash[]={{ date }}'

                   reload_page_after_ok="da"
                   get_answer='Удаляем метку ?'
                   
                   ><span class="fa fa-remove on_hover_opacity05green" style="float:right;" ></span></a>
                <span class="fa fa-eercast" ></span> 
                {{ i.text }}
                {#{{ pa(i) }}#}
            </div>

{#    {% if 1 == 2 %}

        <div class="xtext-center show_down_hiden plus {{ item.status }}" >
            <b>+{{ item.summa|number_format(0, '.', '`') }}</b> &nbsp;
            <small>{{ item.text }}</small>

            {% if item.status == 'hide' %}
                <br/>отменено<br/>
            {% endif %}

            <span class="hide_down" >

                {% if item.status == 'hide' %}


                    <a href="#" class="btn3 edit_items_dop_values drop2_{{ k1 }} btn btn-xs btn-light" 
                       xstyle='display:none;'
                       comit_answer="Отменить премию ?"

                       action="edit_dop_item"

                       itemsmod="072.plus"
                       item_id="{{ item.id }}"

                       new_status="show"
                       s3="{{ creatSecret( '072.plus-'~item.id~'-show' ) }}" 

                       { # скрыть ссылку после клика # }
                       hidethis="da" 
                       { # сделать видимым блок по id # }
                       show_id="ares{{ item.id }}" 
                       { # id куда печатаем результат # }
                       res_to_id="ares{{ item.id }}" 
                       { # сообщение печатаем если всё ок # }
                       msg_to_success="Восстановлено"

                       >восстановить</a>

                {% elseif item.status == 'show' %}

                    { #
                    <a href="#" class="act act_smena btn3" 
                       go_answer="Хотите удалить минус ?"
                       action="delete_plus" id2="{{ mk }}" s2="{{ creatSecret( mk ) }}" resto="ares{{ k1 }}" show_id="ares{{ k1 }}" hidethis="da" 
                       
                       >отменить взыскание</a>
                    # }

                    <a href="#" class="btn3 edit_items_dop_values drop2_{{ k1 }} btn btn-xs btn-light" 
                       xstyle='display:none;'
                       { # действие после вопроса # }
                       comit_answer="Отменить премию ?"

                       { # замена доп параметра # }
                       action="edit_dop_item"

                       { # модуль итемов # }
                       itemsmod="072.plus"
                       { # id итема # }
                       item_id="{{ item.id }}"

                       { # название доп параметра # }
                       { # dop_name="pay_check" # }
                       { # новое значение параметра # }
                       { # dop_new_value="no" # }
                       { # секрет # }
                       { # s3="{{ creatSecret( '050.chekin_checkout-'~item.id~'-pay_check-no' ) }}"  # }

                       { # новое значение статуса записи # }
                       new_status="hide"
                       { # секрет # }
                       s3="{{ creatSecret( '072.plus-'~item.id~'-hide' ) }}" 

                       { # скрыть ссылку после клика # }
                       hidethis="da" 
                       { # сделать видимым блок по id # }
                       show_id="ares{{ item.id }}" 
                       { # id куда печатаем результат # }
                       res_to_id="ares{{ item.id }}" 
                       { # сообщение печатаем если всё ок # }
                       msg_to_success="Отменено"

                       { # print_res_to_id="ares{{ k1 }}" # }

                       >Отменить премию</a>

                {% endif %}

            </span>
            <div id="ares{{ item.id }}" style="display:none;"></div>
        </div>

    {% endif %}
#}
{% endspaceless %}