{% spaceless %}

    {#
    {{ pa(spoint) }}
    {{ pa(date) }}
    {{ pa(man) }}
    #}

    {# spoint.id #}

    {# % for k1, v1 in plusa['data'] if v1.dop.sale_point == spoint.id % #} 
    {% for mk, plus in plusa['data'] 
        if 
            plus.dop.sale_point == spoint.id 
        and 
            plus.dop.jobman == man.id 
        and 
            plus.dop.date_now == date 
    %} 

    <div class="xtext-center show_down_hiden plus {{ plus.status }}" >

        <b>+{{ plus.dop.summa|number_format(0, '.', '`') }}</b> &nbsp;
        <small>{{ plus.dop.text }}</small>

        {% if plus.status == 'hide' %}
            <br/>отменено<br/>
        {% endif %}

        <span class="hide_down" >
            {#{ pa(plus) }#}

            <Br/>

            {% if plus.status == 'hide' %}
                {#
                                    <a href="#" class="act act_smena btn3" action="recover_smena" 
                                       go_answer="Хотите восстановить смену ?"
                                       id2="{{ k1 }}" s2="{{ creatSecret( k1 ) }}" resto="ares{{ k1 }}" show_id="ares{{ k1 }}" hidethis="da" >восстановить</a>
                #}

                <a href="#" class="btn3 edit_items_dop_values drop2_{{ k1 }} btn btn-xs btn-light" 
                   xstyle='display:none;'
                   {# действие после вопроса #}
                   comit_answer="Отменить премию ?"

                   {# замена доп параметра #}
                   action="edit_dop_item"

                   {# модуль итемов #}
                   itemsmod="072.plus"
                   {# id итема #}
                   item_id="{{ plus.id }}"

                   {# новое значение статуса записи #}
                   new_status="show"
                   {# секрет #}
                   s3="{{ creatSecret( '072.plus-'~plus.id~'-show' ) }}" 

                   {# скрыть ссылку после клика #}
                   hidethis="da" 
                   {# сделать видимым блок по id #}
                   show_id="ares{{ plus.id }}" 
                   {# id куда печатаем результат #}
                   res_to_id="ares{{ plus.id }}" 
                   {# сообщение печатаем если всё ок #}
                   msg_to_success="Восстановлено"

                   >восстановить</a>



            {% elseif plus.status == 'show' %}

                {#
                <a href="#" class="act act_smena btn3" 
                   go_answer="Хотите удалить минус ?"
                   action="delete_plus" id2="{{ mk }}" s2="{{ creatSecret( mk ) }}" resto="ares{{ k1 }}" show_id="ares{{ k1 }}" hidethis="da" 
                   
                   >отменить взыскание</a>
                #}


                <a href="#" class="btn3 edit_items_dop_values drop2_{{ k1 }} btn btn-xs btn-light" 
                   xstyle='display:none;'
                   {# действие после вопроса #}
                   comit_answer="Отменить премию ?"

                   {# замена доп параметра #}
                   action="edit_dop_item"

                   {# модуль итемов #}
                   itemsmod="072.plus"
                   {# id итема #}
                   item_id="{{ plus.id }}"

                   {# название доп параметра #}
                   {# dop_name="pay_check" #}
                   {# новое значение параметра #}
                   {# dop_new_value="no" #}
                   {# секрет #}
                   {# s3="{{ creatSecret( '050.chekin_checkout-'~plus.id~'-pay_check-no' ) }}"  #}

                   {# новое значение статуса записи #}
                   new_status="hide"
                   {# секрет #}
                   s3="{{ creatSecret( '072.plus-'~plus.id~'-hide' ) }}" 

                   {# скрыть ссылку после клика #}
                   hidethis="da" 
                   {# сделать видимым блок по id #}
                   show_id="ares{{ plus.id }}" 
                   {# id куда печатаем результат #}
                   res_to_id="ares{{ plus.id }}" 
                   {# сообщение печатаем если всё ок #}
                   msg_to_success="Отменено"

                   {# print_res_to_id="ares{{ k1 }}" #}

                   >Отменить премию</a>


            {% endif %}

        </span>

        <div id="ares{{ plus.id }}" style="display:none;"></div>

    </div>

    {#
    <abbr data-toggle="tooltip" data-placement="bottom" title="отработано часов: {{ v7.hours }} с {{ v7.start }} до {{ v7.fin }}" >
        Отработано {{ v7.hours }} ч.
    </abbr>
    #}

    {% endfor %}

        <div>
            <a href=""

               class="put_var_in_modal btn btn-xs btn-light" 

               jobman="{{ man.id }}"
               salepoint="{{ sp_now }}"

               toform_sp="{{ sp_now }}"
               toform_sp_name="{{ spoint.head }}"

               toform_jobman="{{ man.id }}"
               toform_jobman_name="{{ man.head }}"

               date="{{ date }}"
               print_res_to_id="res{{ spoint.id }}{{ man.id }}{{ date }}{{ rr }}plus"

               {% set ss = spoint.id ~ pv.id %}
               id2="{{ ss }}"
               s2="{{ creatSecret( ss ) }}"

               data-target2="#add_plus_for_jobman"

               ><span class="fa fa-plus" ></span> премия</a>        
        </div>
        <div id="res{{ spoint.id }}{{ man.id }}{{ date }}{{ rr }}plus" xstyle="display:none;"></div>
        {% endspaceless %}