{% spaceless %}


    {% if 1 == 2 %}
        {% set timer_show = 'on' %}
    {% else %}
        {% set timer_show = 'off' %}
    {% endif %}

    
    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% set itogi_day = jobdesc_ms__get_itogi_day_on_month( db, get.sp , date_start ) %}    
    {#{{ pa(itogi_day,2) }}#}
    {% if timer_show == 'on' %} <br/>время itogi_days - {{ didrive_f__timer_stop(5) }} {% endif %}

    
    {# нормы на день #}
    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {#{% set norms_day = jobdesc__get_norms( db, sp_now, date_start, date_finish ) %}#}
    {% include dir_mod_now_mod_ditpl~'body.2007.sp.down.norms.htm' %}
    {% if timer_show == 'on' %} <br/>время norms - {{ didrive_f__timer_stop(5) }} {% endif %}

    
    {# оборот #}
    {% if 1 == 1 %}
        {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }} {% endif %}
        {% include dir_mod_now_mod_ditpl~'body.2007.sp.down.oborot.htm' %}
        {% if timer_show == 'on' %} <br/>время oborot - {{ didrive_f__timer_stop(5) }} {% endif %}
    {% endif %}

    {# время ожидания #}
    {% if 1 == 1 %}
        {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
        {% include dir_mod_now_mod_ditpl~'body.2007.sp.down.timeo.htm' %}
        {% if timer_show == 'on' %} <br/>время timeo - {{ didrive_f__timer_stop(5) }} {% endif %}
    {% endif %}

    
    {# оценка дня #}
    {% if 1 == 2 %}
        {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
        {% include dir_mod_now_mod_ditpl~'body.2007.sp.down.ocenka.htm' %}
        {% if timer_show == 'on' %} <br/>время ocenka - {{ didrive_f__timer_stop(5) }} {% endif %}
    {% endif %}

    

    {% if timer_show == 'on' %}
        {% set timer_show = 'off' %}
    {% endif %}



    {% if 1 == 2 %}

        {# итого за день #}
        {% if 1 == 2 %}
            {% if 1 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
            {% include dir_mod_now_mod_ditpl~'body.sp.down.itogi_days.htm' %}
            {% if 1 == 1 or timer_show == 'on' %} <br/>время itogi_days - {{ didrive_f__timer_stop(5) }} {% endif %}
        {% else %}
            итоги дня выключены (суммы часов)
        {% endif %}

        {% if 1 == 2 %}
            {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
            {% set norms_day = jobdesc__get_norms( db, sp_now, date_start, date_finish ) %}
            {% if timer_show == 'on' %} <br/>время norms_day - {{ didrive_f__timer_stop(5) }} {% endif %}
        {% endif %}

        {# нормы на день #}
        {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
        {% set norms_day = jobdesc__get_norms( db, sp_now, date_start, date_finish ) %}
        {% include dir_mod_now_mod_ditpl~'body.sp.down.norms.htm' %}
        {% if timer_show == 'on' %} <br/>время norms - {{ didrive_f__timer_stop(5) }} {% endif %}

        {#% set timer_show = 'on' %#}

        {# оборот #}
        {% if 1 == 1 %}
            {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }} {% endif %}
            {% include dir_mod_now_mod_ditpl~'body.sp.down.oborot.htm' %}
            {% if timer_show == 'on' %} <br/>время oborot - {{ didrive_f__timer_stop(5) }} {% endif %}
        {% endif %}

        {# оборот ajax #}
        {# этот вариант не включаю так как не работает сохранение при редактировании поля в живую #}
        {% if 1 == 2 %}
            {% if 1 == 2 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }} {% endif %}
            {% include dir_mod_now_mod_ditpl~'body.sp.down.oborot.ajax.htm' %}
            {% if 1 == 2 or timer_show == 'on' %} <br/>время oborot.ajax - {{ didrive_f__timer_stop(5) }} {% endif %}
        {% endif %}

        {% if 1 == 2 %}
            {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
            {% set time_ex_default = get_timers_on_sp_default( db ) %}
            {% if timer_show == 'on' %} <br/>время get_timers_on_sp_default - {{ didrive_f__timer_stop(5) }} {% endif %}
        {% endif %}

        {# Время ожидания #}
        {% if 1 == 2 %}
            {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
            {% include dir_mod_now_mod_ditpl~'body.sp.down.timeo.htm' %}
            {% if timer_show == 'on' %} <br/>время timeo - {{ didrive_f__timer_stop(5) }} {% endif %}
        {% endif %}

        {% if 1 == 1 %}
            {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
            {% include dir_mod_now_mod_ditpl~'body.sp.down.timeo.ajax.htm' %}
            {% if timer_show == 'on' %} <br/>время timeo.ajax - {{ didrive_f__timer_stop(5) }} {% endif %}
        {% endif %}

        {# оценка дня #}
        {% if 1 == 2 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
        {% include dir_mod_now_mod_ditpl~'body.sp.down.ocenka.htm' %}
        {% if 1 == 2 or timer_show == 'on' %} <br/>время ocenka - {{ didrive_f__timer_stop(5) }} {% endif %}

    {% endif %}



    {#% set timer_show = 'on1' %#}

{% endspaceless %}