{% spaceless %}


    <script src="/js/numberformat.js" ></script>

    {% set sp = readItems( 'sale_point', null )  %}
    {# { pa(sp.data)|raw } #}

    {% set job_in = readItems( '050.job_in_sp', null )  %}
    {# { pa(sp.data)|raw } #}

    {% set mans = readItems( '070.jobman', null )  %}

    {#
     mans
    <div style="max-height: 250px; border: 1px solid green; padding:10px; margin: 10px; overflow: auto;" >
    {{ pa(mans) }}
    </div>
    #}

    {% set dolgn = readItems( '061.dolgnost', null )  %}
    {# { pa(sp.data)|raw } #}

    {% set salarys = get_salarys( db ) %}
    {#{ pa(salarys) }#}



    <div class="container-fluid">

        {% if 1 == 2 %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                    {# % extends "body.htm" % #}
                    {# % block block1 %} block 11111111111111111 {% endblock % #}

                    {# % set krohi['1']['text'] = 'Интерфейс работы Супер администратора' %}
                    {% set krohi['1']['uri'] = get.level % #}

                    <h3>Порядок работы по шагам v0.1 <sup><a href="#" onclick="$('#list1').toggle('slow');
                            return false;" >развернуть/свернуть</a></sup> </h3>

                    {# { pa(list_plan)|raw } #}

                    <ol style="line-height:3em;display:none;" id="list1" >

                        {% for k, v in list_plan %} 

                            <li><a href="{{ v.link }}" class="btn btn-xs btn-info">{{ v.head}}</a> - {{ v.opis }}</li>

                        {% endfor %}

                        {#
                        <li><a href="#" class="btn btn-xs btn-info">Точки продаж</a> - добавляем точки продаж</li>
                        <li><a href="#" class="btn btn-xs btn-info">Должности</a> - возможные должности</li>
                        <li><a href="#" class="btn btn-xs btn-info">Размер оплаты труда</a> - добавляем настройки размеров оплаты труда должностям работающим на точке (точка "default" содержит настройки для всех точек у которых не назначены свои цифры)</li>
                        <li><a href="#" class="btn btn-xs btn-info">Сотрудники</a> - добавляем ФИО и назначем должность и даты старта стажировки/работы/уволнения сотрудника</li>
                        <li><a href="#" class="btn btn-xs btn-info">Назначение работника на точку продаж</a> - определяем кто и когда работает ( работник + точка продаж + дата )</li>
                        <li><a href="#" class="btn btn-xs btn-info">Реестр check-in check-out</a> - определяем кто и когда начал работу/закочил работу (работник + дата,время старта/финиша) </li>
                        <li><a href="#" class="btn btn-xs btn-info">Взыскания</a> - если есть взыскания персоналу, добавляем (участнвует дальше в расчёте оплаты)</li>
                        <li><a href="#" class="btn btn-xs btn-info">ЗП работников</a> - реестр кому сколько платим</li>
                        #}

                    </ol>

                </div>
            </div>
        {% endif %}

        {#
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                <Br/>
                <Br/>
                <h3>Учёт рабочего времени, выставление оценок</h3>
                <br/>
                <br/>
            </div>
        </div>
        #}

        <div class="row" style="xbackground-color:rgba(0,0,0,0.05);padding: 15px 0; ">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                {% if get.date is defined %}

                    {% set date_start = get.date|date("Y-m-d") %}
                    {% set date_finish = date_start|date_modify("+30 day")|date("Y-m-d") %}

                {% elseif get.year is defined and get.month is defined %}

                    {% set date_start = (get.year~'-'~get.month~'-01')|date("Y-m-d") %}
                    {% set date_finish = date_start|date_modify("-1 day +1 month")|date("Y-m-d") %}

                {% else %}

                    {% set date_start = now|date("Y-m-01") %}
                    {#% set date_start = now|date_modify("-3 day")|date("Y-m-d") %#}
                    {% set date_finish = date_start|date_modify("-1 day +1 month")|date("Y-m-d") %}

                {% endif %}


                {% if 1 == 2 %}
                    Указать дату начала просмотра даных
                    <form action="" method=get" >
                        <input type="date" name="date" >

                        {# { get.level } #}

                        {% if get.level is defined %}
                            <input type="hidden" name="level" value="{{ get.level }}" >
                        {% else %}
                            <input type="hidden" name="level" value="000.index" >
                        {% endif %}

                        <input type="submit" value="Показать" >
                    </form>
                    <Br/>
                {% endif %}

                {% if 1 == 1 %}

                    {# 2019 #}
                    {% set year = 2019 %}

                    {% for i in range(low=5, high=8, step=1) %}

                        {% if i < 10 %}
                            {% set i2 = '0'~i %}
                        {% else %}
                            {% set i2 = i %}
                        {% endif %}

                        <a href="?level={% if get.level is defined %}{{ get.level }}{% else %}000.index{% endif %}&year=2019&month={{ i2 }}"  
                           style="margin-right:5px;"
                           class="btn btn-xs 
                           {% if get.year is defined and get.month is defined  and get.year == year and get.month == i2 %}
                               btn-success
                           {% elseif get.year is not defined and get.month is not defined  and year == now|date('Y') and i2 == now|date('m') %}
                               btn-success
                           {% else %}
                               btn-light
                           {% endif %}
                           " >

                            {% if i2 == 01 %}
                                январь
                            {% elseif i2 == 02 %}
                                февраль
                            {% elseif i2 == 03 %}
                                март
                            {% elseif i2 == 04 %}
                                апрель
                            {% elseif i2 == 05 %}
                                май
                            {% elseif i2 == 06 %}
                                июнь
                            {% elseif i2 == 07 %}
                                июль
                            {% elseif i2 == 08 %}
                                август
                            {% elseif i2 == 09 %}
                                сентябрь
                            {% elseif i2 == 10 %}
                                октябрь
                            {% elseif i2 == 11 %}
                                ноябрь
                            {% elseif i2 == 12 %}
                                декабрь
                            {% endif %}
                            2019</a>

                    {% endfor %}

                {% endif %}

                {#
                <p><b> Показ данных с {{ date_start|date("d.m.Y") }} по {{ date_finish|date("d.m.Y") }} </b></p>
                #}

                <a href="#" style="float:right;" onclick="$('#leg').toggle('slow');
                        return false;">Легенда <sup>показать/скрыть</sup></a>

            </div>
        </div>
        <div class="row" xstyle="background-color:rgba(0,0,0,0.05);padding: 15px 0; " id='leg' style="display:none;"  >
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <span >
                    <br/>
                    <b>+Сотрудники:</b>
                    <Br/>
                    <span class="job_man_in_graph stag" style="display:inline-block;margin: 2px 5px;">Стажировка</span>
                    <span class="job_man_in_graph norm" style="display:inline-block;margin: 2px 5px;" >Норм работа</span>
                    <span class="job_man_in_graph spec" style="display:inline-block;margin: 2px 5px;" >Спец назначение</span>
                    <span class="job_man_in_graph job_other" style="display:inline-block;margin: 2px 5px;" >Работает на другой точке</span>
                    <Br/>
                    <Br/>
                    <b>+Записи к смене сотрудника:</b>
                    <Br/>
                    <span class='list_otrezki' >
                        <div class="smena_started" style="display:inline-block;margin: 2px 5px;">Смена начата сотрудником и ещё не отмечена как законченая</div>
                        <div class="smena_started_error" style="display:inline-block;margin: 2px 5px;">Смена начата сотрудником и отмечена как ошибка</div>
                        <div class="smena_started_ok" style="display:inline-block;margin: 2px 5px;">Смена начата сотрудником и отмечена как законченная</div>
                        <div class="smena_ok" style="display:inline-block;margin: 2px 5px;">Смена добавлена</div>
                        <div class="smena_cancel" style="display:inline-block;margin: 2px 5px;">Смена отменена</div>
                        <div class="pay_check" style="display:inline-block;margin: 2px 5px;">Смена отработана, отправлена на оплату</div>
                        <div class="buh_ok" style="display:inline-block;margin: 2px 5px;">Смена отработана, оплата выдана</div>
                        <div class="minus" style="display:inline-block;margin: 2px 5px;">Взыскание</div>
                        <div class="plus" style="display:inline-block;margin: 2px 5px;">Премия</div>
                    </span>
                </span>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                <br/>
                <br/>
                <button onclick="$('body .job_timer').toggle('slow');" class="btn btn-xs btn-light">Показать/скрыть время старт смены и стоп</button> &nbsp;
                <button onclick="$('body .job_hour').toggle('slow');" class="btn btn-xs btn-light">Показать/скрыть колчичество часов в смене</button>


                {# заготовка модальных окошек #}
                {% include dir_mod_now_mod_ditpl~'body.modal_wind.htm' %}

                {% set jobs = get_smena_jobs( date_start, date_finish ) %}
                {#
                 pa(jobs) 
                {{ pa(jobs) }}
                #}

                {% set jobs_on_sp = jobmans_job_on_sp( db, null, date_start, date_finish ) %}
                {#
                <br/>11
                <br/> pa(jobs_on_sp) 
                {{ pa(jobs_on_sp) }}
                #}


                {% set listjobmans = get_list_jobmans( db, date_start, date_finish ) %}
                {#
                 pa(listjobmans) 
                {{ pa(listjobmans) }}
                #}

                {# listjobmans #}

                {#jobs
                {{ pa( jobs ) }#}

                {% set checki = get_checki( date_start, date_finish ) %}
                {# { pa(checki) } #}

                {% set minusa = get_minusa( db, date_start, date_finish ) %}
                {# { pa(minusa) } #}

                {% set plusa = get_plusa( db, date_start, date_finish ) %}
                {#{ pa(plusa) }#}


                <Br/>
                <Br/>


            </div>
        </div>
    </div>

    {#{ pa(session) }#}

    <div style="display:inline-block;padding-right:100px;margin-right:100px;">
        <div class="ttable cell-padding5 list_otrezki2 cell-border">
            <div class="trow stick-top" style="background-color: rgba(255,255,255,0.9);">
                <div class="tcell"></div>


                {% for i in range(low=0, high=35, step=1) %}  

                    {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}
                    {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                        {#
                        <div class="tcell" >
                            {{ date_finish }} +
                            {{ date_finish|date("d.m.Y")|date("U") }}
                            {{ nd }} +
                            {{ nd|date("d.m.Y")|date("U") }}
                        </div>
                        #}

                        <div class="tcell" {% if date_start|date_modify("+"~i~" day")|date("N") > 5 %} style="background-color:rgba(255,0,0,0.1);" {% endif%} >
                            {# % set nowd = "01-06-2019"|date_modify("+"~i~" day")|date("d.m.y") % #}
                            {{ nd|date("d.m") }}

                            {% if nd|date("N") == 1 %}Пн
                            {% elseif nd|date("N") == 2 %}Вт
                            {% elseif nd|date("N") == 3 %}Ср
                            {% elseif nd|date("N") == 4 %}Чт
                            {% elseif nd|date("N") == 5 %}Пт
                            {% elseif nd|date("N") == 6 %}Сб
                            {% elseif nd|date("N") == 7 %}Вс
                            {% endif %}

                            {#
                            <a href="#" class='ocenka_dnya' onclick="$('#ocneka_{{ spoint_id }}_{{ loop.index }}').toggle();
                                                return false;">
                                +оценка
                            </a>
        
                            <center>
                                <div id="ocneka_{{ spoint_id }}_{{ loop.index }}" class="hide btn-group" role="group" aria-label="Basic example">
                                    <button class="btn btn-xs btn-light">3</button>
                                    <button class="btn btn-xs btn-warning">4</button>
                                    <button class="btn btn-xs btn-success">5</button>
                                </div>
                            </center>
                            #}
                        </div>
                    {% endif %}
                {% endfor %}


            </div>

            {#{ pa(jobs_on_sp.jobs_on_sp) }#}

            {% for sp_now, list12 in jobs_on_sp.jobs_on_sp %}

                {% set comments = getComments( db, date_start, date_finish, sp_now ) %}
                {#{ pa(comments) }#}

                {% set spoint = sp.data[sp_now] %}
                {#{ pa(spoint) }#}



                <div class="trow alert-warning"  >
                    <div class="tcell alert-warning stick-left" >
                        <b>
                            {{ sp['data'][sp_now]['head'] }}
                            <sup>#{{ sp_now }}</sup>

                        </b>
                    </div>
                    <div class="tcell alert-warning" >
                    </div>
                    <div class="tcell alert-warning" >
                    </div>
                    <div class="tcell alert-warning" >
                    </div>
                    <div class="tcell alert-warning" >
                    </div>

                </div>

                {% set hour_summ = [] %}

                {% for user5, type_user_now in list12 if type_user_now != 'hide' %}

                    <div class="trow">
                        <div class="tcell stick-left bg-white">

                            {#
                            user #{{ user5 }} 
                            #}

                            {% set man = mans['data'][user5] %}

                            {% set now_job = where_now_dolgn( jobs_on_sp, sp_now, man.id, date_start ) %}
                            {#{ pa(now_job.dolgnost) }#}

                            <nobr>

                                {#<sup title="{{ dolgn.data[now_job.dolgnost]['head'] }}">{{ dolgn.data[now_job.dolgnost]['head'][:6] }}</sup>#}
                                <div style="color:gray;">{{ dolgn.data[now_job.dolgnost]['head'] }}</div>

                                {{ man['dop']['lastName'] }}
                                {{ man['dop']['firstName'] }}
                                {#{ pa(man_now) }#}
                                {#% set man1 = man['data'][v1.dop.jobman] %#}

                                {% if type_job == 'spec' %}
                                    <abbr class="alert-danger" style="padding:1px 5px;" title="был назначен с другой точки">S</abbr>
                                {% endif %}

                            </nobr>

                            {#{ pa(v75) }#}

                        </div>

                        {# проход по датам по человеку #}


                        {% for i in range(low=0, high=35, step=1) %}  

                            {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}
                            {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                                {# текущая дата #}
                                {% set date = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
                                {# текущий чел #}
                                {#{ man }#}

                                <div class="tcell c{{ man.id }}_{{sp_now}}_{{ date }}">

                                    {% set now_job = where_now_dolgn( jobs_on_sp, sp_now, man.id, date ) %}

                                    {#{ pa(now_job) }#}

                                    {% if now_job == false %}
                                    {% else %}

                                        {#                                        
                                        <br/><nobr>{{ date }}</nobr>
                                        #}

                                        {% if now_job.date == date %}
                                            {% if now_job.stagirovka == 'da' %}
                                                <div class="alert-danger" >старт стажировки</div>
                                            {% else %}
                                                <div class="alert-info" >старт норм работы</div>
                                            {% endif %}
                                        {% endif %}

                                        {% include dir_mod_now_mod_ditpl~'body.1day1men.htm' %}
                                        {% include dir_mod_now_mod_ditpl~'body.mans.item.minusa.htm' %}
                                        {% include dir_mod_now_mod_ditpl~'body.mans.item.bonus.htm' %}

                                        {#{ pa(now_job) }#}

                                        <div class="option_img" ><i onclick='$(".c{{ man.id }}_{{sp_now}}_{{ date }} .put_var_in_modal").toggle("slow");
                                                return false;' class="fa fa-cog"></i></div>

                                    {% endif %}

                                </div>
                            {% endif %}
                        {% endfor %}

                    </div>

                {% endfor %}

                <div class="trow" >

                    <div class="tcell stick-left bg-white" >
                        <b>Итого за день</b>
                    </div>         

                    {% for i in range(low=0, high=35, step=1) %}  

                        {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
                        {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}
                        {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                            <div class="tcell" >
                                <div style="min-width:120px; padding: 5px;">
                                    <div class="show_summ_hour_day" data="{{ now_date2 }}" sp="{{ sp_now }}" ></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>




                <div class="trow" >

                    <div class="tcell stick-left bg-white" >
                        <nobr>
                            <b>Время ожидания</b>
                            <br/>
                            <a href="#" onclick="$('#tr{{sp_now}}times').toggle('slow');
                                    return false;" >
                                скрыть/показать</a>
                        </nobr>

                        {% set time_ex = get_timers_on_sp( db, sp_now, date_start, date_finish ) %}
                        {#
                        time_ex
                        {{ pa(time_ex) }}
                        #}
                        {% set time_ex_default = get_timers_on_sp_default( db ) %}
                        
                        {#
                        time_ex_default
                        {{ pa(time_ex_default) }}
                        #}


                    </div>         
                </div>         

                <div class="trow" id="tr{{sp_now}}times" style="display:none;">

                    <div class="tcell stick-left bg-white" >
                        Холодный цех
                        <br/>
                        Горячий цех
                        <br/>
                        Доставка
                    </div>         

                    {% for i in range(low=0, high=35, step=1) %}  

                        {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
                        {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}
                        {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                            <div class="tcell" >
                                <div class='text-center'>
                                    {% if time_ex[now_date2]['cold'] > 0 %}
                                        {{ time_ex[now_date2]['cold'] }}
                                    {% elseif time_ex_default['cold'] is defined %}<font color="gray" >{{ time_ex_default['cold'] }}</font>
                                    {% else %}-{% endif %}
                                    <Br/>
                                    {% if time_ex[now_date2]['hot'] > 0 %}{{ time_ex[now_date2]['hot'] }}
                                    {% elseif time_ex_default['hot'] is defined %}<font color="gray" >{{ time_ex_default['hot'] }}</font>
                                    {% else %}-{% endif %}
                                    <Br/>
                                    {% if time_ex[now_date2]['delivery'] > 0 %}
                                        {{ time_ex[now_date2]['delivery'] }}
                                    {% elseif time_ex_default['delivery'] is defined %}<font color="gray" >{{ time_ex_default['delivery'] }}</font>
                                    {% else %}-{% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>




                <div class="trow" >

                    <div class="tcell stick-left bg-white" >
                        <nobr>
                            <b>Параметры нормы дня</b>
                            <br/>
                            <a href="#" onclick="$('#tr{{sp_now}}norms').toggle('slow');
                                    return false;" >
                                скрыть/показать</a>
                        </nobr>

                        {% set norms_day = get_norms( db, sp_now, date_start, date_finish ) %}
                        
                        norms_day
                        {{ pa(norms_day) }}
                        


                    </div>         
                </div>         

                <div class="trow" id="tr{{sp_now}}norms" style="display:none;">

                    <div class="tcell stick-left bg-white" >
                        <nobr>
                            выручка
                            <br/>
                            время ожидания хол. цех
                            <br/>
                            время ожидания гор. цех
                            <br/>
                            время ожидания доставка
                            <br/>
                            % в ЗП от оборота
                            <br/>
                            кол-во час. в 1 смене
                        </nobr>
                    </div>         

                    {% set last_v = 0 %}

                    {% for i in range(low=0, high=35, step=1) %}  

                        {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
                        {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}
                        {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                            <div class="tcell" >
                                <div class='text-center'>

                                    {% set show_data = 0 %}

                                    {% for k4, v4 in norms_day.data if v4.dop.date == now_date2 %}  

                                        {% set show_data = 1 %}

                                        {% set last_v = v4 %}

                                        {#{ pa( v4 ) }#}
                                        <nobr>
                                            {{ v4.dop.vuruchka|number_format(0, '.', '`') }} р
                                            <br/>
                                            {{ v4.dop.time_wait_norm_cold }}
                                            <br/>
                                            {{ v4.dop.time_wait_norm_hot }}
                                            <br/>
                                            {{ v4.dop.time_wait_norm_delivery }}
                                            <br/>
                                            {{ v4.dop.procent_oplata_truda_on_oborota }} %
                                            <br/>
                                            {{ v4.dop.kolvo_hour_in1smena }}
                                        </nobr>

                                    {% endfor %}

                                    {% if show_data == 0 %}
                                        {% if last_v != 0 %}
                                            <nobr>
                                                {{ last_v.dop.vuruchka|number_format(0, '.', '`') }} р
                                                <br/>
                                                {{ last_v.dop.time_wait_norm_cold }}
                                                <br/>
                                                {{ last_v.dop.time_wait_norm_hot }}
                                                <br/>
                                                {{ last_v.dop.time_wait_norm_delivery }}
                                                <br/>
                                                {{ last_v.dop.procent_oplata_truda_on_oborota }} %
                                                <br/>
                                                {{ last_v.dop.kolvo_hour_in1smena }}
                                                <br/>
                                                <small style="color:gray;" >копия</small>
                                            </nobr>

                                        {% else %}
                                            -
                                            <br/>
                                            -
                                            <br/>
                                            -
                                            <br/>
                                            -
                                            <br/>
                                            -
                                            <br/>
                                            -
                                        {% endif %}
                                    {% endif %}

                                    {#% if time_ex[now_date2]['cold'] > 0 %}
                                    {{ time_ex[now_date2]['cold'] }}
                                    {% else %}-{% endif %}
                                    <Br/>
                                    {% if time_ex[now_date2]['hot'] > 0 %}{{ time_ex[now_date2]['hot'] }}{% else %}-{% endif %}
                                    <Br/>
                                    {% if time_ex[now_date2]['delivery'] > 0 %}
                                    {{ time_ex[now_date2]['delivery'] }}
                                    {% else %}-{% endif %#}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>


                <div class="trow" >

                    <div class="tcell stick-left bg-white" >
                        <nobr>
                            <b>Оборот</b>
                            <br/>
                            <a href="#" onclick="$('#tr{{sp_now}}obr').toggle('slow');
                                    return false;" >
                                скрыть/показать</a>
                        </nobr>

                        {#% set norms_day = get_norms( db, sp_now, date_start, date_finish ) %#}
                        {#
                        norms_day
                        {{ pa(norms_day) }}
                        #}

                    </div>
                </div>         

                <div class="trow" id="tr{{sp_now}}obr" style="xdisplay:none;">

                    <div class="tcell stick-left bg-white" >
                        <nobr>
                            руб
                        </nobr>
                    </div>         

                    {% for i in range(low=0, high=35, step=1) %}  

                        {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
                        {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}
                        {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                            <div class="tcell" >
                                <div class='text-center'>

                                    -

                                    {% if 1 == 2  %}
                                        {% set show_data = 0 %}

                                        {% for k4, v4 in norms_day.data if v4.dop.date == now_date2 %}  

                                            {% set show_data = 1 %}

                                            {% set last_v = v4 %}

                                            {#{ pa( v4 ) }#}
                                            <nobr>
                                                {{ v4.dop.vuruchka|number_format(0, '.', '`') }} р
                                                <br/>
                                                {{ v4.dop.time_wait_norm_cold }}
                                                <br/>
                                                {{ v4.dop.time_wait_norm_hot }}
                                                <br/>
                                                {{ v4.dop.time_wait_norm_delivery }}
                                                <br/>
                                                {{ v4.dop.procent_oplata_truda_on_oborota }} %
                                                <br/>
                                                {{ v4.dop.kolvo_hour_in1smena }}
                                            </nobr>

                                        {% endfor %}

                                        {% if show_data == 0 %}
                                            {% if last_v != 0 %}
                                                <nobr>
                                                    {{ last_v.dop.vuruchka|number_format(0, '.', '`') }} р
                                                    <br/>
                                                    {{ last_v.dop.time_wait_norm_cold }}
                                                    <br/>
                                                    {{ last_v.dop.time_wait_norm_hot }}
                                                    <br/>
                                                    {{ last_v.dop.time_wait_norm_delivery }}
                                                    <br/>
                                                    {{ last_v.dop.procent_oplata_truda_on_oborota }} %
                                                    <br/>
                                                    {{ last_v.dop.kolvo_hour_in1smena }}
                                                    <br/>
                                                    <small style="color:gray;" >копия</small>
                                                </nobr>

                                            {% else %}
                                                -
                                                <br/>
                                                -
                                                <br/>
                                                -
                                                <br/>
                                                -
                                                <br/>
                                                -
                                                <br/>
                                                -
                                            {% endif %}
                                        {% endif %}

                                    {% endif %}

                                    {#% if time_ex[now_date2]['cold'] > 0 %}
                                    {{ time_ex[now_date2]['cold'] }}
                                    {% else %}-{% endif %}
                                    <Br/>
                                    {% if time_ex[now_date2]['hot'] > 0 %}{{ time_ex[now_date2]['hot'] }}{% else %}-{% endif %}
                                    <Br/>
                                    {% if time_ex[now_date2]['delivery'] > 0 %}
                                    {{ time_ex[now_date2]['delivery'] }}
                                    {% else %}-{% endif %#}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>










            {% endfor %}

        </div>
    </div>


{% endspaceless %}