{% spaceless %}

    {#{% if session.now_user_di.access is defined and session.now_user_di.access == 'admin' %}#}
    {#<small xclass="show_to_admin" >чек #{{ i.id }}</small>#}
    {#<small xclass="show_to_admin" >дата {{ date }}</small>#}
    {#{% endif %}#}

    {#{{ sp_now }}#}
    {#<br/> jobman {{ jobman }}#}

    {#текущая дата#}
    {#{{ date }} #}

    {#{{ date_finish }}#}
    {#{{ pa(user_v,2) }}#}
    {#user_id#}
    {#{{ pa(user_id,2) }}#}

    {# pa(session) #}
    {#{{ pa(session) }}#}

    {#pa(i) #}
    {#{{ pa(i) }}#}

    {#pa(user_v) #}
    {#{{ pa(user_v) }}#}






    {# шестерёнка дня #}
    {#{% if show_option_day == true %}#}
    {% if 1 == 1  %}

        <div class="btn-group" style="text-align:right;display:block;xfloat:right;" >

            <div class="option_img dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"                 
                 ><i class="fa fa-cog" ></i></div>

            <div class="dropdown-menu" >

                {# metki #}
                {% if 1 == 1 %}

                    {#{{ pa(metkis) }}#}
                    {% for k,v in metkis %}

                        {% if 1 == 2 %}
                            <a href="" 

                               {#xclass="put_var_in_modal btn btn-sm btn-light" #}
                               class="xput_var_in_modal2 dropdown-item btn-light base_modal_go"

                               {#
                               data-toggle2="modal" 
                               data-target2="#add_jobday_for_jobman" 
        
                               jobman="{{ jobman }}"
                               salepoint="{{ sp_now }}"
        
                               toform_sp="{{ sp_now }}"
                               toform_sp_name="{{ sps[sp_now]['head'] }}"
        
                               toform_jobman="{{ jobman }}"
                               toform_jobman_name="{{ mans[man]['head'] }}"
        
                               date="{{ date }}"
                               print_res_to_id="res{{ sp_now }}{{ jobman }}{{ date }}"
        
                               {% set ss = sp_now ~ man %}
                               id2="{{ ss }}"
                               s2="{{ creatSecret( ss ) }}"
                                #}

                               data-toggle="modal" data-target="#di_modal" 

                               modal_header='Добавляем метку'
                               ajax_link='/vendor/didrive_mod/items/2/ajax.php'
                               ajax_vars='action=add_new&id={{ jobman~k~date }}&s={{ creatSecret( jobman~k~date) }}&add_module=072.metki&add[type2]={{ k }}&add[head]={{ v }}&add[jobman]={{  jobman }}&add[sale_point]={{ sp_now }}&add[date]={{ date }}{% if session.now_user_di.id is defined %}&add[creatman]={{ session.now_user_di.id }}{% endif %}&remove_cash[]=metki&remove_cash[]={{ date }}'

                               reload_page_after_ok="da"

                               style="padding:5px;"

                               ><nobr><span class="fa fa-plus" ></span> метку <span class="jobdesc_metka" >{{ v }}</span> {#{ k }#}</nobr></a>
                                {% endif %}

                        <button

                           class="base__send_to_ajax dropdown-item btn-light" 
                           style="padding:5px;"

                           href_to_ajax="/vendor/didrive_mod/jobdesc/1/didrive/micro-service/add-metka.php" 

                           sale_point="{{ sp_now }}"
                           jobman="{{ jobman }}"
                           date="{{ date }}" 
                           metka="{{ k }}"

                           s="{{ creatSecret( sp_now ~ jobman ~ date ~ k ) }}" 

                           metka_name="{{ v }}"

                           res_to_id="com{{ now_dolgn.id ~ date }}" 

                           return="skip"
                           hide_dropdown="da"
                           
                           {#after_result_hide_dropdown="dropdown_{{ jobman }}_{{sp_now}}_{{ date }}"#}
                           {#onclick="$('#show_menu_{{ jobman }}_{{sp_now}}_{{ date }}').toggle('slow');"#}
                           {#onclick="$().dropdown('toggle');"#}
                           {#xstyle="float:right;" #}
                           {# hidethis="da" #}
                           {# xanswer="удалить комментарий ?" #}
                           {#action="remove_item" #}
                           {#aj_id="{{ now_dolgn.id }}" #}
                           {# id={{ jobman~k~date }}&s={{ creatSecret( jobman~k~date) }}&add_module=072.metki&
                           add[type2]={{ k }}&add[head]={{ v }}&add[jobman]={{  jobman }}&add[sale_point]={{ sp_now }}&add[date]={{ date }}{% if session.now_user_di.id is defined %}&add[creatman]={{ session.now_user_di.id }}{% endif %}&remove_cash[]=metki&remove_cash[]={{ date }}'#}
                           {#after_click_showid="com{{ now_dolgn.id ~ date }}" #}
                           {#msg_to_success="Увольнение зафиксировано"#}
                           {#result_ok_click_to_id="show_menu_{{ jobman }}_{{sp_now}}_{{ date }}"#}
                           {#onclick="$('.dropdown-menu').hide();"#}
                           {# onclick="$().dropdown('toggle');" #}
                           {#data-toggle="dropdown"#}

                           ><nobr><span class="fa fa-plus" ></span> метку <span class="jobdesc_metka" >{{ v }}</span> {#{ k }#}</nobr></button>


                    {% endfor %}
                {% endif %}


                {# добавить смену#}
                {% if 1 == 1 %}
                    <a href="" 

                       xclass="put_var_in_modal btn btn-xs btn-light" 
                       class="put_var_in_modal2 dropdown-item btn-light"

                       data-toggle2="modal" 
                       data-target2="#add_jobday_for_jobman" 

                       jobman="{{ jobman }}"
                       salepoint="{{ sp_now }}"

                       toform_sp="{{ sp_now }}"
                       toform_sp_name="{{ sps[sp_now]['head'] }}"

                       toform_jobman="{{ jobman }}"
                       {#toform_jobman_name="{{ mans[man]['head'] }}"#}
                       toform_jobman_name="{{ jobman_fio }}"

                       date="{{ date }}"
                       print_res_to_id="res{{ sp_now }}{{ jobman }}{{ date }}"

                       {% set ss = sp_now ~ man %}
                       id2="{{ ss }}"
                       s2="{{ creatSecret( ss ) }}"
                       style="padding:5px;"

                       onclick="$('.but_submit_add_form').show();"
                       ><nobr>
                            <span class="fa fa-plus" ></span> смену
                        </nobr>
                    </a>
                {% endif %}


                {# добавить коментарий взыскание бонус #}
                {% if 1 == 1 %}
                    <a href="" 

                       xclass="put_var_in_modal btn btn-xs btn-light"
                       class="put_var_in_modal2 dropdown-item btn-light"

                       data-toggle2="modal" 
                       data-target2="#add_comment" 

                       jobman="{{ jobman }}"
                       sale_point="{{ sp_now }}"

                       date_to="{{ date }}"
                       print_res_to_id="res{{ sp_now }}{{ jobman }}{{ date }}comment"

                       creator="{{ session.now_user_di.id }}"

                       toform_sp="{{ sp_now }}"
                       toform_sp_name="{{ sps[sp_now]['head'] }}"

                       toform_jobman="{{ jobman }}"
                       {#toform_jobman_name="{{ mans[man]['head'] }}"#}
                       toform_jobman_name="{{ jobman_fio }}"


                       {% set ss = sp_now ~ man %}
                       id2="{{ ss }}"
                       s2="{{ creatSecret( ss ) }}"

                       delete_cash_start_date="{{ date_start }}"
                       style="padding:5px;"
                       ><nobr>
                            <span class="fa fa-plus" ></span> комментарий
                        </nobr></a>

                    <a href=""

                       xclass="put_var_in_modal btn btn-xs btn-light" 
                       class="put_var_in_modal2 dropdown-item btn-light"

                       jobman="{{ jobman }}"
                       {# salepoint="{{ sp_oint.id }}" #}
                       salepoint="{{ sp_now }}"

                       {# toform_sp="{{ sp_now }}" #}
                       toform_sp="{{ sp_now }}"
                       toform_sp_name="{{ sps[sp_now]['head'] }}"

                       toform_jobman="{{ jobman }}"
                       {#toform_jobman_name="{{ mans[man]['head'] }}"#}
                       toform_jobman_name="{{ jobman_fio }}"

                       date="{{ date }}"
                       {# print_res_to_id="res{{ sp_now }}{{ jobman }}{{ date }}{{ rr }}" #}
                       print_res_to_id="sp{{ sp_now }}_jm{{ jobman }}_minus{{ date }}"
                       xxprint_res_to_class="sp{{ sp_now }}_jm{{ jobman }}_minus{{ date }}"

                       {% set ss = sp_now ~ pv.id %}
                       id2="{{ ss }}"
                       s2="{{ creatSecret( ss ) }}"

                       data-target2="#add_minus_for_jobman"
                       style="padding:5px;"
                       ><span class="fa fa-minus" ></span> взыскание</a>

                    <a href=""

                       xclass="put_var_in_modal btn btn-xs btn-light" 
                       class="put_var_in_modal2 dropdown-item btn-light"

                       jobman="{{ jobman }}"
                       salepoint="{{ sp_now }}"

                       toform_sp="{{ sp_now }}"
                       toform_sp_name="{{ sps[sp_now]['head'] }}"

                       toform_jobman="{{ jobman }}"
                       {#toform_jobman_name="{{ mans[man]['head'] }}"#}
                       toform_jobman_name="{{ jobman_fio }}"

                       date="{{ date }}"
                       {# print_res_to_id="res{{ sp_now }}{{ jobman }}{{ date }}{{ rr }}plus" #}
                       {#print_res_to_id="sp{{ sp_now }}_jm{{ jobman }}_plus{{ date }}"#}
                       print_res_to_id="res{{ sp_now }}{{ jobman }}{{ date }}comment"

                       {% set ss = sp_now ~ pv.id %}
                       id2="{{ ss }}"
                       s2="{{ creatSecret( ss ) }}"

                       data-target2="#add_plus_for_jobman"
                       style="padding:5px;"
                       >
                        <span class="fa fa-plus" ></span> премия
                    </a>
                {% endif %}

                {# добавить увольнение ++ #}
                <a href="#"

                   
                   {% if 1 == 2 %}
                   class="base__send_to_ajax dropdown-item btn-light" 
                   {#xstyle="float:right;" #}
                   href_to_ajax="/vendor/didrive_mod/jobdesc/1/didrive/micro-service/set-dismissal.php" 
                   {# hidethis="da" #}
                   {# xanswer="удалить комментарий ?" #}
                   {#action="remove_item" #}
                   aj_id="{{ now_dolgn.id }}" 
                   date="{{ date }}" 
                   s="{{ creatSecret( now_dolgn.id ~ date ) }}" 
                   res_to_id="com{{ now_dolgn.id ~ date }}" 
                   {#after_click_showid="com{{ now_dolgn.id ~ date }}" #}
                   {#msg_to_success="Увольнение зафиксировано"#}
                   return="skip"
                   {#onclick="$('.dropdown-menu').hide();"#}
                   {# onclick="$().dropdown('toggle');" #}
                   {#data-toggle="dropdown"#}
                   {% endif %}


                    class='base_modal_go dropdown-item btn-light xicon_removed_item'
                    data-toggle="modal" 
                    data-target="#di_modal"
                    modal_header='Фиксируем увольнение'

                    ajax_link='/vendor/didrive_mod/items/3/micro-service/items__new_edit3.php'
                    ajax_vars='aj_table=mod_jobman_send_on_sp&value={{ date }}&var_edit=date_finish&var1=id&var1v={{ now_dolgn.id }}&aj_id={{ now_dolgn.id }}&s={{ creatSecret( aj_table ~ now_dolgn.id ) }}'

                    reload_page_after_ok="da"
                    get_answer='Фиксируем увольнение ?'

                   ><span class="fa fa-window-close" ></span> уволен c завтрашнего дня<br/>
                    <small>сегодня последний день в этой должности</small></a>

            </div>

        </div>

        <div id="res{{ sp_now }}{{ jobman }}{{ date }}" ></div>
        <div id="res{{ sp_now }}{{ jobman }}{{ date }}comment" ></div>    

        <div id="res{{ sp_now }}{{ jobman }}{{ date }}{{ rr }}" xstyle="display:none;"></div>
        <div id="res{{ sp_now }}{{ jobman }}{{ date }}{{ rr }}plus" xstyle="display:none;"></div>

        <div id="res{{ sp_now }}{{ jobman }}{{ date }}remove_job" ></div>    
        <div id="com{{ now_dolgn.id ~ date }}" ></div>    

    {% endif %}



    <div id='sp{{ sp_now }}_jm{{ jobman }}_minus{{ date }}' ></div>



{% endspaceless %}