<!-- Button trigger modal -->
{#
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add_jobday_for_jobman">
#}

{#
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Запустить модальное окно
</button>
#}

{# <!-- Modal добавка смены работнику --> #}
<div class="modal fade" id="add_jobday_for_jobman" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавляем рабочу смену</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="" method="post" id="add_new_smena">
                <div class="modal-body">

                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Кто</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" id="toform_jobman_name" value="">
                            <input type="hidden" id="toform_jobman" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Точка продаж</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" id="toform_sp_name" value="">
                            <input type="hidden" id="toform_sp" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Старт работы</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" name="date" id="date" value="" style="width: 120px; display: inline-block;" >
                            <input type="time" class="form-control -plaintext" name="start_time" xid="start_time" value="" required="" style="width: 120px;  display: inline-block;" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Стоп работы</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control -plaintext" name="fin_time" id="toform_fin_date_time" value="" required="" style="width: 120px;" >
                            <small>Если время сдачи смены после 12 ночи, ставте 01:00 например</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Оценка</label>
                        <div class="col-sm-10">
                            <select class="form-control -plaintext" name="ocenka" id="toform_ocenka" style="width: 120px;" >
                                <option value="">оценка</option>
                                <option value="5">5</option>
                                <option value="4">4</option>
                                <option value="3">3</option>
                                <option value="2">2</option>
                            </select>
                            <small>от 5 до 2</small>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    {#
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрыть</button>
                  #}

                    <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
                    <input type="hidden" name="action" id="action" value="add_new_smena" >
                    <input type="hidden" name="id2" id="id2" value="" >
                    <input type="hidden" name="s2" id="s2" value="" >
                    <input type="hidden" name="print_res_to_id" id="print_res_to_id" value="" >
                    <input type="hidden" name="data-target2" id="data-target2" value="" >
                    <input type="hidden" name="jobman" id="jobman" value="" >
                    <input type="hidden" name="salepoint" id="salepoint" value="" >

                </div>
            </form>
        </div>
    </div>
</div>


{# <!-- Modal отправляем работника на другую точку в этот день --> #}
<div class="modal fade" id="add_perenos_jobman" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Отправляем на работу в другую точку</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="" method="post" id="goto_other_sp">

                <div class="modal-body">

                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Дата</label>
                        <div class="col-sm-10">
                            <input type="date" name="date" readonly class="form-control -plaintext" id="toform_date" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Кто</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" id="toform_jobman_name" value="">
                            <input type="hidden" id="toform_jobman" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Точка продаж</label>
                        <div class="col-sm-10">
                            <select name='toform_sp' class="form-control" >
                                {% for k,sp4 in sp.data if sp4.head != 'default' and sp4.status == 'show' %}
                                    <option value='{{ sp4.id }}'>{{ sp4.id }} {{ sp4.head }}</option>
                                {% endfor %}
                            </select>
                            {#
                            <input type="text" readonly class="form-control -plaintext" id="toform_sp_name" value="">
                            <input type="hidden" id="toform_sp" value="">
                            #}
                        </div>
                    </div>

                    {#
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Старт работы</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control -plaintext" name="date" id="date" value="" style="width: 120px; display: inline-block;" >
                        <input type="time" class="form-control -plaintext" name="start_time" xid="start_time" value="" required="" style="width: 120px;  display: inline-block;" >
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Стоп работы</label>
                    <div class="col-sm-10">
                        <input type="time" class="form-control -plaintext" name="fin_time" id="toform_fin_date_time" value="" required="" style="width: 120px;" >
                        <small>Если время сдачи смены после 12 ночи, ставте 01:00 например</small>
                    </div>
                </div>
#}
                </div>
                <div class="modal-footer">

                    {#
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрыть</button>
                  #}

                    <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
                    <input type="hidden" name="action" id="action" value="goto_other_sp" >
                    <input type="hidden" name="id2" id="id2" value="" >
                    <input type="hidden" name="s2" id="s2" value="" >
                    <input type="hidden" name="print_res_to_id" id="print_res_to_id" value="" >
                    <input type="hidden" name="data-target2" id="data-target2" value="" >
                    <input type="hidden" name="jobman" id="jobman" value="" >
                    <input type="hidden" name="salepoint" id="salepoint" value="" >

                </div>
            </form>
        </div>
    </div>
</div>


{# <!-- Modal добавить взыскание --> #}
<div class="modal fade add_values" id="add_minus_for_jobman" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить взыскание</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="" method="post" id="add_minus">

                <div class="modal-body">


                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Кто</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" id="toform_jobman_name" value="">
                            <input type="hidden" id="toform_jobman" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Точка продаж</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" id="toform_sp_name" value="">
                            <input type="hidden" id="toform_sp" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Когда</label>
                        <div class="col-sm-10">
                            <input type="date" readonly class="form-control" name="date" id="date" value="" xstyle="width: 120px; display: inline-block;" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Сумма взыскания</label>
                        <div class="col-sm-10">
                            <input type="number" max="0" min="-100000" step="1" class="form-control -plaintext" name="summa" xid="start_time" value="" required="" style="width: 120px;  display: inline-block;" >
                            <br/>
                            <small>сумма взыскания: например -100р</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Причина взыскания</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="text" ></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    {#
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрыть</button>
                  #}

                    <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
                    <input type="hidden" name="action" id="action" value="add_new_minus" >
                    <input type="hidden" name="id2" id="id2" value="" >
                    <input type="hidden" name="s2" id="s2" value="" >
                    <input type="hidden" name="print_res_to_id" id="print_res_to_id" value="" >
                    <input type="hidden" name="data-target2" id="data-target2" value="" >
                    <input type="hidden" name="jobman" id="jobman" value="" >
                    <input type="hidden" name="salepoint" id="salepoint" value="" >

                </div>
            </form>
        </div>
    </div>
</div>


{# <!-- Modal добавить премию --> #}
<div class="modal fade add_values" id="add_plus_for_jobman" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить премию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="" method="post" id="add_minus">

                <div class="modal-body">


                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Кто</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" id="toform_jobman_name" value="">
                            <input type="hidden" id="toform_jobman" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Точка продаж</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" id="toform_sp_name" value="">
                            <input type="hidden" id="toform_sp" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Когда</label>
                        <div class="col-sm-10">
                            <input type="date" readonly class="form-control" name="date" id="date" value="" xstyle="width: 120px; display: inline-block;" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Сумма премии</label>
                        <div class="col-sm-10">
                            <input type="number" max="100000" min="0" step="1" class="form-control -plaintext" name="summa" xid="start_time" value="" required="" style="width: 120px;  display: inline-block;" >
                            <br/>
                            <small>например 700р</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Комментарий</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="text" ></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    {#
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрыть</button>
                  #}

                    <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
                    <input type="hidden" name="action" id="action" value="add_new_plus" >
                    <input type="hidden" name="id2" id="id2" value="" >
                    <input type="hidden" name="s2" id="s2" value="" >
                    <input type="hidden" name="print_res_to_id" id="print_res_to_id" value="" >
                    <input type="hidden" name="data-target2" id="data-target2" value="" >
                    <input type="hidden" name="jobman" id="jobman" value="" >
                    <input type="hidden" name="salepoint" id="salepoint" value="" >

                </div>
            </form>
        </div>
    </div>
</div>


{# <!-- Modal добавить комментарий --> #}
<div class="modal fade add_values" id="add_comment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавить комментарий</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form action="" method="post" id="add_minus">

                <div class="modal-body">


                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Кто</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" id="toform_jobman_name" value="">
                            <input type="hidden" id="toform_jobman" name="jobman" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="a1" class="col-sm-2 col-form-label">Точка продаж</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" id="toform_sp_name" value="">
                            <input type="hidden" id="toform_sp" name="sale_point" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Когда</label>
                        <div class="col-sm-10">
                            <input type="date" readonly class="form-control" name="date_to" id="date_to" value="" xstyle="width: 120px; display: inline-block;" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Комментарий</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="comment" ></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">

                    {#
                  <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрыть</button>
                  #}

                    <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
                    <input type="hidden" name="action" id="action" value="add_comment" >
                    <input type="hidden" name="id2" id="id2" value="" >
                    <input type="hidden" name="s2" id="s2" value="" >
                    <input type="hidden" name="print_res_to_id" id="print_res_to_id" value="" >
                    <input type="hidden" name="data-target2" id="data-target2" value="" >
                    <input type="hidden" name="jobman" id="jobman" value="" >
                    <input type="hidden" name="salepoint" id="salepoint" value="" >
                    <input type="hidden" name="creator" id="creator" value="" >

                </div>
            </form>
        </div>
    </div>
</div>


{# перемещение работающего сотрудника #}

<div class="bd-example">
    <div class="modal fade" id="movePesonalOnSp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    {#
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    #}
                    <h4 class="modal-title" id="exampleModalLabel">Назначение работающего сотрудника на точку продаж</h4>
                </div>

                <form class="put_workman_on_sp" method="post" action="" >

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Точка продаж:</label>
                            <input type="text" class="form-control" id="move_person__sp_name" readonly="readonly" value="00">
                            <input type="hidden" id="move_person__sp" name="sp" value="00" >
                            <input type="hidden" id="move_person__sp_s" name="sp_s" value="00" >
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Сотрудник:</label>

                            {% set jobmans_on_add = jobdesc__get_movelist_jobmans(db) %}
                            {#{ pa(jobmans_on_add) }#}
                            <select class="form-control" name="user" id="move_person__user" required="requiered" >
                                <option value="">выберите сотрудника</option>
                                {% for u, u_da in jobmans_on_add %}
                                    <option value="{{ u_da.id }}">{{ u_da.head }} ({{ u_da.bd }})</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Курит ?
                                <input type="checkbox" name="smoke" value="da" > да, курит
                            </label>
                        </div>

                        <div class="form-group">

                            <label for="recipient-name" class="form-control-label">Должность:</label>

                            {% set dolgnost_on_add = items__readItems(db,'061.dolgnost') %}
                            {#{ pa(dolgnost_on_add) }#}
                            <select class="form-control" name="dolgn" id="move_person__user" required="requiered" >
                                <option value="">Выберите</option>
                                {% for id, da in dolgnost_on_add.data %}
                                    <option value="{{ id }}">{{ da.head }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="move_person__date" class="form-control-label">Первый день работы в указанной должности:</label>
                            <input type="date" class="form-control" id="move_person__date" name="date" value="" placeholder="укажите" required="requiered" >
                        </div>

                        {#
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        #}

                    </div>

                    <div class="modal-footer">
                        {#
                        <button type="button" class="btn btn-xs btn-light" data-dismiss="modal">Close</button>
                        #}
                        <button type="submit" name="add_profi" value="yes" class="btn btn-success">Перевести на указанную точку продаж</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>                                    

{# сотруднику добавляем смену #}
<div class="bd-example">
    <div class="modal fade" id="addPesonalOnSp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    {#
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    #}
                    <h4 class="modal-title" id="exampleModalLabel">Назначение сотрудника на точку продаж</h4>
                </div>

                <form class="put_workman_on_sp" method="post" action="" >

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Точка продаж:</label>
                            <input type="text" class="form-control" id="add_person__sp_name" readonly="readonly" value="00">
                            <input type="hidden" id="add_person__sp" name="sp" value="00" >
                            <input type="hidden" id="add_person__sp_s" name="sp_s" value="00" >
                        </div>

                        <div class="form-group">
                            
                            фильтр списка<br/>
                            
                            <input type="text" class="form-control" id="filtr_fio" >
                            
                            <label for="recipient-name" class="form-control-label">Сотрудник:</label>

                            {% set jobmans_on_add = jobdesc__get_addlist_jobmans(db) %}
                            {#{ pa(jobmans_on_add) }#}
                            
                            <select class="form-control select_filtered" name="user" id="add_person__user" required="requiered" 
                                    data-live-search="true"
                                    >
                                <option value="">выберите сотрудника</option>
                                {% for u, u_da in jobmans_on_add %}
                                    <option value="{{ u_da.id }}">{{ u_da.head }} ({{ u_da.bd }})</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Курит ?
                                <input type="checkbox" name="smoke" value="da" > да, курит
                            </label>
                        </div>

                        <div class="form-group">

                            <label for="recipient-name" class="form-control-label">Должность:</label>

                            {% set dolgnost_on_add = items__readItems(db,'061.dolgnost') %}
                            {#{ pa(dolgnost_on_add) }#}
                            <select class="form-control" name="dolgn" id="add_person__user" required="requiered" >
                                <option value="">Выберите</option>
                                {% for id, da in dolgnost_on_add.data %}
                                    <option value="{{ id }}">{{ da.head }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="add_person__date" class="form-control-label">Первый день работы в указанной должности:</label>
                            <input type="date" class="form-control" id="add_person__date" name="date" value="" placeholder="укажите" required="requiered" >
                        </div>

                        {#
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        #}

                    </div>

                    <div class="modal-footer">
                        {#
                        <button type="button" class="btn btn-xs btn-light" data-dismiss="modal">Close</button>
                        #}
                        <button type="submit" name="add_profi" value="yes" class="btn btn-success">Назначить</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>                                    

{# назначение новой должности #}
<div class="bd-example">
    <div class="modal fade" id="setNewDolgn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    {#
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    #}
                    <h4 class="modal-title" id="exampleModalLabel">Назначение сотрудника на точку продаж</h4>
                </div>

                <form class="put_workman_on_sp" method="post" action="" >

                    <div class="modal-body">

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Точка продаж:</label>
                            <b id="add_person1__sp_name" ></b>
                            <input type="hide" id="add_person1__sp" name="sp" value="00" >
                            <input type="hide" id="add_person1__sp_s" name="sp_s" value="00" >
                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Сотрудник:</label>

                            {# add_person__workman #}

                            <b id="add_person1__workman_fio" ></b>
                            <input type="hidden" id="add_person1__workman" name="user" value="" >

                            {% if 1 == 2 %}

                                {% set jobmans_on_add = jobdesc__get_addlist_jobmans(db) %}
                                {#{ pa(jobmans_on_add) }#}
                                <select class="form-control" name="user" id="add_person__user" required="requiered" >
                                    <option value="">выберите сотрудника</option>
                                    {% for u, u_da in jobmans_on_add %}
                                        <option value="{{ u_da.id }}">{{ u_da.head }} ({{ u_da.bd }})</option>
                                    {% endfor %}
                                </select>

                            {% endif %}

                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Курит ? &nbsp; <input type="checkbox" name="smoke" value="da" > да, курит
                            </label>
                        </div>

                        <div class="form-group">

                            <label for="recipient-name" class="form-control-label">Должность:</label>

                            {% set dolgnost_on_add = items__readItems(db,'061.dolgnost') %}
                            {#{ pa(dolgnost_on_add) }#}
                            <select class="form-control" name="dolgn" id="add_person1__dolgn" required="requiered" >
                                <option value="">Выберите</option>
                                {% for id, da in dolgnost_on_add.data %}
                                    <option value="{{ id }}">{{ da.head }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="add_person1__date" class="form-control-label">Дата назначения:</label>
                            <input type="date" class="form-control" id="add_person1__date" name="date" value="" placeholder="укажите" required="requiered" >
                        </div>

                        {#
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        #}

                    </div>

                    <div class="modal-footer">
                        {#
                        <button type="button" class="btn btn-xs btn-light" data-dismiss="modal">Close</button>
                        #}
                        <button type="submit" name="add_profi" value="yes" class="btn btn-success">Назначить</button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{# спец назначение 1 день, приглашение другого сотрудника на точку #}
<div class="bd-example">
    <div class="modal fade" id="setSpecNaznach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    {#
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    #}
                    <h4 class="modal-title" id="exampleModalLabel">Спец. назначение 1 день</h4>
                </div>

                <form class="put_workman_on_sp" method="post" action="" >

                    <input type="hidden" id="add_spec_person__id" name="id" value="00" >
                    <input type="hidden" id="add_spec_person__s" name="s" value="00" >

                    <div class="modal-body">

                        <div class="form-group">

                            <label for="recipient-name" class="form-control-label">Точка продаж:</label>
                            <b id="add_person1day__sp_name" ></b>

                            <input type="hidden" id="add_spec__sp" name="sp" value="00" >
                            <input type="hidden" id="add_spec__sp_s" name="sp_s" value="00" >

                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Сотрудник:</label>

                            {# add_person__workman #}

                            {% if 1 == 2 %}

                                <b id="add_person1day__workman_fio" ></b>
                                <input type="hidden" id="add_person1day__workman_id" name="user" value="" >

                            {% endif %}

                            {% set jobmans_on_add = jobdesc__get_list_for_specnaznach_jobmans(db) %}
                            {#{ pa(jobmans_on_add) }#}

                            <select class="form-control" name="user" id="add_person1day__user" required="requiered" >
                                <option value="">выберите сотрудника</option>
                                {% for u, u_da in jobmans_on_add %}
                                    <option value="{{ u_da.id }}" sp="{{ u_da.sp_id }}" dolgn="{{ u_da.dolgnost }}" >[{{ u_da.sp }}] {{ u_da.head }} ({{ u_da.dolgnost }})</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="recipient-name" class="form-control-label">Курит ? &nbsp; <input type="checkbox" name="smoke" value="da" > да, курит
                            </label>
                        </div>

                        <div class="form-group">

                            <label for="recipient-name" class="form-control-label">Должность:</label>

                            {% set dolgnost_on_add = items__readItems(db,'061.dolgnost') %}
                            {#{ pa(dolgnost_on_add) }#}
                            <select class="form-control" name="dolgn" id="add_person1__dolgn" required="requiered" >
                                <option value="">Выберите</option>
                                {% for id, da in dolgnost_on_add.data %}
                                    <option value="{{ id }}">{{ da.head }}</option>
                                {% endfor %}
                            </select>

                        </div>

                        <div class="form-group">
                            <label for="add_person1__date" class="form-control-label">Дата назначения:</label>
                            <input type="date" class="form-control" id="addspec_person1__date" name="date" 
                                   value="" placeholder="укажите" required="requiered" 
                                   readonly="readonly"
                                   >
                        </div>

                        {#
                        <div class="form-group">
                            <label for="message-text" class="form-control-label">Message:</label>
                            <textarea class="form-control" id="message-text"></textarea>
                        </div>
                        #}

                    </div>

                    <div class="modal-footer">
                        {#
                        <button type="button" class="btn btn-xs btn-light" data-dismiss="modal">Close</button>
                        #}
                        <button type="submit" name="add_profi" value="yes" class="btn btn-success">Назначить</button>
                        <input type="hidden" name="type2" value="spec_naznach" />
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>                                    
