{% spaceless %}

    {#
    {{ man.dop.dolgnost }} +
    {{ date }} +
    {{ man.id }} +
    {{ sp_now }} +
    {{ pa(v1) }}
    #}
    
    {#{ pa(salarys) }#}

    {% set salar = get_1salary( salarys, sp_now, man.dop.dolgnost, date ) %}
    {#{ pa(salar) }#}
    {#{ pa(man) }#}
    
    <div class="text-center show_down_hiden smena1

         {% set user_smena_status = '' %}

         {% if v1.status == 'hide' %}
             smena_cancel
         {% elseif v1.status == 'show' %}

             {# чел начал смену и не закончил #}
             {% if v1.dop.who_add_item is defined and v1.dop.who_add_item == 'user' %}

                 {% if v1.dop.error_added is defined and v1.dop.error_added == 'yes' %}
                     {% set user_smena_status = 'add_error' %}
                     smena_started_error                                 
                 {% elseif v1.dop.start is defined and v1.dop.fin is not defined %}
                     {% set user_smena_status = 'add' %}
                     smena_started
                 {% elseif v1.dop.start is defined and v1.dop.fin is defined %}
                     {% set user_smena_status = 'add_ok' %}
                     smena_started_ok
                 {% endif %}

             {% else %}


                 {% if v1.dop.pay_check == 'yes' %}
                     pay_check
                     {% if v1.dop.pay_check == 'yes' %}
                         pay_check
                     {% endif %}
                 {% else %}
                     smena_ok
                 {% endif %}

             {% endif %}
         {% endif %}

         ">
        <nobr>

            {#{ pa(v1) }#}
            
            <div xstyle="display:inline-block;" class="point_div text-center" 
                 onclick="$('#drop2_{{ k1 }},.drop2_{{ k1 }}').toggle('slow');" 
                 onload="$('#drop2_{{ k1 }},.drop2_{{ k1 }}').hide();">

                {% if v1.dop.start is defined and v1.dop.fin is not defined %}
                    {{ v1.dop.start|date("H:i") }} - ...
                {% else %}

                        <abbr class="job_timer" >{{ v1.dop.start|date("H:i") }} - {{ v1.dop.fin|date("H:i") }}<br/></abbr>
                        <abbr class="job_hour" title="{{ v1.dop.start|date("d.m H:i") }} - {{ v1.dop.fin|date("d.m H:i") }} отработано часов:{{ v1.dop.time_on_job/3600 }}" >{{ v1.dop.time_on_job/3600 }}<br/></abbr>

                        {#% set total[now_date2]['hours'] = total[now_date2]['hours'] + v1.dop.time_on_job/3600 %#}
                        
                {% endif %}
            </div>

             {% if v1.status == 'show' %}
                 
                 {% if salar['ocenka-hour-base'] is defined %}
                
                    {% if now_job.smoke is defined and now_job.smoke == 'da' %}{{ salar['ocenka-hour-base']+salar['if_kurit'] }}{% else %}{{ salar['ocenka-hour-base'] }}{% endif %}р/ч
                     
                    {% else %}
                 
            <select name="ocenka" 
                    class="select_edit_item_dop" 
                    action="edit_dop_pole"
                    folder="{{ folder }}"
                    module="050.chekin_checkout"
                    dop_name="ocenka"
                    item_id="{{ v1.id }}"
                    s="{{ creatSecret( '050.chekin_checkout'~'ocenka'~v1.id ) }}" 
                    >
                <option value="">Оценка</option>

                {#{ pa(salar) }#}
                
                {% for i in range(low=5, high=2, step=-1) %}    {#{ i }#}                  
                <option value="{{ i }}" {% if v1.dop.ocenka is defined and v1.dop.ocenka == i %}selected="selected"{% endif %} >{{ i }} {% if salar['ocenka-hour-'~i] is defined %}> {% if now_job.smoke is defined and now_job.smoke == 'da' %}{{ salar['ocenka-hour-'~i]+salar['if_kurit'] }}{% else %}{{ salar['ocenka-hour-'~i] }}{% endif %}р/ч{% endif %}</option>
                {% endfor %}
                
                {#
                <option value="4" {% if v1.dop.ocenka is defined and v1.dop.ocenka == 4 %}selected="selected"{% endif %} >4 {% if salar['ocenka-hour-4'] is defined %}> {{ salar['ocenka-hour-4'] }}р/ч{% endif %}</option>
                <option value="3" {% if v1.dop.ocenka is defined and v1.dop.ocenka == 3 %}selected="selected"{% endif %} >3 {% if salar['ocenka-hour-3'] is defined %}> {{ salar['ocenka-hour-3'] }}р/ч{% endif %}</option>
                <option value="2" {% if v1.dop.ocenka is defined and v1.dop.ocenka == 2 %}selected="selected"{% endif %} >2 {% if salar['ocenka-hour-2'] is defined %}> {{ salar['ocenka-hour-2'] }}р/ч{% endif %}</option>
                #}
                
            </select>
            {% endif %}
            <br/>
            {% endif %}
            {#
            <a href=""><span class="ocenka_text">Оценка:</span> <span class="ocenka_num" >...</span></a><br/>
            #}
            
            
            {% if user_smena_status == 'add' %}
                {#% if user_smena_status == '' or user_smena_status == 'add_error' or user_smena_status == 'add' %#}
            {% else %}

                {% if v1.status == 'hide' %}
                    <span class="hide_down" >
                        удалённая смена
                    </span>

                {% elseif v1.status == 'show' %}

                    {% if v1.dop.pay_check == 'yes' %}

                        <span class="hide_down" >
                            отправлено в бух. ожидает оплаты
                        </span>

                        <a href="#" class="btn3 edit_items_dop_values drop2_{{ k1 }}" 
                           style='display:none;'
                           {# действие после вопроса #}
                           comit_answer="Отменить разрешение на оплату смены ?"

                           {# замена доп параметра #}
                           action="edit_dop_item"

                           {# модуль итемов #}
                           itemsmod="050.chekin_checkout"
                           {# id итема #}
                           item_id="{{ k1 }}"
                           {# название доп параметра #}
                           dop_name="pay_check"
                           {# новое значение параметра #}
                           dop_new_value="no"

                           {# секрет #}
                           s3="{{ creatSecret( '050.chekin_checkout-'~k1~'-pay_check-no' ) }}" 

                           {# скрыть ссылку после клика #}
                           hidethis="da" 
                           {# сделать видимым блок по id #}
                           show_id="ares{{ k1 }}" 
                           {# id куда печатаем результат #}
                           res_to_id="ares{{ k1 }}" 
                           {# сообщение печатаем если всё ок #}
                           msg_to_success="Отменено"

                           {# print_res_to_id="ares{{ k1 }}" #}

                           >Отозвать разрешение на оплату</a>


                    {% else %}

                        {% if 1 == 2 %}
                            <a href="#" class="btn3 edit_items_dop_values" 

                               {# действие после вопроса #}
                               comit_answer="Отправляем на оплату ?"

                               {# замена доп параметра #}
                               action="edit_dop_item"

                               {# модуль итемов #}
                               itemsmod="050.chekin_checkout"
                               {# id итема #}
                               item_id="{{ k1 }}"
                               {# название доп параметра #}
                               dop_name="pay_check"
                               {# новое значение параметра #}
                               dop_new_value="yes"

                               {# секрет #}
                               s3="{{ creatSecret( '050.chekin_checkout-'~k1~'-pay_check-yes' ) }}" 

                               {# скрыть ссылку после клика #}
                               hidethis="da" 
                               {# сделать видимым блок по id #}
                               show_id="ares{{ k1 }}" 
                               {# id куда печатаем результат #}
                               res_to_id="ares{{ k1 }}" 
                               {# сообщение печатаем если всё ок #}
                               msg_to_success="Отправили на оплату, спасибо"

                               {# print_res_to_id="ares{{ k1 }}" #}

                               >Отправить на оплату 2</a>
                        {% endif %}
                    {% endif %}

                    {# { pa(v1) } #}

                {% endif %}
            {% endif %}

            <span class="xhide_down" style="display:none;" id="drop2_{{ k1 }}">

                {% if v1.status == 'hide' %}
                    
                    
                    {#
                    <a href="#" class="actx act_smenax btn3 edit_items_dop_values" 

                       action="recover_smena" 
                       go_answer="Хотите восстановить смену ?"
                       id2="{{ k1 }}" 
                       s2="{{ creatSecret( k1 ) }}" 
                       resto="ares{{ k1 }}" 
                       show_id="ares{{ k1 }}" 
                       hidethis="da" 

                       >восстановить</a>
                    #}
                    
                {% elseif v1.status == 'show' %}

                    <a href="#" class="act act_smena btn3" 
                       go_answer="Хотите удалить смену ?"
                       action="delete_smena" id2="{{ k1 }}" s2="{{ creatSecret( k1 ) }}" resto="ares{{ k1 }}" show_id="ares{{ k1 }}" hidethis="da" >удалить смену</a>
{% if 1 == 2 %}
                    <a href="#" class="act act_smena btn3" 


                       {# действие после вопроса #}
                       comit_answer="Отправляем на оплату ?"

                       {# замена доп параметра #}
                       action="edit_dop_item"

                       {# модуль итемов #}
                       itemsmod="050.chekin_checkout"
                       {# id итема #}
                       item_id="{{ k1 }}"
                       {# название доп параметра #}
                       dop_name="pay_check"
                       {# новое значение параметра #}
                       dop_new_value="yes"

                       {# секрет #}
                       s3="{{ creatSecret( '050.chekin_checkout-'~k1~'-pay_check-yes' ) }}" 

                       {# скрыть ссылку после клика #}
                       hidethis="da" 
                       {# сделать видимым блок по id #}
                       show_id="ares{{ k1 }}" 
                       {# id куда печатаем результат #}
                       res_to_id="ares{{ k1 }}" 
                       {# сообщение печатаем если всё ок #}
                       msg_to_success="Отправили на оплату, спасибо"

                       >редактировать смену</a>
{% endif %}
                {% endif %}

            </span>

            <div id="ares{{ k1 }}" style="display:none;"></div>

            {# { pa(v1) } #}

        </nobr>
    </div>

    {#
    <abbr data-toggle="tooltip" data-placement="bottom" title="отработано часов: {{ v7.hours }} с {{ v7.start }} до {{ v7.fin }}" >
        Отработано {{ v7.hours }} ч.
    </abbr>
    #}

{% endspaceless %}