{% spaceless %}

    {# spoint.id #}
    {# spoint.id #}

    {# % for k1, v1 in minusa['data'] if v1.dop.sale_point == spoint.id % #} 
    {% for mk, minus in minusa['data'] 
        if 
            minus.dop.sale_point == spoint.id 
        and 
            minus.dop.jobman == man1.id 
        and 
            minus.dop.date_now == now_date 
    %} 

    <div class="xtext-center show_down_hiden minus {{ minus.status }}" >


        <b>{{ minus.dop.summa }}</b> &nbsp;
        <small>{{ minus.dop.text }}</small>

        {% if minus.status == 'hide' %}
            <br/>отменено<br/>
        {% endif %}

        <span class="hide_down" >
            {#{ pa(minus) }#}

            <Br/>

            {% if minus.status == 'hide' %}
                {#
                                    <a href="#" class="act act_smena btn3" action="recover_smena" 
                                       go_answer="Хотите восстановить смену ?"
                                       id2="{{ k1 }}" s2="{{ creatSecret( k1 ) }}" resto="ares{{ k1 }}" show_id="ares{{ k1 }}" hidethis="da" >восстановить</a>
                #}

                <a href="#" class="btn3 edit_items_dop_values drop2_{{ k1 }}" 
                   xstyle='display:none;'
                   {# действие после вопроса #}
                   comit_answer="Отменить взыскание ?"

                   {# замена доп параметра #}
                   action="edit_dop_item"

                   {# модуль итемов #}
                   itemsmod="072.vzuscaniya"
                   {# id итема #}
                   item_id="{{ minus.id }}"

                   {# новое значение статуса записи #}
                   new_status="show"
                   {# секрет #}
                   s3="{{ creatSecret( '072.vzuscaniya-'~minus.id~'-show' ) }}" 

                   {# скрыть ссылку после клика #}
                   hidethis="da" 
                   {# сделать видимым блок по id #}
                   show_id="ares{{ minus.id }}" 
                   {# id куда печатаем результат #}
                   res_to_id="ares{{ minus.id }}" 
                   {# сообщение печатаем если всё ок #}
                   msg_to_success="Восстановлено"

                   >восстановить</a>



            {% elseif minus.status == 'show' %}

                {#
                <a href="#" class="act act_smena btn3" 
                   go_answer="Хотите удалить минус ?"
                   action="delete_minus" id2="{{ mk }}" s2="{{ creatSecret( mk ) }}" resto="ares{{ k1 }}" show_id="ares{{ k1 }}" hidethis="da" 
                   
                   >отменить взыскание</a>
                #}


                <a href="#" class="btn3 edit_items_dop_values drop2_{{ k1 }}" 
                   xstyle='display:none;'
                   {# действие после вопроса #}
                   comit_answer="Отменить взыскание ?"

                   {# замена доп параметра #}
                   action="edit_dop_item"

                   {# модуль итемов #}
                   itemsmod="072.vzuscaniya"
                   {# id итема #}
                   item_id="{{ minus.id }}"

                   {# название доп параметра #}
                   {# dop_name="pay_check" #}
                   {# новое значение параметра #}
                   {# dop_new_value="no" #}
                   {# секрет #}
                   {# s3="{{ creatSecret( '050.chekin_checkout-'~minus.id~'-pay_check-no' ) }}"  #}

                   {# новое значение статуса записи #}
                   new_status="hide"
                   {# секрет #}
                   s3="{{ creatSecret( '072.vzuscaniya-'~minus.id~'-hide' ) }}" 

                   {# скрыть ссылку после клика #}
                   hidethis="da" 
                   {# сделать видимым блок по id #}
                   show_id="ares{{ minus.id }}" 
                   {# id куда печатаем результат #}
                   res_to_id="ares{{ minus.id }}" 
                   {# сообщение печатаем если всё ок #}
                   msg_to_success="Отменено"

                   {# print_res_to_id="ares{{ k1 }}" #}

                   >Отменить взыскание</a>


            {% endif %}

        </span>

        <div id="ares{{ minus.id }}" style="display:none;"></div>

    </div>

    {#
    <abbr data-toggle="tooltip" data-placement="bottom" title="отработано часов: {{ v7.hours }} с {{ v7.start }} до {{ v7.fin }}" >
        Отработано {{ v7.hours }} ч.
    </abbr>
    #}

    {% endfor %}

{% endspaceless %}