{% spaceless %}

    {# итого за день #}

    <div class="trow" >

        <div class="tcell stick-left bg-white" >
            <b>Отработано часов</b>
            <div style="text-align:right;" >
            Для ЗП:
            <br/>
            Всего:
            </div>
        </div>         

        {% for i in range(low=0, high=35, step=1) %}  

            {% set now_date2 = date_start|date_modify("+"~i~" day")|date("Y-m-d") %}
            {% set nd = date_start|date_modify("+"~i~" day")|date("U") %}

            {% if date_finish|date("d.m.Y")|date("U") >= nd %}

                <div class="tcell text-center" >

                    {% if 2 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
                    
                    {% set hours_a = jobdesc__calculateHoursOnJob( db, sp_now, now_date2 ) %}
                    &nbsp;
                    <br/>{% if hours_a.data.hours_calc_auto is defined and hours_a.data.hours_calc_auto > 0 %}{{ hours_a.data.hours_calc_auto }}{% else %}-{% endif %}
                    <br/>{% if hours_a.data.hours_all is defined and hours_a.data.hours_all > 0 %}{{ hours_a.data.hours_all }}{% else %}-{% endif %}
                    
                    {% if 2 == 1 or timer_show == 'on' %} <br/>время timeo - {{ didrive_f__timer_stop(5) }} {% endif %}
                    
                    
                    
                    
                    {#
                    ( идёт разработка )
                    #}
                    

                    {#% if session.now_user_di.access == 'admin' %}
                    {{ pa(hours_a) }}
                    {% endif %#}

                    {#% set hours_a =  jobdesc__whereJobmansNowDate( db, sp_now, now_date2 ) %}
                    {{ pa(hours_a) }#}

                    {% if 1 == 2 %}
                        {#% set hours_a =  jobdesc__jobmans_job_on_sp_day( db, sp_now, now_date2 ) %}
                        {{ pa(hours_a) }#}

                        {% set hours_a =  jobdesc__calcJobHoursDay( db, now_date2, sp_now ) %}

                        {{ hours_a['data']['hours'] }}
                        <br/>
                        настраиваем точный подсчёт

                        {% if session.now_user_di.access == 'admin' %}
                            {#{  pa(session) }#}

                            {#% if  %#}
                            {{ pa(hours_a) }}

                            {#% if now_date2|date("U") < "now"|date_modify("-1 day")|date("U") %}
                                <div style="min-width:120px; padding: 5px;">
                                    <div class="show_summ_hour_day" data="{{ now_date2 }}" sp="{{ sp_now }}" ></div>
                                </div>
                            {% endif %#}

                        {% endif %}

                    {% endif %}

                </div>

            {% endif %}


        {% endfor %}

    </div>

{% endspaceless %}