{% spaceless %}


    <script src="/js/numberformat.js" ></script>

    {#{{ didrive_f__timer_start(57) }}#}

{% if 1 == 1 %}
    {% if 2 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% set sps = items__get( db, 'sale_point' )  %}
    {#{ pa(sps) }#}
    {% if 2 == 1 or timer_show == 'on' %} <br/>время 01 sale_point - {{ didrive_f__timer_stop(5) }} {% endif %}
{% endif %}

    
    {# использую в списке точек что можем выбрать #}
{% if 1 == 1 %}
    {% if 2 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {#{% set sps_sort = items3__get( db, 'sale_point', 'show', 'sort_asc' )  %}#}
    {% set sps_sort = di__sort_sort(sps)  %}
    {#{{ pa(sps_sort) }}#}
    {% if 2 == 1 or timer_show == 'on' %} <br/>время 01 sale_point sort - {{ didrive_f__timer_stop(5) }} {% endif %}
{% endif %}


    {% if 1 == 1 %}
        {% if 2 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
        {#{% set mans = items3__get( db, '070.jobman' )  %}#}
        {% set mans = jobdesc__getJobmans( db )  %}
        {#{ pa(mans) }#}
        {% if 2 == 1 or timer_show == 'on' %} <br/>время 01 070.jobman - {{ didrive_f__timer_stop(5) }} {% endif %}
    {% endif %}

    {#используется 200708#}
    {% if 2 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% set dolgn = jobdesc__get_dolgnosti( db, '061.dolgnost' )  %}
    {#{ pa(dolgn,2) }#}
    {% if 2 == 1 or timer_show == 'on' %} <br/>время jobdesc__get_dolgnosti - {{ didrive_f__timer_stop(5) }} {% endif %}


    {% if 2 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% if session.now_user_di.access == 'moder' %}
        {% set access_to_sp = jobdesc__get_access_for_moder( db )  %}
    {% else %}
        {% set access_to_sp = false %}
    {% endif %}
    {% if 2 == 1 or timer_show == 'on' %} <br/>время jobdesc__get_dolgnosti - {{ didrive_f__timer_stop(5) }} {% endif %}

    {#2277 -    {{ didrive_f__timer_stop(57) }}#}


    <div class="container-fluid" id="body2" >

        {% if 1 == 1 %}
            <div class="row" style="xbackground-color:rgba(0,0,0,0.05);padding: 15px 0; ">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 2vh; margin-bottom: 2vh;" >

                    {% if get.date is defined %}

                        {% set date_start = get.date|date("Y-m-d") %}
                        {% set date_finish = date_start|date_modify("+30 day")|date("Y-m-d") %}

                    {% elseif get.year is defined and get.month is defined %}

                        {% set date_start = (get.year~'-'~get.month~'-01')|date("Y-m-d") %}
                        {% set date_finish = date_start|date_modify("-1 day +1 month")|date("Y-m-d") %}

                    {% else %}

                        {% set date_start = now|date("Y-m-01") %}
                        {#% set date_start = now|date_modify("-3 day")|date("Y-m-d") %#}
                        {% set date_finish = date_start|date_modify("-1 day +1 month")|date("Y-m-d") %}

                    {% endif %}



                    {% if 1 == 2 %}
                        {% if 1 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
                        {% set ocenki_day = jobdesc__get_ocenka_day( db, date_start , date_finish ) %}
                        {% if 1 == 1 or timer_show == 'on' %} <br/>время 7 ocenki_day - {{ didrive_f__timer_stop(5) }} {% endif %}
                    {% endif %}



                    {# верхние кнопки даты и скрыть показать даты #}
                    {% if 1 == 1 %}

                        {#{ pa(session) }#}

                        {% if 1 == 2 or ( session.now_user_di.access is defined and session.now_user_di.access == 'admin' ) %}

                            <div style="float:right; display:inline-block;" class="option_img" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                {# <i xonclick='$(".sp_{{ sp_now }} .show_2div").toggle("slow"); return false;' class="fa fa-cog"></i> #}
                                <button class="btn btn-xs btn-light" style="width:250px;"> <i class="fa fa-cog"></i> настройки и действия <i class="fa fa-sort-desc"></i> </button>
                            </div>

                            <div class="dropdown-menu">

                                {% if session.now_user_di.access is defined and session.now_user_di.access == 'admin' %}
                                    <a href="/i.didrive.php?level=000.job&sp=all&hide_body=12" 
                                       class="dropdown-item xbtn xbtn-xs btn-light" style="float:right;" ><span class="fa fa-eye"></span> ТП без смен</a>
                                {% endif %}

                                {% if 1 == 2 or ( session.now_user_di.access is defined and session.now_user_di.access == 'admin' ) %}
                                    <a 
                                        href="#" 
                                        style="float:right;"

                                        {% if get.sp is not defined %}
                                            onclick="alert('не забудте выбрать точку продаж');
                                                    return false;"
                                            class="dropdown-item xbtn xbtn-xs btn-light" 
                                        {% else %}
                                            class="dropdown-item base_modal_go xbtn xbtn-xs btn-light" 
                                            data-toggle="modal" data-target="#di_modal" 

                                            modal_header='возможные должности и ставки'
                                            ajax_link='/vendor/didrive_mod/jobdesc/1/didrive/ajax.php'
                                            {# ajax_vars='action=show_smens&date_start={{ date_start }}&view=html&user={{ user_v['jobman'] }}&s={{ creatSecret( user_v['jobman'] ) }}' #}
                                            ajax_vars='{{  { 'action':'show_dolgn', 'date_start': date_start , 'view' : 'html', 'sp': get.sp }|url_encode }}'
                                        {% endif %}

                                        >
                                        ставки и размер зарплат
                                    </a>
                                {% endif %}

                                <button onclick="$('body .job_timer').toggle('slow');" class="dropdown-item xbtn xbtn-xs btn-light" style="float:right;" ><span class="fa fa-eye"></span> время смен</button> 

                            </div>
                        {% endif %}

                        {% set now_year = "now"|date('Y')%}
                        {#{ now_year }#}

                        {% set now_mont = "now"|date('m')%}
                        {#{ now_mont }#}

                        {% set gets = get %}

                        {% for year in range(low=2019, high=2030, step=1) if iy <= now_year %}

                            {% for i in range(low=1, high=12, step=1) if ( ( year == 2020 and i >= 3 ) or ( year > 2020 and year <= now_year ) ) and ( year != now_year or ( year == now_year and i <= ( now_mont + 1 ) ) ) %}

                                {% if i < 10 %}
                                    {% set i2 = '0'~i %}
                                {% else %}
                                    {% set i2 = i %}
                                {% endif %}

                                {% set gets = gets|merge({'year':year,'month':i2}) %}

                                <a  
                                    href="?{{ http_build_query(gets) }}"  
                                    xhref="?level={% if get.level is defined %}{{ get.level }}{% else %}000.index{% endif %}&year={{ year }}&month={{ i2 }}"  

                                    style="margin-right:5px;"

                                    class="btn btn-xs 
                                    {% if get.year is defined and get.month is defined  and get.year == year and get.month == i2 %}
                                        btn-success
                                    {% elseif get.year is not defined and get.month is not defined  and now|date('Y') == year and i2 == now|date('m') %}
                                        btn-success
                                    {% else %}
                                        btn-light
                                    {% endif %}
                                    " >

                                    {% if i2 == 01 %}
                                        январь
                                    {% elseif i2 == 02 %}
                                        февраль
                                    {% elseif i2 == 03 %}
                                        март
                                    {% elseif i2 == 04 %}
                                        апрель
                                    {% elseif i2 == 05 %}
                                        май
                                    {% elseif i2 == 06 %}
                                        июнь
                                    {% elseif i2 == 07 %}
                                        июль
                                    {% elseif i2 == 08 %}
                                        август
                                    {% elseif i2 == 09 %}
                                        сентябрь
                                    {% elseif i2 == 10 %}
                                        октябрь
                                    {% elseif i2 == 11 %}
                                        ноябрь
                                    {% elseif i2 == 12 %}
                                        декабрь
                                    {% endif %}
                                    {{ year }}</a>

                            {% endfor %}

                        {% endfor %}

                    {% endif %}





                    {# заготовка модальных окошек #}
                    {% if 1 == 2 or timer_show == 'on' %} {{ didrive_f__timer_start(51) }}     {% endif %}
                    {# <div style="padding:10px; border: 1px solid gray;" > #}
                    {% include dir_mod_now_mod_ditpl~'body.2007.modal_wind.htm' %}
                    {# </div> #}
                    {% if 1 == 2 or timer_show == 'on' %} <br/>время 7 - body.modal_wind.htm {{ didrive_f__timer_stop(51) }} {% endif %}



                    {# 200708 off #}
                    {#                        {% if 1 == 2 %}
                                            {% if 1 == 1 %}
                                                {% if 1 == 2 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
                                                {% set spec_jobs_on_sp = jobdesc__get_spec_job_on_sp( db, date_start, date_finish ) %}
                                                { #{ pa(spec_jobs_on_sp) }# }
                                                {% if 1 == 2 or timer_show == 'on' %} <br/>время 7 - jobdesc__get_spec_job_on_sp<br/>{{ didrive_f__timer_stop(5) }} {% endif %}
                                            {% endif %}
                                            {% endif %}
                    #}

                    {# если модератор то выводим исписок точек к оторым есть доступ #}    
                    {% if 1 == 2 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
                    {% set sp_access = jobdesc__get__access_moders( db )  %}
                    {# <br/> pa(sp_access) {{ pa(sp_access) }} #}
                    {% if 1 == 2 or timer_show == 'on' %} <br/>время 8 - {{ didrive_f__timer_stop(5) }} {% endif %}

                    {# текущие доступные точки #}
                    {% if 1 == 1 %}
                        <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 0.5em;">

                            <button type="button" class="btn btn-xs btn-default">Показать:</button>

                            {% set gets = get %}
                            {#{ pa(gets) }#}

                            {% if 1 == 2 %}
                                {% set gets = gets|merge({'sp':'all'}) %}
                                <a class="btn btn-xs {% if get.sp == 'all' %}btn-info{% else %}btn-light{% endif %} " href="?{{ http_build_query(gets) }}" >ВСЕ</a>
                            {% endif %}
                            
                            {% set access_to_sp = jobdesc__get__admin_access_to_sp( db ) %}

                            {% for n, sp_now in access_to_sp.data if sp_now.head != 'default' %}

                                {% set gets = gets|merge({'sp':sp_now.id}) %}
                                <a class="btn btn-xs  {% if get.sp == sp_now.id %}btn-info{% else %}btn-light{% endif %} " href="?{{ http_build_query(gets) }}" >{{ sp_now.head }}</a>

                            {% endfor %}

                        </div>

                    {% endif %}

                </div>
            </div>
        {% endif %}

        {#{ pa(access_to_sp) }#}

        {% if get.sp is not defined %}

            <div class="bg-warning" style="padding:10px;" >Выберите точку продаж</div>

        {% elseif 1 == 1 and get.sp is defined %}


            {% if metkis is not defined %}
                {% set metkis = site__get_metki() %}
            {% endif %}



            <div style="display:inline-block;padding-right:100px;margin-right:100px;">
                <div class="ttable cell-padding5 list_otrezki2 cell-border">

                    {# верхняя строка с датами #}
                    {% include dir_mod_now_mod_ditpl~'body.up_line.htm' %}

                    {#{% for kk, sp_now_nn in access_to_sp.data if get.sp is defined and sp_now_nn.head != 'default' and ( get.sp == 'all' or get.sp == sp_now_nn.id ) %}#}
                    {% for kk, sp_now_nn in access_to_sp.data if get.sp is defined and get.sp == sp_now_nn.id %}

                        {% if 2 == 1 %}
                            {% if 1 == 1 and getListJobsPeriodAll is not defined %}
                                {% if 1 == 1 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
                                {% set getListJobsPeriodAll = jobdesc__getListJobsPeriodAll( db, date_start, date_finish ) %}
                                {#getListJobsPeriodAll#}
                                {#{{ pa(getListJobsPeriodAll,2) }}#}
                                {#{{ pa(getListJobsPeriodAll.data.where_job__workman_date) }}#}
                                {% if 1 == 2 or timer_show == 'on' %}<br/>время getListJobsPeriodAll - {{ didrive_f__timer_stop(5) }} {% endif %}
                            {% endif %}
                        {% endif %}

                        {#{{ jobdesc__calcDayBudget( db, get.sp, date_start, getListJobsPeriodAll.data.where_job__workman_date|keys ) }}#}

                        {#{{ didrive_f__timer_start(78) }}#}

                        {% set sp_now = sp_now_nn.id %}
                        {#{ pa(sp_now) }#}
                        {% include dir_mod_now_mod_ditpl~'body.2007.1sp.htm' %}

                        {#{{ didrive_f__timer_stop(78) }}#}


                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>

{% endspaceless %}