{% spaceless %}

    {# итого за день #}
    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% include dir_mod_now_mod_ditpl~'body.sp.down.itogi_days.htm' %}
    {% if timer_show == 'on' %} <br/>время timeo - {{ didrive_f__timer_stop(5) }} {% endif %}

    {# нормы на день #}
    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% include dir_mod_now_mod_ditpl~'body.sp.down.norms.htm' %}
    {% if timer_show == 'on' %} <br/>время norms - {{ didrive_f__timer_stop(5) }} {% endif %}

    {# оборот #}
    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% include dir_mod_now_mod_ditpl~'body.sp.down.oborot.htm' %}
    {% if timer_show == 'on' %} <br/>время norms - {{ didrive_f__timer_stop(5) }} {% endif %}

    {# Время ожидания #}
    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% include dir_mod_now_mod_ditpl~'body.sp.down.timeo.htm' %}
    {% if timer_show == 'on' %} <br/>время timeo - {{ didrive_f__timer_stop(5) }} {% endif %}

    {# оценка дня #}
    {% if timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% include dir_mod_now_mod_ditpl~'body.sp.down.ocenka.htm' %}
    {% if timer_show == 'on' %} <br/>время norms - {{ didrive_f__timer_stop(5) }} {% endif %}

{% endspaceless %}