{% spaceless %}

    <div class="{#xtext-center show_down_hiden#} minus {{ i.status }}" >

        <a href="#" 

           style="float:right;"

           class='btn3 base_modal_go'

           data-toggle="modal" data-target="#di_modal"
           modal_header='Удалить взыскание'

           ajax_link='/vendor/didrive_mod/items/3/micro-service/delete-items.php'
           ajax_vars='delete_id={{ i.id }}&s={{ creatSecret( i.id ) }}&r_module=072.vzuscaniya'

           reload_page_after_ok="da"
           get_answer='Удаляем взыскание ?'

           ><i class="fa fa-remove on_hover_opacity05green"></i></a>

        <b>{{ i.summa }}</b> &nbsp;
        <small>{{ i.text }}</small>

        {% if 1 == 2 %}
            {% if i.status == 'hide' %}
                <br/>отменено<br/>
            {% endif %}

            <div class="hide_down" >
                {#{{ pa(i) }}#}

                <a href="#"
                   class='base_modal_go'

                   data-toggle="modal" data-target="#di_modal"
                   modal_header='Отменить взыскание ?'

                   ajax_link='/vendor/didrive_mod/items/2/micro-service/delete-items.php'

                   ajax_vars='id={{ i.id }}&s={{ creatSecret( i.id ) }}&r_module=072.vzuscaniya&remove[summa]={{ i.summa }}&remove[date_now]={{ date }}&remove[jobman]={{ jobman }}'

                   reload_page_after_ok="da"
                   get_answer='Отменить взыскание ?'

                   ><span class="fa fa-remove on_hover_opacity05green" style="xfloat:right;" ></span> отменить</a>
                <br clear="all" />

            </div>

            <div id="ares{{ i.id }}" style="display:none;"></div>
        {% endif %}

    </div>

{% endspaceless %}