
{# -------------- работаем с этими окошками -------------------- #}

{# сотруднику добавляем смену ( все сотрудники, новая версия ) #}
{% if 1 == 1 %}
    <div class="bd-example">
        <div class="modal fade" id="addPesonalOnSp2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        {#
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        #}
                        <h4 class="modal-title" id="exampleModalLabel">Назначение сотрудника на точку продаж</h4>
                    </div>

                    <form class="put_workman_on_sp" method="post" action="" >

                        <div class="modal-body">

                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Точка продаж:</label>
                                <input type="text" class="form-control" id="add_person__sp_name" readonly="readonly" value="00">
                                <input type="hidden" id="add_person__sp" name="sp" value="00" >
                                <input type="hidden" id="add_person__sp_s" name="sp_s" value="00" >
                            </div>

                            <div class="form-group">

                                фильтр списка<br/>

                                <input type="text" class="form-control" id="filtr_fio" >

                                <label for="recipient-name" class="form-control-label">Сотрудник:</label>

                                {# старая версия 200429 #}
                                {% if 1 == 2 %}                            
                                    {% set jobmans_on_add = jobdesc__get_list_jobmans(db) %}
                                    {{ pa(jobmans_on_add,2) }}


                                    <select class="form-control select_filtered" name="user" id="add_person__user" required="requiered" 
                                            data-live-search="true"
                                            >
                                        <option value="">выберите сотрудника</option>
                                        {% for u, u_da in jobmans_on_add %}
                                            <option value="{{ u_da.id }}">{{ u_da.head }} \ {{ u_da.dop.birthday }} \ iiko: {{ u_da.dop.iiko_name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}

                                {# новая версия 200429 #}
                                {% if 1 == 1 %}                            

                                    {#{ pa(mans,2) }#}
                                    <select class="form-control select_filtered" name="user" id="add_person__user" required="requiered" 
                                            data-live-search="true"
                                            >
                                        <option value="">выберите сотрудника</option>
                                        {% for u, u_da in mans %}
                                            <option value="{{ u_da.id }}">{{ u_da.head }} \ {{ u_da.birthday }} \ iiko: {{ u_da.iiko_name }}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}



                            </div>

                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Курит ?
                                    <input type="checkbox" name="smoke" value="da" > да, курит
                                </label>
                            </div>

                            <div class="form-group">

                                <label for="recipient-name" class="form-control-label">Должность:</label>

                                {#% set dolgnost_on_add = items__readItems(db,'061.dolgnost') %#}
                                {% set dolgnost_on_add = items__get(db,'061.dolgnost','show','id_id') %}
                                {#{{ pa(dolgnost_on_add) }}#}
                                <select class="form-control" name="dolgn" id="add_person__user" required="requiered" >
                                    <option value="">Выберите</option>
                                    {% for id, da in dolgnost_on_add %}
                                        <option value="{{ da.id }}">{{ da.head }} {# {{ da.id }} #}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="form-group">
                                <label for="add_person__date" class="form-control-label">Первый день работы в указанной должности:</label>
                                <input type="date" class="form-control" id="add_person__date" 
                                       min='2019-09-01'
                                       name="date" value="" placeholder="укажите" required="requiered" >
                            </div>

                            {#
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            #}

                        </div>

                        <div class="modal-footer">


                            {#
                            <button type="button" class="btn btn-xs btn-light" data-dismiss="modal">Close</button>
                            #}
                            <button type="submit" name="add_profi" value="yes" onclick="return confirm('Назначаем сотрудника ?');" class="btn btn-success">Назначить</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
{% endif %}

{% if 1 == 1 %}
    {# <!-- Modal добавка смены работнику --> #}
    <div class="modal fade" id="add_jobday_for_jobman" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Добавляем рабочу смену</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="" method="post" id="add_new_smena">
                    <div class="modal-body">

                        <div class="form-group row">
                            <label for="a1" class="col-sm-2 col-form-label">Кто</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control -plaintext" id="toform_jobman_name" value="">
                                <input type="hidden" id="toform_jobman" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="a1" class="col-sm-2 col-form-label">Точка продаж</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control -plaintext" id="toform_sp_name" value="">
                                <input type="hidden" id="toform_sp" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="staticEmail" class="col-sm-2 col-form-label">Старт работы</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control -plaintext" name="date" id="date" value="" style="width: 120px; display: inline-block;" >
                                <input type="time" class="form-control -plaintext" name="start_time" xid="start_time" value="" required="" style="width: 120px;  display: inline-block;" >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Стоп работы</label>
                            <div class="col-sm-10">
                                <input type="time" class="form-control -plaintext" name="fin_time" id="toform_fin_date_time" value="" required="" style="width: 120px;" >
                                <small>Если время сдачи смены после 12 ночи, ставте 01:00 например</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Оценка</label>
                            <div class="col-sm-10">
                                <select class="form-control -plaintext" name="ocenka" id="toform_ocenka" style="width: 120px;" >
                                    <option value="">оценка</option>
                                    <option value="5">5</option>
                                    <option value="4">4</option>
                                    <option value="3">3</option>
                                    <option value="2">2</option>
                                </select>
                                <small>от 5 до 2</small>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        {#
                      <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрыть</button>
                      #}

                        <button type="submit" onclick="$(this).hide();" class="but_submit_add_form btn btn-sm btn-primary">Добавить</button>

                        <input type="hidden" name="action" id="action" value="add_new_smena" >
                        <input type="hidden" name="id2" id="id2" value="" >
                        <input type="hidden" name="s2" id="s2" value="" >
                        <input type="hidden" name="print_res_to_id" id="print_res_to_id" value="" >
                        <input type="hidden" name="data-target2" id="data-target2" value="" >
                        <input type="hidden" name="jobman" id="jobman" value="" >
                        <input type="hidden" name="salepoint" id="salepoint" value="" >

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

{# <!-- Modal отправляем работника на другую точку в этот день --> #}
{% if 1 == 1 %}
    <div class="modal fade" id="add_perenos_jobman" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Отправляем на работу в другую точку</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form action="" method="post" id="goto_other_sp">

                    <div class="modal-body">

                        <div class="form-group row">
                            <label for="a1" class="col-sm-2 col-form-label">Дата</label>
                            <div class="col-sm-10">
                                <input type="date" name="date" readonly class="form-control -plaintext" id="toform_date" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="a1" class="col-sm-2 col-form-label">Кто</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control -plaintext" id="toform_jobman_name" value="">
                                <input type="hidden" id="toform_jobman" value="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="a1" class="col-sm-2 col-form-label">Точка продаж</label>
                            <div class="col-sm-10">
                                <select name='toform_sp' class="form-control" >
                                    {% for k,sp4 in sps if sp4.head != 'default' and sp4.status == 'show' %}
                                        <option value='{{ sp4.id }}'>{{ sp4.id }} {{ sp4.head }}</option>
                                    {% endfor %}
                                </select>
                                {#
                                <input type="text" readonly class="form-control -plaintext" id="toform_sp_name" value="">
                                <input type="hidden" id="toform_sp" value="">
                                #}
                            </div>
                        </div>

                        {#
                    <div class="form-group row">
                        <label for="staticEmail" class="col-sm-2 col-form-label">Старт работы</label>
                        <div class="col-sm-10">
                            <input type="text" readonly class="form-control -plaintext" name="date" id="date" value="" style="width: 120px; display: inline-block;" >
                            <input type="time" class="form-control -plaintext" name="start_time" xid="start_time" value="" required="" style="width: 120px;  display: inline-block;" >
                        </div>
                    </div>
    
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Стоп работы</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control -plaintext" name="fin_time" id="toform_fin_date_time" value="" required="" style="width: 120px;" >
                            <small>Если время сдачи смены после 12 ночи, ставте 01:00 например</small>
                        </div>
                    </div>
    #}
                    </div>
                    <div class="modal-footer">

                        {#
                      <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Закрыть</button>
                      #}

                        <button type="submit" class="btn btn-sm btn-primary">Добавить</button>
                        <input type="hidden" name="action" id="action" value="goto_other_sp" >
                        <input type="hidden" name="id2" id="id2" value="" >
                        <input type="hidden" name="s2" id="s2" value="" >
                        <input type="hidden" name="print_res_to_id" id="print_res_to_id" value="" >
                        <input type="hidden" name="data-target2" id="data-target2" value="" >
                        <input type="hidden" name="jobman" id="jobman" value="" >
                        <input type="hidden" name="salepoint" id="salepoint" value="" >

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}




{# <!-- Modal добавить премию --> #}
{% if 1 == 1 %}
    {% if 1 == 2 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% include dir_mod_now_mod_ditpl~'body.modal_wind.add_bonus.htm' %}
    {% if 1 == 2 or timer_show == 'on' %} <br/>время 11 - добавить премию {{ didrive_f__timer_stop(5) }} {% endif %}
{% endif %}

{# <!-- Modal добавить взыскание --> #}
{% if 1 == 1 %}
    {% if 1 == 2 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% include dir_mod_now_mod_ditpl~'body.modal_wind.add_minus.htm' %}
    {% if 1 == 2 or timer_show == 'on' %} <br/>время 11 - добавить премию {{ didrive_f__timer_stop(5) }} {% endif %}
{% endif %}

{# <!-- Modal добавить комментарий --> #}
{% if 1 == 1 %}
    {% if 1 == 2 or timer_show == 'on' %} {{ didrive_f__timer_start(5) }}     {% endif %}
    {% include dir_mod_now_mod_ditpl~'body.modal_wind.add_comment.htm' %}
    {% if 1 == 2 or timer_show == 'on' %} <br/>время 11 - добавить премию {{ didrive_f__timer_stop(5) }} {% endif %}
{% endif %}

{# спец назначение 1 день, приглашение другого сотрудника на точку #}
{% if 1 == 1 %}
    <div class="bd-example">
        <div class="modal fade" id="setSpecNaznach" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        {#
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        #}
                        <h4 class="modal-title" id="exampleModalLabel">Спец. назначение 1 день</h4>
                    </div>

                    <form class="put_workman_on_sp" method="post" action="" >

                        <input type="hidden" id="add_spec_person__id" name="id" value="00" >
                        <input type="hidden" id="add_spec_person__s" name="s" value="00" >

                        <div class="modal-body">

                            <div class="form-group">

                                <label for="recipient-name" class="form-control-label">Точка продаж:</label>
                                <b id="add_person1day__sp_name" ></b>

                                <input type="hidden" id="add_spec__sp" name="sp" value="00" >
                                <input type="hidden" id="add_spec__sp_s" name="sp_s" value="00" >

                            </div>

                            <div class="form-group">

                                <label for="recipient-name" class="form-control-label">Сотрудник:</label>

                                {# add_person__workman #}

                                {% if 1 == 2 %}

                                    <b id="add_person1day__workman_fio" ></b>
                                    <input type="hidden" id="add_person1day__workman_id" name="user" value="" >

                                {% endif %}


                                фильтр списка<br/>

                                <input type="text" class="form-control" id="filtr_specfio" >

                                {#% set jobmans_on_add = jobdesc__get_list_for_specnaznach_jobmans(db) %#}
                                {% set jobmans_on_add = jobdesc__get_all_jobmans(db) %}
                                {#{ pa(jobmans_on_add) }#}

                                <select class="form-control select_addspec" name="user" id="add_person1day__user" required="requiered" >
                                    <option value="">выберите сотрудника</option>
                                    {% for u, u_da in jobmans_on_add %}
                                        {# <option value="{{ u_da.id }}" sp="{{ u_da.sp_id }}" dolgn="{{ u_da.dolgnost }}" >[{{ u_da.sp }}] {{ u_da.head }} ({{ u_da.dolgnost }})</option> #}
                                        <option value="{{ u_da.user_id }}" sp="{{ u_da.sp_id }}" {# dolgn="{{ u_da.dolgnost }}" #} >[{{ u_da.sp }}] {{ u_da.fio }} {{ u_da.bd ?? '' }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">Курит ? &nbsp; <input type="checkbox" name="smoke" value="da" > да, курит
                                </label>
                            </div>

                            <div class="form-group">

                                <label for="recipient-name" class="form-control-label">Должность:</label>

                                {#% set dolgnost_on_add = items__readItems(db,'061.dolgnost') %#}
                                {% set dolgnost_on_add = items__get(db,'061.dolgnost','show','id_id') %}
                                {#{{ pa(dolgnost_on_add) }}#}

                                <select class="form-control" name="dolgn" id="add_person1__dolgn" required="requiered" >
                                    <option value="">Выберите</option>
                                    {% for id, da in dolgnost_on_add %}
                                        <option value="{{ id }}">{{ da.head }}</option>
                                    {% endfor %}
                                </select>

                            </div>

                            <div class="form-group">
                                <label for="add_person1__date" class="form-control-label">Дата назначения:</label>
                                <input type="date" class="form-control" id="addspec_person1__date" name="date" 
                                       value="" placeholder="укажите" required="requiered" 
                                       readonly="readonly"
                                       >
                            </div>

                            {#
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">Message:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            #}

                        </div>

                        <div class="modal-footer">
                            {#
                            <button type="button" class="btn btn-xs btn-light" data-dismiss="modal">Close</button>
                            #}
                            <button type="submit" name="add_profi" value="yes" class="btn btn-success">Назначить</button>
                            <input type="hidden" name="type2" value="spec_naznach" />
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>                                    
{% endif %}

{% if 1 == 2 or timer_show == 'on' %} <br/>время 14 - добавить спец назначение {{ didrive_f__timer_stop(5) }} {% endif %}
